<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('Список шаблонов событий')" />
    <th:block th:include="include :: footer" />

    <script>
        $(function () {
            loadActivityFestivalType(); // Тип праздника
            loadActivityTag(); // Теги
            loadFestivalTypeAddTag();
        });

        function loadActivityTemplate() {
            var data = new FormData();
            data.append('activityTemplateFile', $("#activityTemplateFile").prop('files')[0]);
            $.ajax({
                url: prefixTemplate + "/loadActivityTemplate",
                method: 'POST',
                data: data,
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data.ok){
                        $("#activityTemplateLoadModel").modal('hide');
                        $.modal.alertSuccess(data.msg);
                        $.table.search();
                    }else {
                        $.modal.alertError(data.msg);
                        $.table.search();
                    }
                }
            });
        }

    </script>
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>Название шаблона:</label>
                                <input type="text" name="templateName"/>
                            </li>
                            <li>
                                <label>Тип события:</label>
                                <select id="type" name="type" onchange="" class="span2">
                                    <option value="1">Активные события (1)</option>
                                    <option value="2">Ежедневное пополнение (2)</option>
                                    <option value="3">Ежедневный вход (3)</option>
                                    <option value="4">Лимитированные наборы (4)</option>
                                    <option value="5">Сокровищница Небесного Императора (5)</option>
                                    <option value="6">Накопительное пополнение (6)</option>
                                    <option value="7">Накопительное потребление (7)</option>
                                    <option value="8">Обмен коллекционных предметов (8)</option>
                                    <option value="9">Групповая покупка (9)</option>
                                    <option value="10">Кот удачи (10)</option>
                                    <option value="11">Праздник боссов (11)</option>
                                    <option value="12">Праздничные задания (12)</option>
                                    <option value="13">Праздничный сбор символов (13)</option>
                                    <option value="14">Праздничные предложения (14)</option>
                                    <option value="15">Непрерывное накопление пополнений (15)</option>
                                    <option value="16">Временный магазин (16)</option>
                                    <option value="17">Праздничные наборы (17)</option>
                                    <option value="18">Рейтинг очков (18)</option>
                                    <option value="19">Праздничные желания (19)</option>
                                    <option value="20">Поделиться в Facebook (20)</option>
                                    <option value="21">Непрерывное накопление 2 (21)</option>
                                    <option value="22">Праздничные поздравления (22)</option>
                                    <option value="23">Бросок кубика (23)</option>
                                    <option value="24">Демонстрация внешности (24)</option>
                                    <option value="25">Демонстрация входа (25)</option>
                                    <option value="26">Сундук сокровищ (26)</option>
                                    <option value="27">Счастливый разбиватель яиц (27)</option>
                                    <option value="28">Счастливый нефрит (28)</option>
                                    <option value="29">Поиск сокровищ Фанцзэ (29)</option>
                                    <option value="-1" selected>Все</option>
                                </select>
                            </li>
                            <li>
                                <label>Тип праздника:</label>
                                <select id="subType2" name="subType" onchange="" class="span2">

                                </select>
                            </li>
                            <li>
                                <label>Теги:</label>
                                <select id="tag2" name="tag" onchange="" class="span2">

                                </select>
                            </li>
                            <li>
                                <label>Автопубликация при открытии:</label>
                                <select id="autoSend" name="autoSend" onchange="" class="span2">
                                    <option value="1">Да</option>
                                    <option value="0">Нет</option>
                                    <option value="-1" selected>Все</option>
                                </select>
                            </li>
                            <li>
                                <label>Событие нового сервера:</label>
                                <select id="isOpenServer" name="isOpenServer" onchange="" class="span2">
                                    <option value="1">Да</option>
                                    <option value="0">Нет</option>
                                    <option value="-1" selected>Все</option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;Поиск</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;Сброс</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()">
                    <i class="fa fa-remove"></i> Удалить
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()">
                    <i class="fa fa-download"></i> Экспорт
                </a>
                <a href="#activityTemplateLoadModel" role="button" class="btn btn-info" data-toggle="modal">
                    <i class="fa fa-upload"></i> Импорт
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        var prefixTemplate = ctx + "gmtool/activityTemplate";

        $(function() {
            var options = {
                sidePagination: "client",
                url: prefixTemplate + "/list",
                removeUrl: prefixTemplate + "/remove",
                exportUrl: prefixTemplate + "/export",
                importUrl: prefixTemplate + "/importData",
                maintainSelected: true,
                rememberSelected: true,
                modalName: "Шаблоны событий",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: 'ID'
                },
                {
                    field: 'templateName',
                    title: 'Название шаблона'
                },
                {
                    field: 'createTime',
                    title: 'Время создания'
                },
                {
                    field: 'type',
                    title: 'Тип события'
                },
                {
                    field: 'subType',
                    title: 'Подтип события'
                },
                {
                    field: 'minLv',
                    title: 'Минимальный уровень'
                },
                {
                    field: 'maxLv',
                    title: 'Максимальный уровень'
                },
                {
                    field: 'tag',
                    title: 'Метка события'
                },
                {
                    field: 'sort',
                    title: 'Порядок метки'
                },
                {
                    field: 'name',
                    title: 'Название события'
                },
                {
                    field: 'timeType',
                    title: 'Тип времени'
                },
                {
                    field: 'openServerOffsetBegin',
                    title: 'Дней с открытия сервера'
                },
                {
                    field: 'openServerOffset',
                    title: 'Длительность события (дней)'
                },
                {
                    field: 'beginTime',
                    title: 'Время начала события'
                },
                {
                    field: 'endTime',
                    title: 'Время окончания события'
                },
                {
                    field: 'openServerRecordOffsetBegin',
                    title: 'Начало записи с дня открытия сервера'
                },
                {
                    field: 'openServerRecordOffset',
                    title: 'Длительность записи (дней)'
                },
                {
                    field: 'startRecordTime',
                    title: 'Время начала записи'
                },
                {
                    field: 'endRecordTime',
                    title: 'Время окончания записи'
                },
                {
                    field: 'autoSend',
                    title: 'Автопубликация при открытии'
                },
                {
                    field: 'isOpenServer',
                    title: 'Событие нового сервера'
                },
                {
                    field: 'custom',
                    title: 'Пользовательские параметры',
                    formatter:formatterValue
                },
                {
                    field: 'description',
                    title: 'Описание шаблона'
                },
                {
                    title: 'Действия',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>Удалить</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
<!-- Область импорта -->
<div id="activityTemplateLoadModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Импорт данных шаблонов событий</h3>
            </div>
            <div class="modal-body">
                <input id="activityTemplateFile" type="file" name="activityTemplateFile"/>
                <label>Примечание: разрешены только файлы форматов "xls" или "xlsx"!</label>
            </div>
            <div class="modal-footer">
                <input type="button" value="Закрыть" class="btn" data-dismiss="modal" aria-hidden="true"/>
                <input type="button" value="Загрузить" onclick="loadActivityTemplate()" class="btn btn-primary"/>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
</html>