<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('Добавить задачу')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-job-add">
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">Название задачи:</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="jobName" id="jobName" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Группа задач:</label>
                <div class="col-sm-8">
                    <select name="jobGroup" class="form-control m-b" th:with="type=${@dict.getType('sys_job_group')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">Целевой вызов:</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="invokeTarget" id="invokeTarget" required>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> Пример вызова Bean: ryTask.ryParams('ry')</span>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> Пример вызова класса: com.ruoyi.quartz.task.RyTask.ryParams('ry')</span>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> Поддерживаемые типы параметров: строка, логический, длинное целое, число с плавающей точкой, целое</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">Выражение cron:</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="cronExpression" id="cronExpression" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Стратегия выполнения при пропуске:</label>
                <div class="col-sm-8">
                    <label class="radio-box"> <input type="radio" name="misfirePolicy" value="1" th:checked="true"/> Выполнить немедленно </label>
                    <label class="radio-box"> <input type="radio" name="misfirePolicy" value="2" /> Выполнить один раз </label>
                    <label class="radio-box"> <input type="radio" name="misfirePolicy" value="3" /> Пропустить выполнение </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Параллельное выполнение:</label>
                <div class="col-sm-8">
                    <label class="radio-box"> <input type="radio" name="concurrent" value="0"/> Разрешено </label>
                    <label class="radio-box"> <input type="radio" name="concurrent" value="1" th:checked="true"/> Запрещено </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Статус:</label>
                <div class="col-sm-8">
                    <div class="radio-box" th:each="dict : ${@dict.getType('sys_job_status')}">
                        <input type="radio" th:id="${dict.dictCode}" name="status" th:value="${dict.dictValue}" th:checked="${dict.default}">
                        <label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Примечание:</label>
                <div class="col-sm-8">
                    <textarea id="remark" name="remark" class="form-control"></textarea>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "monitor/job";

        $("#form-job-add").validate({
            onkeyup: false,
            rules:{
                cronExpression:{
                    remote: {
                        url: prefix + "/checkCronExpressionIsValid",
                        type: "post",
                        dataType: "json",
                        data: {
                            "cronExpression": function() {
                                return $.common.trim($("#cronExpression").val());
                            }
                        },
                        dataFilter: function(data, type) {
                            return data;
                        }
                    }
                },
            },
            messages: {
                "cronExpression": {
                    remote: "Некорректное выражение"
                }
            },
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-job-add').serialize());
            }
        }
    </script>
</body>
</html>