<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('Детали задачи')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">

    <form class="form-horizontal m-t" id="jobLogForm" th:if="${name == 'jobLog'}">
        <div class="form-group">
            <label class="col-sm-3 control-label">№ журнала:</label>
            <div class="form-control-static" th:text="${jobLog.jobLogId}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Название задачи:</label>
            <div class="form-control-static" th:text="${jobLog.jobName}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Группа задач:</label>
            <div class="form-control-static" th:text="${@dict.getLabel('sys_job_group', jobLog.jobGroup)}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Целевой вызов:</label>
            <div class="form-control-static" th:text="${jobLog.invokeTarget}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Сообщение журнала:</label>
            <div class="form-control-static" th:text="${jobLog.jobMessage}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Статус выполнения:</label>
            <div class="form-control-static" th:class="${jobLog.status == '0' ? 'label label-primary' : 'label label-danger'}" th:text="${jobLog.status == '0' ? 'Успешно' : 'Ошибка'}">
            </div>
        </div>
        <div class="form-group" th:style="'display:' + ${jobLog.status == '0' ? 'none' : 'block'}">
            <label class="col-sm-3 control-label">Информация об ошибке:</label>
            <div class="form-control-static" th:text="${jobLog.exceptionInfo}">
            </div>
        </div>
    </form>

    <form class="form-horizontal m-t" id="jobForm" th:if="${name == 'job'}">
        <div class="form-group">
            <label class="col-sm-3 control-label">№ задачи:</label>
            <div class="form-control-static" th:text="${job.jobId}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Название задачи:</label>
            <div class="form-control-static" th:text="${job.jobName}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Группа задач:</label>
            <div class="form-control-static" th:text="${job.jobGroup}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Целевой вызов:</label>
            <div class="form-control-static" th:text="${job.invokeTarget}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Выражение cron:</label>
            <div class="form-control-static" th:text="${job.cronExpression}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Следующее время выполнения:</label>
            <div class="form-control-static" th:text="${#dates.format(job.nextValidTime, 'yyyy-MM-dd HH:mm:ss')}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Стратегия выполнения при пропуске:</label>
            <div class="form-control-static" th:if="${job.misfirePolicy == '0'}">Стандартная</div>
            <div class="form-control-static" th:if="${job.misfirePolicy == '1'}">Выполнить немедленно</div>
            <div class="form-control-static" th:if="${job.misfirePolicy == '2'}">Выполнить один раз</div>
            <div class="form-control-static" th:if="${job.misfirePolicy == '3'}">Пропустить выполнение</div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Параллельное выполнение:</label>
            <div class="form-control-static" th:class="${job.concurrent == '0' ? 'label label-primary' : 'label label-danger'}" th:text="${job.concurrent == '0' ? 'Разрешено' : 'Запрещено'}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Статус выполнения:</label>
            <div class="form-control-static" th:class="${job.status == '0' ? 'label label-primary' : 'label label-danger'}" th:text="${job.status == '0' ? 'Активна' : 'Приостановлена'}">
            </div>
        </div>
    </form>

    </div>
</body>
</html>