<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('Активные события')" />
    <th:block th:include="include :: footer" />

    <script>
        $(function () {
            isActivityList = true;
            loadActivityFestivalType(); // Тип праздника
            loadActivityTag(); // Теги
            loadFestivalTypeAddTag();
            initActivityTable(0);
        });

    </script>

    <script>
        function validate() {
            return true;
        }
    </script>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <!-- Условия поиска для страницы обзора событий -->
            <form id="actListFormId" class="form-horizontal">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>Тип события:</label>
                            <select id="type" name="type" onchange="" class="span2">
                                <option value="1">Активные события (1)</option>
                                <option value="2">Ежедневное пополнение (2)</option>
                                <option value="3">Ежедневный вход (3)</option>
                                <option value="4">Лимитированные наборы (4)</option>
                                <option value="5">Сокровищница Небесного Императора (5)</option>
                                <option value="6">Накопительное пополнение (6)</option>
                                <option value="7">Накопительное потребление (7)</option>
                                <option value="8">Обмен коллекционных предметов (8)</option>
                                <option value="9">Групповая покупка (9)</option>
                                <option value="10">Кот удачи (10)</option>
                                <option value="11">Праздник боссов (11)</option>
                                <option value="12">Праздничные задания (12)</option>
                                <option value="13">Праздничный сбор символов (13)</option>
                                <option value="14">Праздничные предложения (14)</option>
                                <option value="15">Непрерывное накопление пополнений (15)</option>
                                <option value="16">Временный магазин (16)</option>
                                <option value="17">Праздничные наборы (17)</option>
                                <option value="18">Рейтинг очков (18)</option>
                                <option value="19">Праздничные желания (19)</option>
                                <option value="20">Поделиться в Facebook (20)</option>
                                <option value="21">Непрерывное накопление 2 (21)</option>
                                <option value="22">Праздничные поздравления (22)</option>
                                <option value="23">Бросок кубика (23)</option>
                                <option value="24">Демонстрация внешности (24)</option>
                                <option value="25">Демонстрация входа (25)</option>
                                <option value="26">Сундук сокровищ (26)</option>
                                <option value="27">Счастливый разбиватель яиц (27)</option>
                                <option value="28">Счастливый нефрит (28)</option>
                                <option value="29">Поиск сокровищ Фанцзэ (29)</option>
                                <option value="-1" selected>Все</option>
                            </select>
                        </li>
                        <li>
                            <label>Тип праздника:</label>
                            <select id="subType2" name="subtype2" onchange="" class="span2">

                            </select>
                        </li>
                        <li>
                            <label>Теги:</label>
                            <select id="tag2" name="tag2" onchange="" class="span2">

                            </select>
                        </li>
                        <li>
                            <label>Автопубликация при открытии:</label>
                            <select id="autoSend2" name="autoSend2" onchange="" class="span2">
                                <option value="1">Да</option>
                                <option value="0">Нет</option>
                                <option value="-1" selected>Все</option>
                            </select>
                        </li>
                        <li>
                            <label>Событие нового сервера:</label>
                            <select id="isOpenServer2" name="isOpenServer2" onchange="" class="span2">
                                <option value="1">Да</option>
                                <option value="0">Нет</option>
                                <option value="-1" selected>Все</option>
                            </select>
                        </li>
                        <li>
                            <label>Название события</label>
                            <input id="activityName" name="activityName" type="text">
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search('actListFormId','bootstrap-table')"><i class="fa fa-search"></i>&nbsp;Поиск</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;Сброс</a>
                        </li>
                    </ul>
                </div>
            </form>

        </div>

        <div th:replace="common/BaseActivity_footer.html"></div>

    </div>
</div>
</body>
</html>