<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('节日祝福')" />
    <th:block th:include="include :: footer" />

    <script>

        var actType = [[${type}]];
        var models=new Map();
        var count_01 = 0;
        var count_02 = 0;
        $(function () {
            getActivityType(actType);
            addHeightSet();
            load(actType);
            loadModel();
        });
        //加载所有模型库
        function loadModel() {
            $.ajax({
                url: ctx + "gmtool/activityConfig/getAllModel",
                method: "post",
                dataType: "json",
                async:false,
                success: function (data) {
                    if (!data.ok) {
                        $.modal.alertError("Model load failed");
                        return;
                    }
                    $.each(data.data, function (i, n) {
                        models.set(n.id + "",n.tips);
                    });
                }
            });
        }
    </script>

    <script>
        function addPlayerCfg(obj) {
            console.log(count_01);
            var rewardInput = 'dayReward' + count_01;
            var rewardAddBtn = 'showRewardModel' + count_01;
            count_01 += 1;
            var html = '<div name="cfg" class="input-group saltIp" style="">' +
                '<label class="input-group-addon">签到天数:</label>' +
                '<input type="text" class="form-control" name="day" onkeyup="value=value.replace(/\\D/g,\'\')" style="max-width:100px;">' +
                '<label class="input-group-addon">模型ID:</label>' +
                '<div class="col-md-12 col-sm-12 col-xs-12">' +
                '<select name="modelId" onchange="" class="form-control heightSet"></select>' +
                '</div>'+
                // '<input type="text" class="form-control" name="modelId" style="max-width:auto;" onkeyup="value=value.replace(/\\D/g,\'\')" placeholder="例：1001">' +
                '<label class="input-group-addon">奖励:</label>' +
                '<span class="input-group-btn" >' +
                '<button class="btn btn-info" type="button" data-toggle="tooltip" data-target="#addItemModal" title="奖励" id="' + rewardAddBtn +
                '"  style="border:5px;width: 35px;height: 34px;" onclick="showAddItemUI(' + rewardInput + ',' + rewardAddBtn + ')">' +
                '<span class="glyphicon glyphicon-plus"></span></button>' +
                '<div class="hide"><input id="' + rewardInput + '" name="dayReward"/></div>' +
                '</span>' +
                // '<input type="text" class="form-control" name="dayReward" style="max-width:auto;" placeholder="例：3_1_1_9;1017_1_1_9">' +
                '<span class="input-group-btn">' +
                '<button class="btn btn-info" type="button" data-toggle="tooltip" title="删除" onclick="delExChangeConfig(this)"><span class="glyphicon glyphicon-minus"></span></button>' +
                '</span>' +
                '</div>'
            obj.insertAdjacentHTML('beforeBegin', html);
            addHeightSet();
            loadModelData();
        }
        //删除配置
        function delExChangeConfig(obj) {
            $(obj).parent().parent().remove();
        }
        //下拉框选项生成
        var countModel=0;
        function loadModelData() {
            models.forEach(function(value, key) {
                $("select[name='modelId']").eq(countModel).append("<option value='" + key +"'>" + value +"</option>");
            });
            countModel+=1;
        }
    </script>

    <script>
        function addServerCfg(obj) {
            var rewardInput = 'serverReward' + count_02;
            var rewardAddBtn = 'showRewardModel2' + count_02;
            count_02 += 1;
            var html = '<div name="cfg" class="input-group saltIp" style="">' +
                '<label class="input-group-addon">宝箱ID:</label>' +
                '<input type="text" class="form-control" name="boxId" onkeyup="value=value.replace(/\\D/g,\'\')" style="max-width:100px;" placeholder="例：100">' +
                '<label class="input-group-addon">达成进度:</label>' +
                '<input type="text" class="form-control" name="need" onkeyup="value=value.replace(/\\D/g,\'\')" style="max-width:100px;" placeholder="例：500">' +
                '<label class="input-group-addon">奖励:</label>' +
                '<span class="input-group-btn" >' +
                '<button class="btn btn-info" type="button" data-toggle="tooltip" data-target="#addItemModal" title="奖励" id="' + rewardAddBtn +
                '"  style="border:5px;width: 35px;height: 34px;" onclick="showAddItemUI(' + rewardInput + ',' + rewardAddBtn + ')">' +
                '<span class="glyphicon glyphicon-plus"></span></button>' +
                '<div class="hide"><input id="' + rewardInput + '" name="serverReward"/></div>' +
                '</span>' +
                // '<input type="text" class="form-control" name="serverReward" style="max-width:auto;" placeholder="例：3_1_1_9;1017_1_1_9">' +
                '<span class="input-group-btn">' +
                '<button class="btn btn-info" type="button" data-toggle="tooltip" title="删除" onclick="delConfig(this)"><span class="glyphicon glyphicon-minus"></span></button>' +
                '</span>' +
                '</div>'
            obj.insertAdjacentHTML('beforeBegin', html);
            addHeightSet();
        }
        //删除配置
        function delConfig(obj) {
            $(obj).parent().parent().remove();
        }
    </script>

    <script>
        $(document).on('click', '#copyGridGroup', function () {
            var el = this.parentNode.parentNode
            var newEl = el.cloneNode(true);
            el.parentNode.insertBefore(newEl, el);
        })
        $(document).on('click', '#delGridGroup', function () {
            var el = this.parentNode.parentNode
            var saltIp = $(this).parent().parent().find('#saltIp').val()
            el.parentNode.removeChild(el)

            var count = $("#gridCount").val();
            if (count > 0) {
                count = Number(count) - 1;
                $("#gridCount").val(count);
            }
            return
        })
    </script>

    <script>
        function validate() {
            return true;
        }
    </script>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <div id="header">
                <h3>节日祝福<span class="glyphicon glyphicon-question-sign" title="活动配置说明"
                              data-container="body" data-toggle="popover" data-placement="right"
                              data-content="在配置活动的时候活动名字,支持多语言展示,需要运营人员使用一下副文本进行填写: [CH]中文简体[/CH][EN]英文[/EN][TW]中文繁体[/TW][KR]韩文[/KR][VIE]越南[/VIE][TH]泰文[/TH][JP]日文[/JP]"></span></h3>
            </div>
            <form id="activity_form" method="post" class="form-horizontal" action="#">
                <div th:replace="common/BaseActivity_header.html"></div>

                <div id="customForm">
                    <div id="costGroup" class="col-lg-12 col-sm-12 col-md-12">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-11">
                            <legend>补签配置</legend>
                            <fieldset>
                                <div name="cfgDiv" class="input-group saltIp">
                                    <label class="input-group-addon">补签道具ID:</label>
                                    <input name="buqianid" id="buqianid" value="" title="补签道具ID" placeholder="例：1017"
                                           type="text" class="form-control" onkeyup="value=value.replace(/\D/g,'')"/>
                                    <!--<span class="input-group-btn">-->
                        <!--<button class="btn btn-info" type="button" data-toggle="tooltip" title="补签配置" id="addGoldGiftBtn" onclick="showAddItemUI('i_GoldGift','addGoldGiftBtn')"><span class="glyphicon glyphicon-plus"></span></button>-->
                        <!--</span>-->
                                    <!--<input name="i_GoldGift" id="i_GoldGift" value="" type="text" class="hide"/>-->
                                    <label class="input-group-addon">补签消耗:</label>
                                    <input name="buqianCost" id="buqianCost" value="" title="补签消耗" placeholder="例：200"
                                           type="text" class="form-control" onkeyup="value=value.replace(/\D/g,'')"/>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div id="playerGroup" class="col-lg-12 col-sm-12 col-md-12">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-11">
                            <legend>签到配置</legend>
                            <fieldset>
                                <div class="input-group" id="serverPrcCfg">
                                    <label class="input-group-addon">奖励配置:</label>
                                    <button class="btn btn-info" type="button" data-toggle="tooltip" title="新增" id="playerGroupBtn"
                                            onclick="addPlayerCfg(this)"><span class="glyphicon glyphicon-plus"></span></button>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div id="serverGroup" class="col-lg-12 col-sm-12 col-md-12">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-11">
                            <legend>全服奖励</legend>
                            <fieldset>
                                <div class="input-group" id="serverRewardCfg">
                                    <label class="input-group-addon">奖励配置:</label>
                                    <button class="btn btn-info" type="button" data-toggle="tooltip" title="新增" id="addServerCfgBtn"
                                            onclick="addServerCfg(this)"><span class="glyphicon glyphicon-plus"></span></button>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </form>

            <div th:replace="common/import.html"></div>
        </div>

        <div th:replace="common/BaseActivity_footer.html"></div>

        <div th:replace="common/itemAddModel.html"></div>
    </div>
</div>
</body>
</html>