<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('活跃兑换')" />
    <th:block th:include="include :: footer" />

    <script>

        var actType = [[${type}]];
        $(function () {
            getActivityType(actType);

            load(actType);
        });

    </script>

    <script>
        function addSaltIpGrp(obj) {
            // console.log(obj);
            var html = '<div name="cfg1" class="input-group saltIp" style="width:100%;padding:0 0 1px 0;">' +
                '<label class="input-group-addon">消耗货币:</label>' +
                '<input type="text" class="form-control"  name="coinType" onkeyup="value=value.replace(/\\D/g,\'\')" style="">' +
                '<label class="input-group-addon">兑换活跃:</label>' +
                '<input type="text" class="form-control"  name="coinCv" onkeyup="value=value.replace(/\\D/g,\'\')" style="">' +
                '<span class="input-group-btn">' +
                '<button class="btn btn-info" type="button" data-toggle="tooltip" title="删除" id="delGridGroup"><span class="glyphicon glyphicon-minus"></span></button>' +
                '</span>' +
                '</div>'
            obj.insertAdjacentHTML('beforeBegin', html);
            addHeightSet();
        }
    </script>

    <script>
        function jiangliGrp(obj) {
            var count = $("#cfgCount2").val();
            var rewardInput = 'reward' + count
            var rewardAddBtn = 'showAddItemModel' + count
            $("#cfgCount2").val(Number(count)+1);
            var html = '<div name="cfg2" class="input-group saltIp" style="width:100%;padding:0 0 1px 0;">' +
                '<label class="input-group-addon">活动活跃:</label>' +
                '<input type="text" class="form-control"  name="reach" onkeyup="value=value.replace(/\\D/g,\'\')" style="">' +
                '<label class="input-group-addon">展示奖励项:</label>' +
                '<input type="text" class="form-control"  name="showReward" onkeyup="value=value.replace(/\\D/g,\'\')" style=";">' +
                '<label class="input-group-addon">奖励列表:</label>' +
                '<span class="input-group-btn" >' +
                '<button class="btn btn-info" type="button" data-toggle="tooltip" data-target="#addItemModal" title="添加奖励" id="' + rewardAddBtn +
                '"  style="border:5px;width: 35px;height: 34px;" onclick="showAddItemUI(' + rewardInput + ',' + rewardAddBtn + ')">' +
                '<span class="glyphicon glyphicon-plus"></span></button>' +
                '<div class="hide"><input id="' + rewardInput + '" name="reward"/></div>' +
                '</span>' +
                '<span class="input-group-btn">' +
                '<button class="btn btn-info" type="button" data-toggle="tooltip" title="删除" id="delGridGroup"><span class="glyphicon glyphicon-minus"></span></button>' +
                '</span>' +
                '</div>'

            obj.insertAdjacentHTML('beforeBegin', html);
            addHeightSet();
        }
    </script>

    <script>
        $('body').on('hidden.bs.modal', '.modal', function () {
            $(this).removeData('bs.modal');
        });
        $(document).on('click', '#delGridGroup', function () {
            var el = this.parentNode.parentNode
            var saltIp = $(this).parent().parent().find('#saltIp').val()
            el.parentNode.removeChild(el)
            return;
        });
    </script>

    <script>
        function validate() {
            return true;
        }
    </script>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <div id="header">
                <h3>活跃兑换<span class="glyphicon glyphicon-question-sign" title="活动配置说明"
                              data-container="body" data-toggle="popover" data-placement="right"
                              data-content="消耗货币：填入item表主键，代表消耗一个物品，可配置多条，多个货币消耗都可以兑换活跃<br/>
                              兑换活跃：每消耗一个货币兑换X点活跃点（活跃点用于领取奖励）<br/>"></span></h3>
            </div>
            <form id="activity_form" method="post" class="form-horizontal" action="#">
                <div th:replace="common/BaseActivity_header.html"></div>

                <div id="customForm">
                    <div class="col-lg-12 col-sm-12 col-md-12">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-6">
                            <legend>活动货币兑换</legend>
                            <fieldset>
                                <div class="input-group" id="saltIpGroup">
                                    <label class="input-group-addon">货币兑换配置:</label>
                                    <button class="btn btn-info" type="button" data-toggle="tooltip" title="新增" id="addSaltIpGrpBtn"
                                            onclick="addSaltIpGrp(this)"><span class="glyphicon glyphicon-plus"></span></button>
                                    <input type="hidden" id="cfgCount1" value="0">
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div class="col-lg-12 col-sm-12 col-md-12">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-11">
                            <legend>奖励数据兑换</legend>
                            <fieldset>
                                <div class="input-group" id="jianglishuju">
                                    <label class="input-group-addon">奖励数据配置:</label>
                                    <button class="btn btn-info" type="button" data-toggle="tooltip" title="新增" id="jiangliBtn"
                                            onclick="jiangliGrp(this)"><span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                    <input type="hidden" id="cfgCount2" value="0">
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </form>

            <div th:replace="common/import.html"></div>
        </div>

        <div th:replace="common/BaseActivity_footer.html"></div>

        <div th:replace="common/itemAddModel.html"></div>
    </div>
</div>
</body>
</html>