<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('Накопительное пополнение')" />
    <th:block th:include="include :: footer" />

    <script>

        var actType = [[${type}]];
        var count_01 = 0;
        $(function () {
            getActivityType(actType);

            load(actType);
        });

    </script>

    <script>
        function addSaltIpGrp(obj) {
            console.log(count_01);
            var fixRewardInput = 'i_fixRewardGroup' + count_01;
            var fixrewardAddBtn = 'showFixRewardModel' + count_01;
            var SelectRewardInput = 'i_SelectRewardGroup' + count_01;
            var SelectRewardAddBtn = 'showSelectRewardModel' + count_01;
            count_01 += 1;
            html = '<div name="cfg1" class="input-group saltIp" style="width:100%;padding:0 0 1px 0;">' +
                '<label class="input-group-addon">Целевое пополнение:</label>' +
                '<input type="text" class="form-control" id="i_reach" name="i_reach" placeholder="Пример: 1 (в центах)" onkeyup="value=value.replace(/\\D/g,\'\')" style="max-width:auto;">' +
                '<label class="input-group-addon">Фиксированная группа наград:</label>' +
                '<span class="input-group-btn" >' +
                '<button class="btn btn-info" type="button" data-toggle="tooltip" data-target="#addItemModal" title="Фиксированная группа наград" id="' + fixrewardAddBtn +
                '"  style="border:5px;width: 35px;height: 34px;" onclick="showAddItemUI(' + fixRewardInput + ',' + fixrewardAddBtn + ')">' +
                '<span class="glyphicon glyphicon-plus"></span></button>' +
                '<div class="hide"><input id="' + fixRewardInput + '" name="i_fixRewardGroup"/></div>' +
                '</span>' +
                // '<input type="text" class="form-control" id="i_fixRewardGroup" name="i_fixRewardGroup"  style="max-width:auto;">' +
                '<label class="input-group-addon">Выборочная группа наград:</label>' +
                '<span class="input-group-btn" >' +
                '<button class="btn btn-info" type="button" data-toggle="tooltip" data-target="#addItemModal" title="Выборочная группа наград" id="' + SelectRewardAddBtn +
                '"  style="border:5px;width: 35px;height: 34px;" onclick="showAddItemUI(' + SelectRewardInput + ',' + SelectRewardAddBtn + ')">' +
                '<span class="glyphicon glyphicon-plus"></span></button>' +
                '<div class="hide"><input id="' + SelectRewardInput + '" name="i_SelectRewardGroup"/></div>' +
                '</span>' +
                // '<input type="text" class="form-control" id="i_SelectRewardGroup" name="i_SelectRewardGroup"  style="max-width:auto;">' +
                '<label class="input-group-addon">Количество для выбора:</label>' +
                '<input type="text"  class="form-control" id="i_select" name="i_select" onkeyup="value=value.replace(/\\D/g,\'\')" style="max-width:auto;">' +
                '<span class="input-group-btn">' +
                '<button class="btn btn-info" type="button" data-toggle="tooltip" title="Удалить" onclick="delExChangeConfig(this)"><span class="glyphicon glyphicon-minus"></span></button>' +
                '</span>' +
                '</div>'
            obj.insertAdjacentHTML('beforeBegin', html)
        }
        // Удаление конфигурации
        function delExChangeConfig(obj) {
            $(obj).parent().parent().remove();
        }
    </script>

    <script>
        function validate() {
            return true;
        }
    </script>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <div id="header">
                <h3>Накопительное пополнение<span class="glyphicon glyphicon-question-sign" title="Описание конфигурации события"
                              data-container="body" data-toggle="popover" data-placement="right"
                              data-content="Целевое пополнение: в центах<br/>
                                Фиксированная награда: все указанные награды будут выданы игроку<br/>
                                Выборочная награда: игрок выбирает указанное количество наград из предложенного списка (количество указывается в параметре)"></span></h3>
            </div>
            <form id="activity_form" method="post" class="form-horizontal" action="#">
                <div th:replace="common/BaseActivity_header.html"></div>

                <div id="customForm">
                    <div class="col-lg-12 col-sm-12 col-md-12">
                        <!--<div class="col-lg-1"></div>-->
                        <div class="col-lg-12">
                            <legend>Конфигурация накопительного пополнения</legend>
                            <fieldset>
                                <div class="input-group" id="saltIpGroup">
                                    <label class="input-group-addon">Список конфигураций:</label>
                                    <button class="btn btn-info" type="button" data-toggle="tooltip" title="Добавить" id="addSaltIpGrpBtn"
                                            onclick="addSaltIpGrp(this)"><span class="glyphicon glyphicon-plus"></span></button>
                                    <input type="hidden" id="cfgCount1" value="0">
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </form>

            <div th:replace="common/import.html"></div>
        </div>

        <div th:replace="common/BaseActivity_footer.html"></div>

        <div th:replace="common/itemAddModel.html"></div>
    </div>
</div>
</body>
</html>