<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('Демонстрация входа')" />
    <th:block th:include="include :: footer" />

    <script>

        var actType = [[${type}]];
        $(function () {
            getActivityType(actType);
            addHeightSet();
            load(actType);
        });

    </script>

    <script>
        function validate() {
            return true;
        }
    </script>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <div id="header">
                <h3>Демонстрация входа<span class="glyphicon glyphicon-question-sign" title="Описание конфигурации события"
                              data-container="body" data-toggle="popover" data-placement="right"
                              data-content="При настройке события название события поддерживает многоязычное отображение. Используйте следующий синтаксис: [CH]Китайский (упрощ.)[/CH][EN]Английский[/EN][TW]Китайский (трад.)[/TW][KR]Корейский[/KR][VIE]Вьетнамский[/VIE][TH]Тайский[/TH][JP]Японский[/JP]"></span></h3>
            </div>
            <form id="activity_form" method="post" class="form-horizontal" action="#">
                <div th:replace="common/BaseActivity_header.html"></div>

                <div id="customForm">
                    <div class="col-lg-12 col-sm-12 col-md-12">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-11 ">
                            <legend>Конфигурация демонстрации входа</legend>
                            <div class="input-group saltIp" style="width:100%;padding:0 0 1px 0;">
                                <label class="input-group-addon">Изображение Сюаньцзянь:</label>
                                <input type="text" class="form-control " id="xuanJianPic" name="xuanJianPic" style="max-width:390px;">
                                <label class="input-group-addon">Изображение Тяньин:</label>
                                <input type="text" class="form-control " id="tianYingPic" name="tianYingPic" style="max-width:390px;">
                                <label class="input-group-addon">Изображение Дицзан:</label>
                                <input type="text" class="form-control " id="diZangPic" name="diZangPic" style="max-width:390px;">
                                <label class="input-group-addon">Изображение Лоча:</label>
                                <input type="text" class="form-control " id="luoChaPic" name="luoChaPic" style="max-width:390px;">
                                <label class="input-group-addon">Функция перехода:</label>
                                <input type="text" class="form-control " id="toFunction" name="toFunction" style="max-width:120px;">
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div th:replace="common/import.html"></div>
        </div>

        <div th:replace="common/BaseActivity_footer.html"></div>

        <div th:replace="common/itemAddModel.html"></div>
    </div>
</div>
</body>
</html>