<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('登陆展示')" />
    <th:block th:include="include :: footer" />

    <script>

        var actType = [[${type}]];
        $(function () {
            getActivityType(actType);
            addHeightSet();
            load(actType);
        });

    </script>

    <script>
        function validate() {
            return true;
        }
    </script>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <div id="header">
                <h3>登陆展示<span class="glyphicon glyphicon-question-sign" title="活动配置说明"
                              data-container="body" data-toggle="popover" data-placement="right"
                              data-content="在配置活动的时候活动名字,支持多语言展示,需要运营人员使用一下副文本进行填写: [CH]中文简体[/CH][EN]英文[/EN][TW]中文繁体[/TW][KR]韩文[/KR][VIE]越南[/VIE][TH]泰文[/TH][JP]日文[/JP]"></span></h3>
            </div>
            <form id="activity_form" method="post" class="form-horizontal" action="#">
                <div th:replace="common/BaseActivity_header.html"></div>

                <div id="customForm">
                    <div class="col-lg-12 col-sm-12 col-md-12">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-11 ">
                            <legend>登录展示配置</legend>
                            <div class="input-group saltIp" style="width:100%;padding:0 0 1px 0;">
                                <label class="input-group-addon">玄剑图片:</label>
                                <input type="text" class="form-control " id="xuanJianPic" name="xuanJianPic" style="max-width:390px;">
                                <label class="input-group-addon">天英图片:</label>
                                <input type="text" class="form-control " id="tianYingPic" name="tianYingPic" style="max-width:390px;">
                                <label class="input-group-addon">地藏图片:</label>
                                <input type="text" class="form-control " id="diZangPic" name="diZangPic" style="max-width:390px;">
                                <label class="input-group-addon">罗刹图片:</label>
                                <input type="text" class="form-control " id="luoChaPic" name="luoChaPic" style="max-width:390px;">
                                <label class="input-group-addon">跳转功能:</label>
                                <input type="text" class="form-control " id="toFunction" name="toFunction" style="max-width:120px;">
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div th:replace="common/import.html"></div>
        </div>

        <div th:replace="common/BaseActivity_footer.html"></div>

        <div th:replace="common/itemAddModel.html"></div>
    </div>
</div>
</body>
</html>