<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('Счастливый разбиватель яиц')" />
    <th:block th:include="include :: footer" />

    <script>

        var actType = [[${type}]];
        var count_00 = 0;
        var count_01 = 0;
        var count_02 = 0;
        var count_03 = 0;
        var count_04 = 0;
        var count_05 = 0;
        var count_06 = 0;
        var count_07 = 0;
        $(function () {
            getActivityType(actType);
            addHeightSet();
            load(actType);
        });

    </script>

    <script>
        function addShowGridCfg(obj) {
            // var count = $("#gridCount").val();
            // count=Number(count)+1;
            // $("#gridCount").val(count);
            var rewardInput = 'grids' + count_00;
            var rewardAddBtn = 'showAddItemModel' + count_00;
            count_00 += 1;
            html = '<div name="cfg0" class="input-group saltIp" style="width:100%;padding:0 0 1px 0;">' +
                '<label class="input-group-addon">Позиция: '+count_00+'</label>' +
                // '<input type="text" class="form-control" id="p_round" name="p_round" onkeyup="value=value.replace(/\\D/g,\'\')" style="max-width:100px;">' +
                '<label class="input-group-addon">Награда:</label>' +
                // '<input type="text" class="form-control" id="g_reward" name="g_reward" style="max-width:auto;">' +
                '<span class="input-group-btn" >' +
                '<button class="btn btn-info" type="button" data-toggle="tooltip" data-target="#addItemModal" title="Добавить награду" id="' + rewardAddBtn +
                '"  style="border:5px;width: 35px;height: 34px;" onclick="showAddItemUILimit(' + rewardInput + ',' + rewardAddBtn + ',4)">' +
                '<span class="glyphicon glyphicon-plus"></span></button>' +
                '<div class="hide"><input id="' + rewardInput + '" name="grids"/></div>' +
                // '</span>' +
                // '<span class="input-group-btn">' +
                '<button class="btn btn-info" type="button" data-toggle="tooltip" title="Удалить" onclick="delConfig(this)"><span class="glyphicon glyphicon-minus"></span></button>' +
                '</span>' +
                '</div>'
            obj.insertAdjacentHTML('beforeBegin', html);
            addHeightSet();
        }
        function delConfig(obj) {
            $(obj).parent().parent().remove();
        }
    </script>

    <script>
        function jiangliGrpOne(obj) {
            var rewardInput = 'i_reward_one' + count_01;
            var rewardAddBtn = 'showRewardModel2' + count_01;
            count_01 += 1;
            html = '<div name="cfg1" class="input-group saltIp" style="width:100%;padding:0 0 1px 0;">' +
                '<label class="input-group-addon">Вес для предметного розыгрыша:</label>' +
                '<input type="text" class="form-control" id="i_item_weight_one" name="i_item_weight_one" onkeyup="value=value.replace(/\\D/g,\'\')">' +
                '<label class="input-group-addon">Вес для розыгрыша за золотые слитки:</label>' +
                '<input type="text" class="form-control" id="i_gold_weight_one" name="i_gold_weight_one" onkeyup="value=value.replace(/\\D/g,\'\')">' +
                '<label class="input-group-addon">Специальное отображение:</label>' +
                '<div class="col-md-12 col-sm-12 col-xs-12">' +
                '<select name="isShow_one" onchange="" class="form-control">' +
                '<option value="0">Нет</option>' +
                '<option value="1">Да</option>' +
                '</select>' +
                '</div>'+
                '<label class="input-group-addon">Награда:</label>' +
                '<span class="input-group-btn" >' +
                '<button class="btn btn-info" type="button" data-toggle="tooltip" data-target="#addItemModal" title="Награда" id="' + rewardAddBtn +
                '"  style="border:5px;width: 35px;height: 34px;" onclick="showAddItemUILimit(' + rewardInput + ',' + rewardAddBtn + ',4)">' +
                '<span class="glyphicon glyphicon-plus"></span></button>' +
                '<div class="hide"><input id="' + rewardInput + '" name="i_reward_one"/></div>' +
                '</span>' +
                '<span class="input-group-btn">' +
                '<button class="btn btn-info" type="button" data-toggle="tooltip" title="Удалить" onclick="delConfig1(this)"><span class="glyphicon glyphicon-minus"></span></button>' +
                // '<button class="btn btn-info" type="button" data-toggle="tooltip" title="Копировать" id="copyGridGroup"><span class="glyphicon glyphicon-copy"></span></button>' +
                '</span>' +
                '</div>';
            obj.insertAdjacentHTML('beforeBegin', html);
            addHeightSet();
        }
        function delConfig1(obj) {
            $(obj).parent().parent().remove();
        }
    </script>

    <script>
        function jiangliGrpTwo(obj) {
            var rewardInput = 'i_reward_two' + count_02;
            var rewardAddBtn = 'showRewardModel3' + count_02;
            count_02 += 1;
            html = '<div name="cfg2" class="input-group saltIp" style="width:100%;padding:0 0 1px 0;">' +
                '<label class="input-group-addon">Вес для предметного розыгрыша:</label>' +
                '<input type="text" class="form-control" id="i_item_weight_two" name="i_item_weight_two" onkeyup="value=value.replace(/\\D/g,\'\')">' +
                '<label class="input-group-addon">Вес для розыгрыша за золотые слитки:</label>' +
                '<input type="text" class="form-control" id="i_gold_weight_two" name="i_gold_weight_two" onkeyup="value=value.replace(/\\D/g,\'\')">' +
                '<label class="input-group-addon">Специальное отображение:</label>' +
                '<div class="col-md-12 col-sm-12 col-xs-12">' +
                '<select name="isShow_two" onchange="" class="form-control">' +
                '<option value="0">Нет</option>' +
                '<option value="1">Да</option>' +
                '</select>' +
                '</div>'+
                '<label class="input-group-addon">Награда:</label>' +
                '<span class="input-group-btn" >' +
                '<button class="btn btn-info" type="button" data-toggle="tooltip" data-target="#addItemModal" title="Награда" id="' + rewardAddBtn +
                '"  style="border:5px;width: 35px;height: 34px;" onclick="showAddItemUILimit(' + rewardInput + ',' + rewardAddBtn + ',4)">' +
                '<span class="glyphicon glyphicon-plus"></span></button>' +
                '<div class="hide"><input id="' + rewardInput + '" name="i_reward_two"/></div>' +
                '</span>' +
                '<span class="input-group-btn">' +
                '<button class="btn btn-info" type="button" data-toggle="tooltip" title="Удалить" onclick="delConfig2(this)"><span class="glyphicon glyphicon-minus"></span></button>' +
                // '<button class="btn btn-info" type="button" data-toggle="tooltip" title="Копировать" id="copyGridGroup"><span class="glyphicon glyphicon-copy"></span></button>' +
                '</span>' +
                '</div>';
            obj.insertAdjacentHTML('beforeBegin', html);
            addHeightSet();
        }
        function delConfig2(obj) {
            $(obj).parent().parent().remove();
        }
    </script>

    <script>
        function jiangliGrpThree(obj) {
            var rewardInput = 'i_reward_three' + count_03;
            var rewardAddBtn = 'showRewardModel4' + count_03;
            count_03 += 1;
            html = '<div name="cfg3" class="input-group saltIp" style="width:100%;padding:0 0 1px 0;">' +
                '<label class="input-group-addon">Вес для предметного розыгрыша:</label>' +
                '<input type="text" class="form-control" id="i_item_weight_three" name="i_item_weight_three" onkeyup="value=value.replace(/\\D/g,\'\')">' +
                '<label class="input-group-addon">Вес для розыгрыша за золотые слитки:</label>' +
                '<input type="text" class="form-control" id="i_gold_weight_three" name="i_gold_weight_three" onkeyup="value=value.replace(/\\D/g,\'\')">' +
                '<label class="input-group-addon">Специальное отображение:</label>' +
                '<div class="col-md-12 col-sm-12 col-xs-12">' +
                '<select name="isShow_three" onchange="" class="form-control">' +
                '<option value="0" selected>Нет</option>' +
                '</select>' +
                '</div>'+
                '<label class="input-group-addon">Награда:</label>' +
                '<span class="input-group-btn" >' +
                '<button class="btn btn-info" type="button" data-toggle="tooltip" data-target="#addItemModal" title="Награда" id="' + rewardAddBtn +
                '"  style="border:5px;width: 35px;height: 34px;" onclick="showAddItemUILimit(' + rewardInput + ',' + rewardAddBtn + ',4)">' +
                '<span class="glyphicon glyphicon-plus"></span></button>' +
                '<div class="hide"><input id="' + rewardInput + '" name="i_reward_three"/></div>' +
                '</span>' +
                '<span class="input-group-btn">' +
                '<button class="btn btn-info" type="button" data-toggle="tooltip" title="Удалить" onclick="delConfig3(this)"><span class="glyphicon glyphicon-minus"></span></button>' +
                // '<button class="btn btn-info" type="button" data-toggle="tooltip" title="Копировать" id="copyGridGroup"><span class="glyphicon glyphicon-copy"></span></button>' +
                '</span>' +
                '</div>';
            obj.insertAdjacentHTML('beforeBegin', html);
            addHeightSet();
        }
        function delConfig3(obj) {
            $(obj).parent().parent().remove();
        }
    </script>

    <script>

    </script>

    <script>
        function countRewardGrp(obj) {
            var rewardInput = 'i_countReward' + count_05;
            var rewardAddBtn = 'showRewardModel5' + count_05;
            count_05 += 1;
            html = '<div name="cfg5" class="input-group saltIp" style="width:100%;padding:0 0 1px 0;">' +
                '<label class="input-group-addon">Количество разбиваний:</label>' +
                '<input type="text" class="form-control" id="i_countReward_num" name="i_countReward_num" onkeyup="value=value.replace(/\\D/g,\'\')">' +
                '<label class="input-group-addon">Накопительная награда:</label>' +
                '<span class="input-group-btn" >' +
                '<button class="btn btn-info" type="button" data-toggle="tooltip" data-target="#addItemModal" title="Награда" id="' + rewardAddBtn +
                '"  style="border:5px;width: 35px;height: 34px;" onclick="showAddItemUI(' + rewardInput + ',' + rewardAddBtn + ')">' +
                '<span class="glyphicon glyphicon-plus"></span></button>' +
                '<div class="hide"><input id="' + rewardInput + '" name="i_countReward"/></div>' +
                '</span>' +
                '<span class="input-group-btn">' +
                '<button class="btn btn-info" type="button" data-toggle="tooltip" title="Удалить" onclick="delConfig5(this)"><span class="glyphicon glyphicon-minus"></span></button>' +
                // '<button class="btn btn-info" type="button" data-toggle="tooltip" title="Копировать" id="copyGridGroup"><span class="glyphicon glyphicon-copy"></span></button>' +
                '</span>' +
                '</div>';
            obj.insertAdjacentHTML('beforeBegin', html);
            addHeightSet();
        }
        function delConfig5(obj) {
            $(obj).parent().parent().remove();
        }
    </script>

    <script>
        $(document).on('click', '#delGridGroup', function () {
            var el = this.parentNode.parentNode
            var saltIp = $(this).parent().parent().find('#saltIp').val()
            el.parentNode.removeChild(el)
            return;
        })
    </script>

    <script>
        function validate() {
            if (checkBaodi() && checkBaoDiRange() && checkBaoDiRangeInfo()){
                return true;
            }else {
                return false;
            }
        }
    </script>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <div id="header">
                <h3>Счастливый разбиватель яиц<span class="glyphicon glyphicon-question-sign" title="Описание конфигурации события"
                              data-container="body" data-toggle="popover" data-placement="right"
                              data-content="При настройке события название события поддерживает многоязычное отображение. Используйте следующий синтаксис: [CH]Китайский (упрощ.)[/CH][EN]Английский[/EN][TW]Китайский (трад.)[/TW][KR]Корейский[/KR][VIE]Вьетнамский[/VIE][TH]Тайский[/TH][JP]Японский[/JP]"></span></h3>
            </div>
            <form id="activity_form" method="post" class="form-horizontal" action="#">
                <div th:replace="common/BaseActivity_header.html"></div>

                <div id="customForm">
                    <div id="showGridGroup" class="col-lg-12 col-sm-12 col-md-12">
                        <!--<div class="col-lg-1"></div>-->
                        <div class="col-lg-11">
                            <legend>Отображение наград на клиентской стороне</legend>
                            <fieldset>
                                <div class="input-group" id="showGridCfg">
                                    <label class="input-group-addon">Демонстрация наград:</label>
                                    <input id="gridCount" type="hidden" value="">
                                    <button class="btn btn-info" type="button" data-toggle="tooltip" title="Добавить" id="addShowGridCfgBtn"
                                            onclick="addShowGridCfg(this)"><span class="glyphicon glyphicon-plus"></span></button>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div id="costGroup" class="col-lg-12 col-sm-12 col-md-12">
                        <!--<div class="col-lg-1"></div>-->
                        <div class="col-lg-12">
                            <legend>Предметы для разбивания яиц</legend>
                            <fieldset>
                                <div class="input-group saltIp">
                                    <label class="input-group-addon">ID предмета:</label>
                                    <input name="i_costItem" id="i_costItem"
                                           type="text" class=" form-control" onkeyup="value=value.replace(/\D/g,'')"/>
                                    <label class="input-group-addon">Затраты предметов за одно разбивание:</label>
                                    <input name="i_oneCostItem" id="i_oneCostItem"
                                           type="text" class=" form-control" onkeyup="value=value.replace(/\D/g,'')" value="1" readonly/>
                                    <label class="input-group-addon">Золотых слитков за одно разбивание:</label>
                                    <input name="i_oneCostGold" id="i_oneCostGold"
                                           type="text" class=" form-control" onkeyup="value=value.replace(/\D/g,'')"/>
                                    <label class="input-group-addon">Дневной лимит разбиваний:</label>
                                    <input name="dailyLimitCount" id="dailyLimitCount"
                                           type="text" class=" form-control" onkeyup="value=value.replace(/\D/g,'')"/>
                                    <label class="input-group-addon">Бонусный предмет:</label>
                                    <span class="input-group-btn">
                            <button class="btn btn-info" type="button" data-toggle="tooltip" title="Бонусный предмет" id="addGiveGiftBtn"
                                    onclick="showAddItemUILimit(i_GiveGift,addGiveGiftBtn,1)"><span class="glyphicon glyphicon-plus"></span></button>
                            <input type="hidden" id="cfgCount1" value="0">
                        </span>
                                    <input name="i_GiveGift" id="i_GiveGift" value="" type="text" class=" hide"/>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div id="itemWeight" class="col-lg-6 col-sm-6 col-md-6">
                        <!--<div class="col-lg-1"></div>-->
                        <div class="col-lg-12">
                            <legend>Веса для предметного розыгрыша</legend>
                            <fieldset>
                                <div class="input-group saltIp">
                                    <label class="input-group-addon">Вес пасхального яйца:</label>
                                    <input name="i_item_one" id="i_item_one" value=""
                                           type="text" class=" form-control" onkeyup="value=value.replace(/\D/g,'')"/>
                                    <label class="input-group-addon">Вес золотого яйца:</label>
                                    <input name="i_item_two" id="i_item_two" value=""
                                           type="text" class=" form-control" onkeyup="value=value.replace(/\D/g,'')"/>
                                    <label class="input-group-addon">Вес серебряного яйца:</label>
                                    <input name="i_item_three" id="i_item_three"
                                           type="text" class=" form-control" onkeyup="value=value.replace(/\D/g,'')"/>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div id="goldWeight" class="col-lg-6 col-sm-6 col-md-6">
                        <!--<div class="col-lg-1"></div>-->
                        <div class="col-lg-12">
                            <legend>Веса для розыгрыша за золотые слитки</legend>
                            <fieldset>
                                <div class="input-group saltIp">
                                    <label class="input-group-addon">Вес пасхального яйца:</label>
                                    <input name="i_gold_one" id="i_gold_one" value=""
                                           type="text" class=" form-control" onkeyup="value=value.replace(/\D/g,'')"/>
                                    <label class="input-group-addon">Вес золотого яйца:</label>
                                    <input name="i_gold_two" id="i_gold_two" value=""
                                           type="text" class=" form-control" onkeyup="value=value.replace(/\D/g,'')"/>
                                    <label class="input-group-addon">Вес серебряного яйца:</label>
                                    <input name="i_gold_three" id="i_gold_three"
                                           type="text" class=" form-control" onkeyup="value=value.replace(/\D/g,'')"/>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div id="rewardPool" class="col-lg-12 col-sm-12 col-md-12">
                        <!--<div class="col-lg-1"></div>-->
                        <div class="col-lg-12">
                            <legend>Конфигурация пула наград</legend>
                            <fieldset>
                                <div style="margin-top: 5px" class="input-group" id="jianglishujuone">
                                    <label class="input-group-addon">Данные пула пасхального яйца:</label>
                                    <button class="btn btn-info" type="button" data-toggle="tooltip" title="Добавить" id="jiangliBtnOne"
                                            onclick="jiangliGrpOne(this)"><span class="glyphicon glyphicon-plus"></span></button>
                                </div>
                                <div style="margin-top: 5px" class="input-group" id="jianglishujutwo">
                                    <label class="input-group-addon">Данные пула золотого яйца:</label>
                                    <button class="btn btn-info" type="button" data-toggle="tooltip" title="Добавить" id="jiangliBtnTwo"
                                            onclick="jiangliGrpTwo(this)"><span class="glyphicon glyphicon-plus"></span></button>
                                </div>
                                <div style="margin-top: 5px" class="input-group" id="jianglishujuthree">
                                    <label class="input-group-addon">Данные пула серебряного яйца:</label>
                                    <button class="btn btn-info" type="button" data-toggle="tooltip" title="Добавить" id="jiangliBtnThree"
                                            onclick="jiangliGrpThree(this)"><span class="glyphicon glyphicon-plus"></span></button>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div id="luckyGroup" class="col-lg-5 col-sm-5 col-md-5">
                        <!--<div class="col-lg-1"></div>-->
                        <div class="col-lg-12">
                            <legend>Настройка удачи</legend>
                            <fieldset>
                                <div class="input-group saltIp">
                                    <label class="input-group-addon">Удача за одно участие:</label>
                                    <input name="oneLuckyValue" id="oneLuckyValue"
                                           type="text" class=" form-control" style="width:100px;" onkeyup="value=value.replace(/\D/g,'')"/>
                                    <label class="input-group-addon">Список наград:</label>
                                    <span class="input-group-btn">
                            <button class="btn btn-info" type="button" data-toggle="tooltip" title="Список наград" id="addOneLuckyBtn"
                                    onclick="showAddItemUI('luckyAwardGift','addOneLuckyBtn')"><span class="glyphicon glyphicon-plus"></span></button>
                            <input type="hidden" id="cfgCount4" value="0">
                        </span>
                                    <input name="luckyAwardGift" id="luckyAwardGift" value="" type="text" class=" hide"/>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div id="refreshPool" class="col-lg-12 col-sm-12 col-md-12">
                        <!--<div class="col-lg-1"></div>-->
                        <div class="col-lg-12">
                            <legend>Конфигурация обновления пасхальных яиц</legend>
                            <fieldset>
                                <div class="input-group saltIp">
                                    <label class="input-group-addon">ID предмета для обновления:</label>
                                    <input name="i_refresh_item" id="i_refresh_item" value=""
                                           type="text" class=" form-control" onkeyup="value=value.replace(/\D/g,'')"/>
                                    <label class="input-group-addon" style="display: none">Количество предметов для обновления:</label>
                                    <input name="i_refresh_item_num" style="display: none" id="i_refresh_item_num" value="1" readonly
                                           type="text" class=" form-control" onkeyup="value=value.replace(/\D/g,'')"/>
                                    <label class="input-group-addon">Золотых слитков для обновления:</label>
                                    <input name="i_refresh_gold_num" id="i_refresh_gold_num" value=""
                                           type="text" class=" form-control" onkeyup="value=value.replace(/\D/g,'')"/>
                                    <label class="input-group-addon">Гарантированное появление пасхального яйца через N обновлений:</label>
                                    <input name="i_refresh" id="i_refresh" value=""
                                           type="text" class=" form-control" onkeyup="value=value.replace(/\D/g,'')"/>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div id="countReward" class="col-lg-12 col-sm-12 col-md-12">
                        <!--<div class="col-lg-1"></div>-->
                        <div class="col-lg-12">
                            <legend>Накопительные награды</legend>
                            <fieldset>
                                <div class="input-group" id="countRewardshuju">
                                    <label class="input-group-addon">Накопительные награды:</label>
                                    <button class="btn btn-info" type="button" data-toggle="tooltip" title="Добавить" id="countRewardBtn"
                                            onclick="countRewardGrp(this)"><span class="glyphicon glyphicon-plus"></span></button>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div id="freeGiftPool" class="col-lg-5 col-sm-5 col-md-5">
                        <!--<div class="col-lg-1"></div>-->
                        <div class="col-lg-12">
                            <legend>Бесплатные подарки</legend>
                            <fieldset>
                                <div class="input-group saltIp">
                                    <label class="input-group-addon">Время в сети:</label>
                                    <input name="onLineTime" id="onLineTime"
                                           type="text" class=" form-control" style="width:100px;" placeholder="в минутах" onkeyup="value=value.replace(/\D/g,'')"/>
                                    <label class="input-group-addon">Дневной лимит:</label>
                                    <input name="timesLimit" id="timesLimit"
                                           type="text" class=" form-control" style="width:100px;" placeholder="раз/день" onkeyup="value=value.replace(/\D/g,'')"/>
                                    <label class="input-group-addon">Награда предметами:</label>
                                    <span class="input-group-btn">
                                        <button class="btn btn-info" type="button" data-toggle="tooltip" title="Список наград" id="freeGiftBtn"
                                                onclick="showAddItemUI('freeGift','freeGiftBtn')"><span class="glyphicon glyphicon-plus"></span></button>
                                    </span>
                                    <input name="freeGift" id="freeGift" value="" type="text" class=" hide"/>
                                </div>
                            </fieldset>
                        </div>
                    </div>


                    <div id="baodiPool" class="col-lg-12 col-sm-12 col-md-12">
                        <!--<div class="col-lg-1"></div>-->
                        <div class="col-lg-11">
                            <legend>Конфигурация гарантированных попыток</legend>
                            <fieldset>
                                <div class="input-group" id="baodishuju">
                                    <label class="input-group-addon">Гарантированные попытки:</label>
                                    <button class="btn btn-info" type="button" data-toggle="tooltip" title="Добавить" id="baoDiBtn"
                                            onclick="baoDiGrp(this)"><span class="glyphicon glyphicon-plus"></span></button>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </form>

            <div th:replace="common/import.html"></div>
        </div>

        <div th:replace="common/BaseActivity_footer.html"></div>

        <div th:replace="common/itemAddModel.html"></div>
    </div>
</div>
</body>
</html>