<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('Поиск сокровищ в Стране чудес')" />
    <th:block th:include="include :: footer" />

    <script>

        var actType = [[${type}]];
        var count_01 = 0;
        var count_02 = 0;
        var count_03 = 0;
        var count_06 = 0;
        var count_07 = 0;
        var rewardGrpCount = 0;

        $(function () {
            getActivityType(actType);
            addHeightSet();
            load(actType);

            for (var i = 1; i <= 3; i++) {
                // По умолчанию отображаются 3 пула наград
                addRewardGrp();
            }
        });

    </script>

    <script>
        // Добавление настройки пула наград
        function addRewardGrp() {
            rewardGrpCount += 1;

            // Количество пулов наград должно быть от 3 до 5 включительно
            if (rewardGrpCount <= 5) {
                addReward(rewardGrpCount);
                addWeightGrp($("#addWeightGrpBtn" + rewardGrpCount).get(0));
                addBoxWeightGrp($("#addBoxWeightGrpBtn" + rewardGrpCount).get(0));
            } else if (rewardGrpCount > 5) {
                rewardGrpCount -= 1;
                $.modal.alertError("Количество пулов наград не может превышать 5!");
            }
        }

        function addReward(rewardGrpCount) {

            html = '<div class="col-lg-12 col-sm-12 col-md-12" name="cfg1">' +
                '<div class="col-lg-12 ">' +

                // '<legend>Данные пула наград 1</legend>' +

                '<fieldset>' +

                '<div class="input-group" id="saltIpGroup" style="margin-top: 25px">' +

                '<label class="input-group-addon">Пул наград ' + rewardGrpCount + ':</label>' +

                '<div class="input-group saltIp" style="width:100%;padding:0 0 1px 0;">' +

                '<label class="input-group-addon">Название вкладки розыгрыша:</label>' +
                '<input type="text" class="form-control" id="lotteryTabName" name="lotteryTabName" style="max-width:100px;">' +

                '<label class="input-group-addon">Количество ключей для розыгрыша:</label>' +
                '<input type="text" class="form-control" id="lotteryNeedKey" name="lotteryNeedKey" onkeyup="value=value.replace(/\\D/g,\'\')" style="max-width:100px;">' +

                '<label class="input-group-addon">Очки за один розыгрыш:</label>' +
                '<input type="text" class="form-control" id="lotteryGetScore" name="lotteryGetScore" onkeyup="value=value.replace(/\\D/g,\'\')" style="max-width:100px;">' +

                '<label class="input-group-addon">Название карты слева сверху:</label>' +
                '<input type="text" class="form-control" id="leftTopLotteryMapName" name="leftTopLotteryMapName" style="max-width:100px;">' +

                '<label class="input-group-addon">Название карты справа сверху:</label>' +
                '<input type="text" class="form-control" id="rightTopLotteryMapName" name="rightTopLotteryMapName" style="max-width:100px;">' +

                '<label class="input-group-addon">Название карты слева снизу:</label>' +
                '<input type="text" class="form-control" id="leftBottomLotteryMapName" name="leftBottomLotteryMapName" style="max-width:100px;">' +

                '<label class="input-group-addon">Название карты справа снизу:</label>' +
                '<input type="text" class="form-control" id="rightBottomLotteryMapName" name="rightBottomLotteryMapName" style="max-width:100px;">' +

                '<span class="input-group-btn">' +
                '<button class="btn btn-info" type="button" style="margin-left: 80px" data-toggle="tooltip" title="Удалить" onclick="delConfig(this)">' +
                '<span class="glyphicon glyphicon-minus"></span>' +
                '</button>' +

                // '<button class="btn btn-info" type="button" data-toggle="tooltip" title="Копировать" id="copyGridGroup"><span class="glyphicon glyphicon-copy"></span></button>' +

                '</span>' +
                '</div>' +
                '</div>' +

                '<div class="input-group saltIp" style="margin-top: 5px">' +
                '<button class="btn btn-info" type="button" data-toggle="tooltip" title="Добавить награду" id="addWeightGrpBtn' + rewardGrpCount + '" onclick="addWeightGrp(this)">' +
                '<span class="glyphicon glyphicon-plus"></span>' +
                '</button>' +
                '</div>' +

                '<div class="input-group saltIp" style="margin-top: 5px">' +
                '<label class="input-group-addon">ID сундука с сокровищами:</label>' +
                '<input type="text" class="form-control" id="treasureChestId" name="treasureChestId" onkeyup="value=value.replace(/\\D/g,\'\')" style="max-width:100px;">' +
                '</div>' +

                '<div class="input-group saltIp" style="margin-top: 1px">' +
                '<button class="btn btn-info" type="button" data-toggle="tooltip" title="Добавить награду сундука" id="addBoxWeightGrpBtn' + rewardGrpCount + '" onclick="addBoxWeightGrp(this)">' +
                '<span class="glyphicon glyphicon-plus"></span>' +
                '</button>' +
                '</div>' +

                '<div class="hide">' +
                '<input name="curRewardCount" value="' + rewardGrpCount + '"/>' +
                '</div>' +

                '</fieldset>' +
                '</div>' +
                '</div>';

            rewardConfig.insertAdjacentHTML('beforeBegin', html);
            addHeightSet();
        }

        // Удаление настройки пула наград
        function delConfig(obj) {

            var curRewardCount = $(obj)
                .parent()
                .parent()
                .parent()
                .parent()
                .find("input[name='curRewardCount']")
                .val();

            var lastRewardCount = $("input[name='curRewardCount']")
                .last()
                .val();

            if (curRewardCount >= lastRewardCount) {

                rewardGrpCount -= 1;

                if (rewardGrpCount < 3) {

                    rewardGrpCount += 1;
                    $.modal.alertError("Количество пулов наград не может быть меньше 3!");

                } else {

                    $(obj)
                        .parent()
                        .parent()
                        .parent()
                        .parent()
                        .remove();
                }

            } else {

                $.modal.alertError("Удалять пулы наград необходимо начиная с последнего!");
            }
        }

    </script>

    <script>

        // Настройка веса награды в пуле
        function addWeightGrp(obj) {

            var rewardInput = 'weightReward' + count_01;
            var rewardAddBtn = 'showRewardModel' + count_01;

            var cur = $(obj)
                .parent()
                .parent()
                .find("input[name='curRewardCount']")
                .val();

            var weightName = "weightReward" + cur;

            count_01 += 1;

            html = '<div name="cfg2" class="input-group saltIp" style="width:100%;padding:0 0 1px 0;">' +

                '<label class="input-group-addon">Вес:</label>' +

                '<input type="text" class="form-control" id="weight" name="weight' + cur + '" onkeyup="value=value.replace(/\\D/g,\'\')" style="max-width:100px;">' +

                '<label class="input-group-addon">Показывать:</label>' +

                '<select id="isShow" name="isShow' + cur + '" onchange="" class="form-control heightSet" style="min-width:40px;width: 61px;">' +
                '<option value="0">Нет</option>' +
                '<option value="1">Да</option>' +
                '</select>' +

                '<label class="input-group-addon">Награда:</label>' +

                // '<input type="text" class="form-control" id="baoDiReward" name="baoDiReward" style="max-width:auto;">' +

                '<span class="input-group-btn" >' +

                '<button class="btn btn-info" type="button" data-toggle="tooltip" data-target="#addItemModal" title="Награда" id="' + rewardAddBtn +
                '" style="border:5px;width: 35px;height: 34px;" onclick="showAddItemUI(\'' + rewardInput + '\',\'' + rewardAddBtn + '\')">' +

                '<span class="glyphicon glyphicon-plus"></span>' +
                '</button>' +

                '<div class="hide">' +
                '<input id="' + rewardInput + '" name="' + weightName + '"/>' +
                '</div>' +

                '</span>' +

                '<span class="input-group-btn">' +

                '<button class="btn btn-info" type="button" data-toggle="tooltip" title="Удалить" onclick="delConfig3(this)">' +
                '<span class="glyphicon glyphicon-minus"></span>' +
                '</button>' +

                // '<button class="btn btn-info" type="button" data-toggle="tooltip" title="Копировать" id="copyGridGroup"><span class="glyphicon glyphicon-copy"></span></button>' +

                '</span>' +

                '</div>';

            obj.insertAdjacentHTML('beforeBegin', html);
            addHeightSet();
        }

        // Удаление настройки
        function delConfig3(obj) {
            $(obj).parent().parent().remove();
        }

    </script>

    <script>

        // Настройка веса награды сундука в пуле
        function addBoxWeightGrp(obj) {

            var rewardInput = 'boxWeightReward' + count_02;
            var rewardAddBtn = 'showRewardModel2' + count_02;

            var cur = $(obj)
                .parent()
                .parent()
                .find("input[name='curRewardCount']")
                .val();

            var boxWeightName = "boxWeightReward" + cur;

            count_02 += 1;

            html = '<div name="cfg2" class="input-group saltIp" style="width:100%;padding:0 0 1px 0;">' +

                '<label class="input-group-addon">Вес:</label>' +

                '<input type="text" class="form-control" id="boxWeight" name="boxWeight' + cur + '" onkeyup="value=value.replace(/\\D/g,\'\')" style="max-width:100px;">' +

                '<label class="input-group-addon">Награда:</label>' +

                // '<input type="text" class="form-control" id="baoDiReward" name="baoDiReward" style="max-width:auto;">' +

                '<span class="input-group-btn" >' +

                '<button class="btn btn-info" type="button" data-toggle="tooltip" data-target="#addItemModal" title="Награда" id="' + rewardAddBtn +
                '" style="border:5px;width: 35px;height: 34px;" onclick="showAddItemUI(\'' + rewardInput + '\',\'' + rewardAddBtn + '\')">' +

                '<span class="glyphicon glyphicon-plus"></span>' +
                '</button>' +

                '<div class="hide">' +
                '<input id="' + rewardInput + '" name="' + boxWeightName + '"/>' +
                '</div>' +

                '</span>' +

                '<span class="input-group-btn">' +

                '<button class="btn btn-info" type="button" data-toggle="tooltip" title="Удалить" onclick="delConfig4(this)">' +
                '<span class="glyphicon glyphicon-minus"></span>' +
                '</button>' +

                // '<button class="btn btn-info" type="button" data-toggle="tooltip" title="Копировать" id="copyGridGroup"><span class="glyphicon glyphicon-copy"></span></button>' +

                '</span>' +

                '</div>';

            obj.insertAdjacentHTML('beforeBegin', html);
            addHeightSet();
        }

        // Удаление настройки
        function delConfig4(obj) {
            $(obj).parent().parent().remove();
        }

    </script>

    <script>

        // Добавление товара в магазин обмена
        function addSaltIpGrp(obj) {

            var rewardInput = 'reward' + count_03;
            var rewardAddBtn = 'showRewardModel3' + count_03;

            count_03 += 1;

            html = '<div name="cfg3" class="input-group saltIp" style="width:100%;padding:0 0 1px 0;">' +

                '<label class="input-group-addon">ID товара:</label>' +

                '<input type="text" class="form-control" id="goodsId" name="goodsId" onkeyup="value=value.replace(/\\D/g,\'\')" style="max-width:100px;">' +

                '<label class="input-group-addon">Необходимое количество очков:</label>' +

                '<input type="text" class="form-control" id="needScore" name="needScore" onkeyup="value=value.replace(/\\D/g,\'\')" style="max-width:100px;">' +

                '<label class="input-group-addon">Лимит покупки на игрока:</label>' +

                '<input type="text" class="form-control" id="limitBuy" name="limitBuy" onkeyup="value=value.replace(/\\D/g,\'\')" style="max-width:100px;">' +

                '<label class="input-group-addon">Награда:</label>' +

                // '<input type="text" class="form-control" id="baoDiReward" name="baoDiReward" style="max-width:auto;">' +

                '<span class="input-group-btn" >' +

                '<button class="btn btn-info" type="button" data-toggle="tooltip" data-target="#addItemModal" title="Награда" id="' + rewardAddBtn +
                '" style="border:5px;width: 35px;height: 34px;" onclick="showAddItemUI(' + rewardInput + ',' + rewardAddBtn + ')">' +

                '<span class="glyphicon glyphicon-plus"></span>' +
                '</button>' +

                '<div class="hide">' +
                '<input id="' + rewardInput + '" name="reward"/>' +
                '</div>' +

                '</span>' +

                '<span class="input-group-btn">' +

                '<button class="btn btn-info" type="button" data-toggle="tooltip" title="Удалить" onclick="delConfig2(this)">' +
                '<span class="glyphicon glyphicon-minus"></span>' +
                '</button>' +

                // '<button class="btn btn-info" type="button" data-toggle="tooltip" title="Копировать" id="copyGridGroup"><span class="glyphicon glyphicon-copy"></span></button>' +

                '</span>' +

                '</div>';

            obj.insertAdjacentHTML('beforeBegin', html);
            addHeightSet();
        }

        // Удаление настройки
        function delConfig2(obj) {
            $(obj).parent().parent().remove();
        }

    </script>

    <script>

        $(document).on('click', '#delGridGroup', function () {

            var el = this.parentNode.parentNode;
            var saltIp = $(this).parent().parent().find('#saltIp').val();

            el.parentNode.removeChild(el);

            return;
        });

    </script>

    <script>

        function validate() {

            if (checkBaodi() && checkBaoDiRange() && checkBaoDiRangeInfo() && validateIsShow()) {
                return true;
            } else {
                return false;
            }
        }

        // Во всех пулах наград хотя бы одна награда должна иметь значение «Да» в поле «Показывать»
        function validateIsShow() {

            var flag = false;

            for (var i = 1; i <= rewardGrpCount; i++) {

                var isShowName = "isShow" + i;
                var isShowArr = $("select[name=" + isShowName + "]");

                $.each(isShowArr, function (i) {

                    var isShow = $(isShowArr[i]).val();

                    console.log("isShowValue:" + isShow);

                    if (Number(isShow) == 1) {
                        flag = true;
                    }
                });
            }

            if (!flag) {
                alert("Во всех пулах наград должна быть хотя бы одна награда с параметром «Показывать: Да».");
            }

            return flag;
        }

    </script>
</head>

<body class="gray-bg">

<div class="container-div">

    <div class="row">

        <div class="col-sm-12 search-collapse">

            <div id="header">

                <h3>
                    Поиск сокровищ в Стране чудес

                    <span class="glyphicon glyphicon-question-sign"
                          title="Описание настройки события"
                          data-container="body"
                          data-toggle="popover"
                          data-placement="right"
                          data-content="При настройке события название поддерживает несколько языков. Для заполнения используйте языковые теги: [CH]Упрощённый китайский[/CH][EN]Английский[/EN][TW]Традиционный китайский[/TW][KR]Корейский[/KR][VIE]Вьетнамский[/VIE][TH]Тайский[/TH][JP]Японский[/JP]">
                    </span>

                </h3>

            </div>

            <form id="activity_form"
                  method="post"
                  class="form-horizontal"
                  action="#">

                <div th:replace="common/BaseActivity_header.html"></div>

                <div id="customForm">

                    <div class="col-lg-12 col-sm-12 col-md-12">

                        <!--<div class="col-lg-1"></div>-->

                        <div class="col-lg-6 ">

                            <legend>Настройка затрат</legend>

                            <div class="input-group saltIp"
                                 style="width:100%;padding:0 0 1px 0;">

                                <label class="input-group-addon ">
                                    ID ключа:
                                </label>

                                <input type="text"
                                       class="form-control "
                                       id="lotteryKeyItemId"
                                       name="lotteryKeyItemId"
                                       onkeyup="value=value.replace(/\D/g,'')"
                                       style="max-width:390px;">

                                <label class="input-group-addon ">
                                    Стоимость одного розыгрыша в слитках:
                                </label>

                                <input type="text"
                                       class="form-control "
                                       id="oneCostGemCoin"
                                       name="oneCostGemCoin"
                                       onkeyup="value=value.replace(/\D/g,'')"
                                       style="max-width:390px;">

                                <label class="input-group-addon ">
                                    ID очков:
                                </label>

                                <input type="text"
                                       class="form-control "
                                       id="scoreID"
                                       name="scoreID"
                                       onkeyup="value=value.replace(/\D/g,'')"
                                       style="max-width:390px;">

                                <label class="input-group-addon ">
                                    Количество монет, выдаваемых при покупке:
                                </label>

                                <input type="text"
                                       class="form-control "
                                       id="giveCoinNum"
                                       name="giveCoinNum"
                                       onkeyup="value=value.replace(/\D/g,'')"
                                       style="max-width:390px;">

                            </div>

                        </div>

                    </div>


                    <div class="col-lg-12 col-sm-12 col-md-12">

                        <!--<div class="col-lg-1"></div>-->

                        <div class="col-lg-12 ">

                            <legend>
                                Настройка пулов наград
                            </legend>

                        </div>

                    </div>


                    <div class="col-lg-12 col-sm-12 col-md-12"
                         id="rewardConfig"
                         style="margin-top: 50px">

                        <!--<div class="col-lg-1"></div>-->

                        <div class="col-lg-12 ">

                            <!--<legend>Настройка пула наград</legend>-->

                            <fieldset>

                                <div class="input-group"
                                     id="rewardGroup">

                                    <label class="input-group-addon">
                                        Добавить пул наград:
                                    </label>

                                    <button class="btn btn-info"
                                            type="button"
                                            data-toggle="tooltip"
                                            title="Добавить пул наград"
                                            id="addRewardGrpBtn"
                                            onclick="addRewardGrp(this)">

                                        <span class="glyphicon glyphicon-plus"></span>

                                    </button>

                                </div>

                            </fieldset>

                        </div>

                    </div>


                    <div class="col-lg-12 col-sm-12 col-md-12">

                        <!--<div class="col-lg-1"></div>-->

                        <div class="col-lg-8">

                            <legend>
                                Магазин обмена
                            </legend>

                            <fieldset>

                                <div class="input-group"
                                     id="saltIpGroup">

                                    <label class="input-group-addon">
                                        Добавить товар:
                                    </label>

                                    <button class="btn btn-info"
                                            type="button"
                                            data-toggle="tooltip"
                                            title="Добавить"
                                            id="addSaltIpGrpBtn"
                                            onclick="addSaltIpGrp(this)">

                                        <span class="glyphicon glyphicon-plus"></span>

                                    </button>

                                </div>

                            </fieldset>

                        </div>

                    </div>


                    <div id="baodiPool"
                         class="col-lg-12 col-sm-12 col-md-12">

                        <!--<div class="col-lg-1"></div>-->

                        <div class="col-lg-11">

                            <legend>
                                Настройка гарантированной награды
                            </legend>

                            <fieldset>

                                <div class="input-group"
                                     id="baodishuju">

                                    <label class="input-group-addon">
                                        Количество попыток до гарантированной награды:
                                    </label>

                                    <button class="btn btn-info"
                                            type="button"
                                            data-toggle="tooltip"
                                            title="Добавить"
                                            id="baoDiBtn"
                                            onclick="baoDiGrp(this)">

                                        <span class="glyphicon glyphicon-plus"></span>

                                    </button>

                                </div>

                            </fieldset>

                        </div>

                    </div>


                    <div id="luckyGroup"
                         class="col-lg-5 col-sm-5 col-md-5">

                        <!--<div class="col-lg-1"></div>-->

                        <div class="col-lg-12">

                            <legend>
                                Настройка очков удачи
                            </legend>

                            <fieldset>

                                <div class="input-group saltIp">

                                    <label class="input-group-addon">
                                        Очки удачи за одно участие:
                                    </label>

                                    <input name="oneLuckyValue"
                                           id="oneLuckyValue"
                                           type="text"
                                           class="form-control"
                                           style="width:100px;"
                                           onkeyup="value=value.replace(/\D/g,'')"/>

                                    <label class="input-group-addon">
                                        Награда:
                                    </label>

                                    <span class="input-group-btn">

                                        <button class="btn btn-info"
                                                type="button"
                                                data-toggle="tooltip"
                                                title="Выбрать награду"
                                                id="addOneLuckyBtn"
                                                onclick="showAddItemUI('luckyAwardGift','addOneLuckyBtn')">

                                            <span class="glyphicon glyphicon-plus"></span>

                                        </button>

                                        <input type="hidden"
                                               id="cfgCount4"
                                               value="0">

                                    </span>

                                    <input name="luckyAwardGift"
                                           id="luckyAwardGift"
                                           value=""
                                           type="text"
                                           class="hide"/>

                                </div>

                            </fieldset>

                        </div>

                    </div>

                </div>

            </form>

            <div th:replace="common/import.html"></div>

        </div>


        <div th:replace="common/BaseActivity_footer.html"></div>

        <div th:replace="common/itemAddModel.html"></div>

    </div>

</div>

</body>
</html>