<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('Добавить товар в магазин')" />
    <th:block th:include="include :: footer" />

    <script>
        $(function () {
            $("#select_group").attr("disabled","disabled");
            $("#select_server").attr("disabled","disabled");

            var groupName = '[[${groupName}]]';
            var serverId = [[${serverId}]];

            setTimeout(function () {
                queryServerByGroup(groupName);
                $("#select_group").val(groupName);
            }, 500);
            setTimeout(function () {
                $("#select_server").val(serverId);
            },800);

           loadAllItem();
           formatDate();
        });

        var prefix = ctx + "gmtool/shop"
        $("#shop_form_add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($("#shop_form_add").validate().form()) {
                $("#select_server").removeAttrs("disabled");
                $.ajax({
                    url: prefix + "/addShop",
                    type: 'POST',
                    dataType : "json",
                    data:$('#shop_form_add').serialize(),
                    success: function (data) {
                        var parent = window.parent;
                        if (data.ok){
                            $.modal.alertMsg(data.msg,alert_type.SUCCESS);
                            parent.$.table.refresh();
                        }else {
                            $.modal.alertError(data.msg);
                        }
                    }
                });
            }
        }
    </script>
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="shop_form_add">
            <div class="form-group">
                <div th:replace="common/select_server_single.html"></div>
                <!-- Здесь настраивается сопоставление адресов групповых запросов к серверу -->
                <input type="hidden" id="requestUrl" value="gameServer">
                <input type="hidden" id="ignoreMerge" value="1">
            </div>
            <div class="form-group">

                <label class="col-sm-2 control-label" for="id">ID товара:</label>
                <div class="col-sm-2">
                    <input name="id" id="id" class="form-control" type="text" placeholder="Уникальный ID, 100000~110000" required>
                </div>
                <label class="col-sm-1 control-label" for="shopid">Тип магазина:</label>
                <div class="col-sm-2">
                    <select id="shopid" name="shopid" class="form-control m-b">
                        <option value="1">Магазин духовных нефритов</option>
                        <option value="2">Обменный магазин</option>
                        <option value="3">Магазин очков Благословенной земли</option>
                        <option value="4">Магазин вклада в Бессмертный союз</option>
                    </select>
                </div>
                <label class="col-sm-1 control-label" for="shoptype">Теги магазина:</label>
                <div class="col-sm-2">
                    <input name="shoptype" id="shoptype" class="form-control" type="text" placeholder="Массив тегов, например: 1_2_3" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="labelid">ID метки:</label>
                <div class="col-sm-2">
                    <input name="labelid" id="labelid" class="form-control" type="text" required>
                </div>
                <label class="col-sm-1 control-label" for="promotion">Промо-тег:</label>
                <div class="col-sm-2">
                    <select id="promotion" name="promotion" class="form-control m-b">
                        <option value="0" selected>Нет</option>
                        <option value="1">Скидка</option>
                        <option value="2">Рекомендуемый</option>
                        <option value="3">Новинка</option>
                        <option value="4">Хит</option>
                    </select>
                </div>
                <label class="col-sm-1 control-label" for="sort">Приоритет сортировки:</label>
                <div class="col-sm-2">
                    <input name="sort" id="sort" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label" for="itemid">ID предмета:</label>
                <div class="col-sm-2">
                    <input type="text" name="itemid" id="itemid" list="itemList" class="form-control m-b" required/>
                    <datalist id="itemList"></datalist>
                </div>
                <label class="col-sm-1 control-label" for="bind">Привязка:</label>
                <div class="col-sm-2">
                    <select id="bind" name="bind" class="form-control m-b">
                        <option value="0" selected>Не привязан</option>
                        <option value="1">Привязан</option>
                    </select>
                </div>
                <label class="col-sm-1 control-label" for="limittype">Тип ограничения покупки:</label>
                <div class="col-sm-2">
                    <select name="limittype" id="limittype" class="form-control m-b">
                        <option value="0">Без ограничений</option>
                        <option value="1">Ежедневно</option>
                        <option value="2">Еженедельно</option>
                        <option value="3">Ежемесячно</option>
                        <option value="4">Ежегодно</option>
                        <option value="5">Навсегда</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="buynum">Количество покупок:</label>
                <div class="col-sm-2">
                    <input name="buynum" id="buynum" class="form-control" type="text" value="-1" placeholder="-1 — без ограничений" required>
                </div>
                <label class="col-sm-1 control-label" for="currencyid">Валюта:</label>
                <div class="col-sm-2">
                    <select id="currencyid" name="currencyid" class="form-control m-b">
                        <option value="1">Духовные нефриты</option>
                        <option value="9">Репутация</option>
                        <option value="11">Вклад в Бессмертный союз</option>
                        <option value="13">Очки Благословенной земли</option>
                    </select>
                </div>
                <label class="col-sm-1 control-label" for="price">Цена до скидки:</label>
                <div class="col-sm-2">
                    <input name="price" id="price" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="discount">Скидка (%):</label>
                <div class="col-sm-2">
                    <input name="discount" id="discount" class="form-control" type="text" required>
                </div>
                <label class="col-sm-1 control-label" for="discountprice">Цена со скидкой:</label>
                <div class="col-sm-2">
                    <input name="discountprice" id="discountprice" class="form-control" type="text" required>
                </div>
                <label class="col-sm-1 control-label" for="uptime">Время публикации:</label>
                <div class="col-sm-2">
                    <input type="text" class="datetimepicker form-control input" style="width: 140px" name="uptime" id="uptime" readonly/>
                </div>
                <div style="margin-top: 5px">
                <span style="margin-left: -70px;">-</span>
                </div>
                <div class="col-sm-2" style="margin-top: -24px;margin-left: 1097px;">
                    <input type="text" class="datetimepicker form-control input" style="width: 140px;margin-top: -7px" name="downtime" id="downtime" readonly>
                </div>
            </div>
            <div class="form-group" style="margin-top: 30px">
                <label class="col-sm-2 control-label" for="occupation">Ограничение по классу:</label>
                <div class="col-sm-2">
                    <select name="occupation" id="occupation" class="form-control m-b">
                        <option value="-1">Все классы</option>
                        <option value="0">Сюаньцзянь</option>
                        <option value="1">Тяньин</option>
                        <option value="2">Дицзан</option>
                        <option value="3">Лоча</option>
                    </select>
                </div>
                <label class="col-sm-1 control-label" for="level">Требуемый уровень:</label>
                <div class="col-sm-2">
                    <input name="level" id="level" class="form-control" type="text" value="0" required>
                </div>
                <label class="col-sm-1 control-label" for="viplevel">Требуемый уровень совершенствования:</label>
                <div class="col-sm-2">
                    <input name="viplevel" id="viplevel" class="form-control" type="text" value="0" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="guildlevel">Требуемый уровень гильдии:</label>
                <div class="col-sm-2">
                    <input name="guildlevel" id="guildlevel" class="form-control" type="text" value="0" required>
                </div>
                <label class="col-sm-1 control-label" for="guildshoplvlstart">Требуемый уровень Бессмертного союза:</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" style="width: 80px" name="guildshoplvlstart" id="guildshoplvlstart" value="0" required/>
                </div>
                <div style="margin-top: 5px">
                    <span style="margin-left: -130px;">-</span>
                </div>
                <div class="col-sm-2" style="margin-top: -24px;margin-left: 685px;">
                    <input type="text" class="form-control" style="width: 80px;margin-top: -19px" name="guildshoplvlend" id="guildshoplvlend" value="999" required>
                </div>
            </div>
            <div class="form-group" style="margin-left: 850px;">
                <label class="col-sm-2 control-label" for="worldlvlstart" style="margin-top: -62px;margin-left: -20px">Требуемый мировой уровень:</label>
                <div class="col-sm-2" style="margin-left: 70px;margin-top: -53px">
                    <input type="text" class="form-control" style="width: 80px" name="worldlvlstart" id="worldlvlstart" value="0" required/>
                </div>
                <div style="margin-top: -50px">
                    <span style="margin-left: 175px;">-</span>
                </div>
                <div class="col-sm-2" style="margin-top: -57px;margin-left: 175px;">
                    <input type="text" class="form-control" style="width: 80px;margin-top: 3px" name="worldlvlend" id="worldlvlend" value="999" required>
                </div>
            </div>
            <div class="form-group" style="margin-top: -12px">
                <label class="col-sm-2 control-label" for="refreshcurrency">Тип валюты для обновления:</label>
                <div class="col-sm-2">
                    <select name="refreshcurrency" id="refreshcurrency" class="form-control m-b">
                        <option value="0">Нет валюты</option>
                        <option value="-1">Нельзя обновить</option>
                        <option value="1">Духовные нефриты</option>
                        <option value="9">Репутация</option>
                        <option value="11">Вклад в Бессмертный союз</option>
                        <option value="13">Очки Благословенной земли</option>
                    </select>
                </div>
                <label class="col-sm-1 control-label" for="refreshnum">Количество валюты для обновления:</label>
                <div class="col-sm-2">
                    <input name="refreshnum" id="refreshnum" class="form-control" type="text" value="0" required>
                </div>
                <label class="col-sm-1 control-label" for="isdiscount">Применять скидку к совершенствованию тела:</label>
                <div class="col-sm-2">
                    <select id="isdiscount" name="isdiscount" class="form-control m-b">
                        <option value="0">Нет</option>
                        <option value="1">Да</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</body>
</html>