<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('Рейтинг пополнений')" />
    <th:block th:include="include :: footer" />
</head>
<body class="gray-bg">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div th:replace="common/stat_group_server_head"></div>
                    <div class="row select-list" style="padding-left: 15px; margin-bottom: 10px;">
                        <div th:replace="common/stat_date_head2.html"></div>
                        <ul>
                            <li>
                                <label>Тип запроса:</label>
                                <select id="select_type" name="type" class="span2">
                                    <option value="0">Персонаж</option>
                                    <option value="1">Пользователь</option>
                                </select>
                            </li>
                        </ul>
                        <div th:replace="common/stat_test_order.html"></div>
                        <div th:replace="common/stat_search_head.html"></div>
                    </div>

                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <i class="fa fa-download"></i> Экспорт
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
<script th:inline="javascript">
    var prefix = ctx + "gmquerydata/rechargerank";
    $(function() {
        var options = {
            url: prefix + "/rechargerank",
            modalName: "Рейтинг пополнений",
            pagination: true,
            firstLoad:false,
            columns: [{
                field: 'rank',
                title: 'Место',
            },{
                field: 'userId',
                title: 'ID пользователя',
            },{
                field: 'roleId',
                title: 'ID персонажа',
            },{
                field: 'roleName',
                title: 'Имя персонажа',
            },{
                field: 'level',
                title: 'Уровень',
                formatter: formatterRoleLevel
            },{
                field: 'career',
                title: 'Класс',
            },{
                field: 'rechargeGold',
                title: 'Всего пополнено слитков',
            },{
                field: 'remainGold',
                title: 'Остаток слитков',
            },{
                field: 'createTime',
                title: 'Время создания',
            },{
                field: 'onlineTime',
                title: 'Время онлайн (сек.)',
            },{
                field: 'lastLoginTime',
                title: 'Время последнего входа',
            },{
                field: 'createSid',
                title: 'Сервер создания',
            },{
                field: 'totalRecharge',
                title: 'Сумма пополнений (юани)',
            },{
                field: 'rechargeCount',
                title: 'Количество пополнений',
            },{
                field: 'maxRecharge',
                title: 'Макс. пополнение (юани)',
            },{
                field: 'minRecharge',
                title: 'Мин. пополнение (юани)',
            },{
                field: 'avgRecharge',
                title: 'Среднее пополнение (юани)',
            },{
                field: 'lastRechargeTime',
                title: 'Время последнего пополнения',
            }
           ]
        };
        $.table.init(options);
    });

</script>
</body>
</html>