<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('Список активационных кодов')" />
    <th:block th:include="include :: footer" />

    <script>
        $(function () {
            loadAllItem();
            $("#codeDiv").hide();
            formatDate();
        });

        var prefix = ctx + "gmtool/operation";

        /**
         * Переключение типа активационного кода
         * @param type
         */
        function changeParam(type) {
            if (type == 1) {
                $("#code").val("");
                $("#codeDiv").show();
                $("#tips").html("");
                $("#codeNum").attr("readonly", "readonly").val(1);
            } else {
                $("#code").val("");
                $("#codeDiv").hide();
                $("#tips").html("");
                $("#codeNum").attr("readonly", false).val("");
            }
        }

        /**
         * Генерация кодов
         */
        function insert() {
            if ($("#activeCodeForm").validate().form()){
                var sDate = $("#valide_time_begin").val();
                var eDate = $("#valide_time_begin").val();
                if (!checkDate(sDate, eDate)) {
                    return;
                }
                var items = $("#reward").val();
                if (items == undefined || items == "") {
                    $.modal.alertError("Не выбраны предметы!");
                    return;
                }
                $("#activeCodeForm").submit();
                $("#activeCodeForm")[0].reset();
                $.modal.alertSuccess("Проверка завершена, запущена генерация активационных кодов для текущей партии!");
            }
        }

        // Отображение окна добавления предмета
        function showAddItemModel() {
            $("#addItemModal").modal('toggle');
            $("#addItemForm")[0].reset();
        }

        // Добавление предмета
        function addItem() {
            if (!$('#addItemForm').validate().form()) {
                $.modal.alertError("Ошибка конфигурации предмета!");
                return;
            }
            var itemId = $("#itemId").val();
            var itemName = items.get(itemId);
            var itemNum = $("#itemNum").val();
            var isBind = $("#isBind").val();
            var itemValue = itemId + "," + itemNum + "," + isBind;
            console.log(itemValue + ":" + itemName);
            var lastValue = $("#reward").val();
            var itemArray = lastValue.split(';');
            if (lastValue == "") {
                itemArray = new Array();
            }
            itemArray.push(itemValue);
            $("#reward").val(itemArray.join(";"));
            console.log(itemArray.join(";"));
            $("#items").append("<span class=\"label\" style=\"float: left\">" + itemName + "*" + itemNum +
                "<i class=\"fa fa-remove\" onclick=\"removeItem(this, " + itemId + ", " + itemNum + ")\"></i></span>");
            $("#addItemModal").modal('hide');
        }

        // Удаление предмета
        function removeItem(obj, itemId, itemNum) {
            var pos;
            var value = $(obj).parent().parent().prev(".rewardInput").val();
            var itemArray = value.split(';');
            $.each(itemArray, function (i, n) {
                var item = n.split(",");
                if (item[0] == itemId && item[1] == itemNum) {
                    pos = i;
                }
            });
            itemArray.splice(pos, 1);
            $(obj).parent().parent().prev(".rewardInput").val(itemArray.join(";"));
            console.log(itemArray.join(";"));
            $(obj).parent().remove();
            event.stopPropagation();
        }

        // Проверка доступности кода
        function checkCode() {
            var code = $("#code").val();
            if (code == "") {
                $.modal.alertError("Код не может быть пустым!")
                return;
            }
            $.ajax({
                type: "POST",
                url: prefix + "/checkActiveCode",
                data: {
                    "code": code
                },
                dataType: "json",
                success: function (data) {
                    if (data.ok) {
                        $("#tips").html("<span style='color:green'>Код доступен</span>")
                    } else {
                        $("#tips").html("<span style='color:red'>Код уже существует</span>")
                    }
                }
            });
        }
    </script>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Генерация активационных кодов</h5>
                </div>
                <div class="ibox-content">
                    <form id="activeCodeForm" action="activecode" class="form-horizontal m-t" method="post">

                        <div class="form-group">
                            <!--<label class="control-label">${msg['jsp.activecode.universalcode']}</label>-->

                            <label class="radio col-sm-5 control-label" style="margin-left: 22px">
                                <input checked="checked" value="0" name="param" type="radio" onchange="changeParam(0);"/>
                                Обычный код (одна партия — несколько кодов, один персонаж может использовать только один код из партии, награда выдаётся 1 раз)
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="radio col-sm-4 control-label" style="margin-left: 1px">
                                <input value="1" name="param" type="radio" onchange="changeParam(1);"/>
                                Универсальный код (одна партия — один код, любой персонаж может использовать этот код)
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="radio col-sm-5 control-label" style="margin-left: 4px">
                                <input value="2" name="param" type="radio" onchange="changeParam(2);"/>
                                Многократный код (одна партия — несколько кодов, один персонаж может использовать несколько кодов из партии, награда выдаётся несколько раз)
                            </label>

                        </div>

                        <div id="codeDiv" class="form-group">
                            <label for="code" class="col-sm-2 control-label is-required">Код</label>
                            <div class="col-sm-2">
                                <input id="code" name="code" type="text" class="form-control input" onblur="checkCode()" required/>
                                <div id="tips" class="help-inline"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="codeNum" class="col-sm-2 control-label is-required">Количество кодов</label>
                            <div class="col-sm-2">
                                <input id="codeNum" name="codeNum" type="text" class="form-control input" onkeyup="value=value.replace(/\D/g,'')" minlength="1"  required/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="activeName" class="col-sm-2 control-label is-required">Название типа (краткое описание)</label>
                            <div class="col-sm-2">
                                <input id="activeName" name="activeName" type="text" class="input form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Награда</label>
                            <div class="col-sm-8">
                                <div class="span6" style="border: 1px solid rgb(204, 204, 204); border-radius: 2px; height: 60px; margin-left: 0" onclick="showAddItemModel()">
                                    <input type="hidden" id="reward" name="itemList" class="rewardInput validate[required]"/>
                                    <div id="items" class="items" style="margin-top: 3px; display: block"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="valide_time_begin" class="col-sm-2 control-label is-required">Дата начала действия</label>
                            <div class="col-sm-2">
                                <input id="valide_time_begin" name="valide_time_begin" type="text" class="datetimepicker form-control input" required readonly/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="valide_time_end" class="col-sm-2 control-label is-required">Дата окончания действия</label>
                            <div class="col-sm-2">
                                <input id="valide_time_end" name="valide_time_end" type="text" class="datetimepicker form-control input" required readonly/>
                            </div>
                        </div>

                        <!--<div class="form-group">-->
                            <!--<label for="select_group" class="col-sm-2 control-label">Платформа</label>-->
                            <!--<div class="col-sm-8">-->
                                <!--<select id="select_group" name="groupName" class="input validate[required]"-->
                                        <!--onchange="getChannelNameSelect(this.value); getServer(this.value)"></select>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="form-group">-->
                            <!--<label for="select_channel" class="col-sm-2 control-label">Каналы применения</label>-->
                            <!--<div class="col-sm-8">-->
                                <!--<select id="select_channel" name="plateform_name_big" class="input">-->
                                    <!--<option value="">Все каналы</option>-->
                                <!--</select>-->
                            <!--</div>-->
                        <!--</div>-->

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Серверы применения</label>
                            <div class="col-sm-2">
                                <div th:replace="common/select_server_byGroup.html"></div>
                                <!-- Здесь настраивается сопоставление адресов групповых запросов к серверу -->
                                <input type="hidden" id="selectRequestUrl" value="gameServer">
                                <input type="hidden" id="selectIgnoreMerge" value="1">
                            </div>
                        </div>
                        <div style="margin-top: 12px;margin-bottom: 10px;margin-left: 90px">
                            <span style="color: red;margin-left: 180px;">(Если не выбрано ни одного сервера, код будет действовать на всех серверах, включая новые)</span>
                        </div>
                        <div class="form-group" style="margin-top: 40px">
                            <label class="col-sm-2 control-label" style="margin-left: 13px"></label>
                            <button type="button" class="btn btn-primary" onclick="insert()">
                                Сгенерировать
                            </button>
                        </div>

                        <div id="msg" class="container-fluid"></div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="form-group">
    <div id="addItemModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 430px">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3>Добавить предмет</h3>
                </div>
                <div class="modal-body">
                    <form id="addItemForm" class="form-horizontal m-t">
                        <div class="offset1 span10">
                            <input id="curObj" type="hidden"/>
                            <label for="itemId">ID предмета:</label><input type="text" id="itemId"
                                                                    onkeyup="this.value=this.value.replace(/^(0+)|[^\d]+/g,'')"
                                                                    list="itemList"
                                                                    class="selectClass" style="margin-left: 25px"/>
                            <datalist id="itemList"></datalist>
                            <br/>
                            <label for="itemNum">Количество:</label><input id="itemNum" type="text"
                                                                     onkeyup="this.value=this.value.replace(/^(0+)|[^\d]+/g,'')"
                                                                     class="selectClass"
                                                                     style="margin-top: 10px;margin-left: 13px"/>
                            <br/>
                            <label for="isBind">Привязка:</label>
                            <select id="isBind" class="selectClass" style="margin-top: 10px;margin-left: 10px">
                                <option value="0" selected>Не привязан</option>
                                <option value="1">Привязан</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <input type="button" value="Закрыть" class="btn" data-dismiss="modal" aria-hidden="true"/>
                    <input type="button" value="Добавить" onclick="addItem()" class="btn btn-primary"/>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>
</body>
</html>