<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('Журнал активационных кодов')" />
    <th:block th:include="include :: footer" />
    <script>
      var options;
      $(function () {
          var baseOptionsACL = actCodeCommonConfig("/queryActiveCode","activeCodeList");
          var baseOptionsACLP = actCodeCommonConfig("/queryActiveCodeByBatchId","activeCodeListPatch");
          activeCodeListConfig(baseOptionsACL);
          activeCodeListPatchConfig(baseOptionsACLP);
      });

      function activeCodeListConfig(baseOptions) {
          baseOptions.columns.push({
              field: 'deleteTime',
              title: 'Действия',
              formatter: function(value, row, index) {
                  if (value == 0){
                      var actions = [];
                      actions.push('<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="deleteCode(\'' + row.code + '\')"><i class="fa fa-remove"></i>Отключить</a>');
                      return actions.join('');
                  } else {
                      return "Время удаления: " + value;
                  }
              }
          });
          $.table.init(baseOptions);
      }
      
      function activeCodeListPatchConfig(baseOptions) {
          baseOptions.columns.push({
              field: 'getTime',
              title: 'Время использования кода'
          });
          baseOptions.columns.push({
              field: 'getPlayerId',
              title: 'ID персонажа-получателя'
          });
          baseOptions.columns.push({
              field: 'getPlateformAid',
              title: 'Имя персонажа-получателя'
          });
          baseOptions.columns.push({
              field: 'getAccountId',
              title: 'Аккаунт получателя'
          });
          baseOptions.columns.push({
              field: 'getPlateformName',
              title: 'Платформа получателя'
          });
          baseOptions.columns.push({
              field: 'getServerId',
              title: 'Сервер получателя'
          });
          $.table.init(baseOptions);
      }

      // Выполнение поиска
      function search() {

              var batchId = $("#searchParam").val();
              if (batchId == undefined || batchId == "") {
                  $("#activeCodeListDiv").show();
                  $("#activeCodeListCodeDiv").hide();
                  $("#activeCodeListPatchDiv").hide();
                  $.table.refresh("activeCodeList");
                  return;
              }
              $("#activeCodeListDiv").hide();
              $("#activeCodeListCodeDiv").hide();
              $("#activeCodeListPatchDiv").show();
              $.table.refresh("activeCodeListPatch");

      }

      /**
       * Экспорт данных из текущей таблицы
       */
      function exportExcel() {
          $(".select-table").each(function () {
             if($(this).css("display") == "block"){
                 var table = $(this).find("table").eq(1);// После генерации создаётся 3 таблицы
                 var tableId = $(table).prop("id");
                 console.log(tableId);
                 $("#"+tableId).tableExport({type: 'excel', escape: 'false'});
             }
          });
      }

      /**
       * Отключение активационного кода
       * @param code
       */
      function deleteCode(code) {
          $.modal.confirm("Подтвердить отключение?", function () {
              $.ajax({
                  type: "POST",
                  url: prefix + "/deleteCode",
                  data: {"code" : code},
                  dataType: "json",
                  success: function(data){
                      if (!data.ok) {
                          $.modal.alertError(data.msg);
                      }else {
                          $.modal.alertSuccess("Отключено успешно");
                      }
                      $.table.refresh("activeCodeList");
                  }
              });
          });
      }

    </script>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <select id="searchType" name="searchType" class="span2 selectClass">
                    <option value="1" selected="selected">Поиск по номеру партии</option>
                    <option value="0">Поиск по коду</option>
                </select>
                <input id="searchParam" type="text" name="searchParam" class="span2 selectClass" >
                <input type="button" id="query_btn" value="Поиск" class="btn btn-primary" onclick="search()">
                <input type="button" id="excel_btn" value="Экспорт в Excel" class="btn btn-primary" onclick="exportExcel()">
            </form>
        </div>

        <div class="col-sm-12 select-table table-striped" id="activeCodeListDiv">
            <table id="activeCodeList"></table>
        </div>

        <div class="col-sm-12 select-table table-striped" style="display: none" id="activeCodeListPatchDiv">
            <table id="activeCodeListPatch"></table>
        </div>

        <div class="col-sm-12 select-table table-striped" style="display: none" id="activeCodeListCodeDiv">
            <table id="activeCodeListCode"></table>
        </div>
    </div>
</div>
<script th:inline="javascript">
    var prefix = ctx + "gmtool/operation";

    function actCodeCommonConfig(url,tableId){
        options = {
            url: prefix + url,
            id:tableId,
            modalName: "Активационные коды",
            showSearch: false,
            columns: [
                {
                    title: "№",
                    formatter: function (value, row, index) {
                        return $.table.serialNumber(index);
                    }
                },
                {
                    field: 'code',
                    title: 'Активационный код'
                },
                {
                    field: 'activeName',
                    title: 'Тип активационного кода'
                },
                {
                    field: 'batch',
                    title: 'Номер партии'
                },
                {
                    field: 'itemList',
                    title: 'Список предметов'
                },
                {
                    field: 'param',
                    title: 'Универсальный код',
                    formatter:function (value,row,index) {
                        if (value == 1) {
                            return "Да";
                        }else {
                            return "Нет";
                        }
                    }
                },
                {
                    field: 'valide_time_begin',
                    title: 'Дата начала действия'
                },
                {
                    field: 'valide_time_end',
                    title: 'Дата окончания действия'
                },
                {
                    field: 'plateform_name_big',
                    title: 'Канал'
                },
                {
                    field: 'valide_server_id_list',
                    title: 'Серверы применения'
                },
                {
                    field: 'create_time',
                    title: 'Время создания'
                }]
        };
        return options;
    }
</script>
</body>
</html>