<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('Журнал изменения юаней')" />
    <th:block th:include="include :: footer" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div th:replace="common/log_head.html"></div>
                    <div class="row select-list" style="padding-left: 15px; margin-bottom: 10px;">
                        <ul>
                            <li>
                                <label>ID персонажа:</label>
                                <input type="text" name="roleId"/>
                            </li>
                            <li>
                                <label>Код причины:</label>
                                <input type="text" name="reason"/>
                            </li>

                            <div th:replace="common/log_limit.html"></div>
                            <div th:replace="common/stat_search_head.html"></div>
                        </ul>
                    </div>

                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="gamelog:goldchangelog:export">
                    <i class="fa fa-download"></i> Экспорт
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('gamelog:goldchangelog:edit')}]];
        var removeFlag = [[${@permission.hasPermi('gamelog:goldchangelog:remove')}]];
        var prefix = ctx + "gamelog/goldchangelog";

        $(function() {
            var options = {
                url: prefix + "/list",
                exportUrl: prefix + "/export",
                modalName: "Журнал изменения юаней",
                pagination: false,
                firstLoad:false,
                height:$(document).height() - 160,
                columns: [
                {
                    field: 'id',
                    title: '',
                    visible: false
                },
                {
                    field: 'time',
                    title: 'Время',
                    formatter: formatterDate
                },
                {
                    field: 'actionId',
                    title: 'ID действия'
                },
                {
                    field: 'roleId',
                    title: 'ID персонажа'
                },
                {
                    field: 'roleName',
                    title: 'Имя персонажа'
                },
                {
                    field: 'roleLevel',
                    title: 'Уровень персонажа',
                    formatter: formatterRoleLevel
                },
                {
                    field: 'loginIp',
                    title: 'IP входа'
                },
                {
                    field: 'changeNum',
                    title: 'Изменение'
                },
                {
                    field: 'beforeNum',
                    title: 'До изменения'
                },
                {
                    field: 'afterNum',
                    title: 'После изменения'
                },
                {
                    field: 'reason',
                    title: 'Код причины'
                },
                ]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>