<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('Журнал смерти и возрождения боссов')" />
    <th:block th:include="include :: footer" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div th:replace="common/log_head.html"></div>
                    <div class="row select-list" style="padding-left: 15px; margin-bottom: 10px;">
                        <ul>
                            <li>
                                <label>Тип:</label>
                                <input type="text" name="type"/>
                            </li>
                            <li>
                                <label>ID босса:</label>
                                <input type="text" name="bossId"/>
                            </li>
                            <li>
                                <label>ID карты:</label>
                                <input type="text" name="mapId"/>
                            </li>
                            <li>
                                <label>Убийца:</label>
                                <input type="text" name="param"/>
                            </li>
                            <div th:replace="common/log_limit.html"></div>
                            <div th:replace="common/stat_search_head.html"></div>
                        </ul>
                    </div>

                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="gamelog:bossdierelivelog:export">
                    <i class="fa fa-download"></i> Экспорт
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('gamelog:bossdierelivelog:edit')}]];
        var removeFlag = [[${@permission.hasPermi('gamelog:bossdierelivelog:remove')}]];
        var prefix = ctx + "gamelog/bossdierelivelog";

        $(function() {
            var options = {
                url: prefix + "/list",
                exportUrl: prefix + "/export",
                modalName: "Журнал смерти и возрождения боссов",
                pagination: false,
                firstLoad:false,
                height:$(document).height() - 160,
                columns: [
                {
                    field: 'id',
                    title: '',
                    visible: false
                },
                {
                    field: 'time',
                    title: 'Время',
                    formatter: formatterDate
                },
                {
                    field: 'type',
                    title: 'Тип'
                },
                {
                    field: 'bossId',
                    title: 'ID босса'
                },
                {
                    field: 'mapId',
                    title: 'ID карты'
                },
                {
                    field: 'param',
                    title: 'Убийца'
                },
                ]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>