<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('Статистика покупок в магазине')" />
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: bootstrap-table-export-js" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">


                <form id="formId">

                    <div class="row select-list" style="padding-left: 15px; margin-bottom: 10px;">
                        <ul>
                            <div th:replace="common/stat_single_server_head.html"></div>
                            <div th:replace="common/stat_date_head2.html"></div>
                        </ul>
                    </div>
                    <div class="row select-list" style="padding-left: 15px; margin-bottom: 10px;">
                        <ul>
                            <li>
                                <label style="width: auto" for="FromSrc">&nbsp;Вкладка магазина:</label>
                                <select id="FromSrc" name="FromSrc" class="span2">
                                    <option value="1241100">Ежедневные предложения (1241100)</option>
                                    <option value="1241200">Магазин духовных нефритов (1241200)</option>
                                    <option value="1241300">Магазин слитков (1241300)</option>
                                    <option value="1241400">Магазин чести (1241400)</option>
                                    <option value="1242000">Обменный магазин (1242000)</option>
                                    <option value="1242100">Магазин репутации (1242100)</option>
                                    <option value="1242200">Магазин очков (1242200)</option>
                                    <option value="1242300">Магазин связанных нефритов (1242300)</option>
                                    <option value="1242400">Магазин вклада (1242400)</option>
                                    <option value="1242500">Ограниченные предложения (1242500)</option>
                                    <option value="1241100">Супер скидка (1243000)</option>
                                    <option value="1244000">Супер скидка (1244000)</option>
                                    <option value="1224000">Магазин Благословенной земли (1224000)</option>

                                </select>
                            </li>
                            <li style="display: none">
                                <label class="col-sm-2 control-label" style="width: auto" for="moneyType">&nbsp;Тип валюты:</label>
                                <select id="moneyType" name="moneyType" class="span2">
                                    <option value="0">Все типы валют</option>
                                    <option value="1">Слитки</option>
                                    <option value="12">Духовные камни</option>
                                </select>
                            </li>
                            <div th:replace="common/stat_black_list_head.html"></div>
                            <div th:replace="common/stat_search_head.html"></div>
                        </ul>
                    </div>

                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="stat:stat_level_distribute:export">
                    <i class="fa fa-download"></i> Экспорт
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('stat:stat_level_distribute:edit')}]];
        var removeFlag = [[${@permission.hasPermi('stat:stat_level_distribute:remove')}]];
        var prefix = ctx + "stat/stat_shop_item";

        $(function() {
            var options = {
                url: prefix + "/stat_shop_item",
                modalName: "Статистика покупок в магазине",
                pagination: false,
                firstLoad:false,
                showExport:true,
                columns: [{
                    checkbox: true
                },
                {
                    field: 'itemmodelidShow',
                    title: 'ID предмета'
                },
                {
                    field: 'moneyTypeShow',
                    title: 'Тип валюты'
                },
                {
                    field: 'users',
                    title: 'Количество покупателей (аккаунты)'
                },
                {
                    field: 'roles',
                    title: 'Количество покупателей (персонажи)'
                },
                {
                    field: 'totalnum',
                    title: 'Продано предметов'
                },
                {
                    field: 'totalgold',
                    title: 'Потрачено валюты'
                },
                {
                    field: 'totaltimes',
                    title: 'Количество покупок'
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>