<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('Журнал почты')"/>
    <th:block th:include="include :: footer"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">

                    <div th:replace="common/log_head.html"></div>

                    <ul>
                        <li>
                            <label>Тип действия с почтой:</label>
                            <input type="text" name="mailAction"/>
                        </li>
                        <li>
                            <label>ID получателя:</label>
                            <input type="text" name="receiverId"/>
                        </li>
                    </ul>


                    <div th:replace="common/log_limit.html"></div>
                    <div th:replace="common/stat_search_head.html"></div>
                </div>

            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="gamelog:maillog:export">
                <i class="fa fa-download"></i> Экспорт
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" style="word-break:break-all; word-wrap:break-word;"></table>
        </div>
    </div>
</div>

<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('gamelog:maillog:edit')}]];
    var removeFlag = [[${@permission.hasPermi('gamelog:maillog:remove')}]];
    var prefix = ctx + "gamelog/maillog";

    $(function () {
        var options = {
            url: prefix + "/list",
            exportUrl: prefix + "/export",
            modalName: "Журнал почты",
            pagination: false,
            firstLoad: false,
            height:$(document).height() - 160,
            columns: [
                {
                    field: 'time',
                    title: 'Время',
                    width: 136,
                    formatter: formatterDate
                },
                {
                    field: 'mailAction',
                    title: 'Тип действия с почтой',
                    formatter: formatterMailAction
                },
                {
                    field: 'type',
                    title: 'Тип письма'
                },
                {
                    field: 'mailId',
                    width: 155,
                    title: 'Уникальный ID письма'
                },
                {
                    field: 'receiveTime',
                    title: 'Время получения письма',
                    width: 136,
                    formatter: formatterDate
                },
                {
                    field: 'id',
                    title: '',
                    visible: false
                },
                {
                    field: 'sender',
                    title: 'Отправитель'
                },
                {
                    field: 'mailTitle',
                    title: 'Тема письма'
                },
                {
                    field: 'mailContend',

                    title: 'Текст письма'
                },
                {
                    field: 'receiverId',
                    width: 155,
                    title: 'ID получателя'
                },
                {
                    field: 'receiverName',
                    title: 'Получатель'
                },
                {
                    field: 'attachment',
                    title: 'Вложение'
                }
            ]
        };
        $.table.init(options);
    });
</script>
</body>
</html>