<?xml version="1.0" encoding="UTF-8" standalone="no"?><server>
	<!-- excel导出配置 excelFilePath表示excel表所在相对路径;javaPackageName导出的java包名；
	javaCodeBase是代码基本所在后面的代码路径都会加上这个，多语言包的加上后缀，javaPath导出的java代码相对路径；languageCsvPath表示客户端导出的语言包csv路径；ScriptConfigManager.java所在相对路径
	-->
    <excel 
		excelFilePath="../../Gamedata/Config"   
		javaPackageName="com.data"
		languageCsvPath="../../Client/Assets/StreamingAssets/Database"
		
		javaCodeBase="../GameCfg"	
		javaPath="/src" 
		javaScriptPath="/script/config"
		scriptConfigManagerPath="/src/com/data/script"

		excelFilePathOtherBase="../../Gamedata/ConfigEx/"
		excelFilePathOther="Japan,Korea,Russian,SG_MY_TH,Taiwan,Thailand,USA,Vietnam"

	/>

</server>