<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('游戏参数信息列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                                <li>
                                    <label>游戏ID：</label>
                                    <input type="text" name="gameId"/>
                                </li>
<!--                            <li>-->
<!--                                <label>第三方充值密钥：</label>-->
<!--                                <input type="text" name="rechargeSecretkey"/>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <label>自动开服检查起始服务器ID：</label>-->
<!--                                <input type="text" name="autoFirstServerId"/>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <label>自动开服注册角色数条件：</label>-->
<!--                                <input type="text" name="autoUserCount"/>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <label>自动开服进度ID：</label>-->
<!--                                <input type="text" name="autoServerId"/>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <label>修改时间：</label>-->
<!--                                <input type="text" name="time"/>-->
<!--                            </li>-->
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="gmtool:gameInfo:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="gmtool:gameInfo:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="gmtool:gameInfo:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="gmtool:gameInfo:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('gmtool:gameInfo:edit')}]];
        var removeFlag = [[${@permission.hasPermi('gmtool:gameInfo:remove')}]];
        var prefix = ctx + "gmtool/gameInfo";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "游戏参数信息",
                columns: [{
                    checkbox: false
                },
                {
                    field: 'gameId',
                    title: '游戏ID',
                    // visible: false
                },
                {
                    field: 'rechargeSecretkey',
                    title: '第三方充值密钥'
                },
                // {
                //     field: 'autoFirstServerId',
                //     title: '自动开服检查起始服务器ID'
                // },
                {
                    field: 'autoUserCount',
                    title: '自动开服注册角色数条件'
                },
                {
                    field: 'autoServerId',
                    title: '自动开服进度ID'
                },
                // {
                //     field: 'time',
                //     title: '修改时间'
                // },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.gameId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.gameId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>