<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('Список параметров игры')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                                <li>
                                    <label>ID игры:</label>
                                    <input type="text" name="gameId"/>
                                </li>
<!--                            <li>-->
<!--                                <label>Ключ для сторонних пополнений:</label>-->
<!--                                <input type="text" name="rechargeSecretkey"/>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <label>Начальный ID сервера для автоматического открытия:</label>-->
<!--                                <input type="text" name="autoFirstServerId"/>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <label>Условие по количеству персонажей для автоматического открытия сервера:</label>-->
<!--                                <input type="text" name="autoUserCount"/>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <label>ID прогресса автоматического открытия сервера:</label>-->
<!--                                <input type="text" name="autoServerId"/>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <label>Время изменения:</label>-->
<!--                                <input type="text" name="time"/>-->
<!--                            </li>-->
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;Поиск</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;Сброс</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="gmtool:gameInfo:add">
                    <i class="fa fa-plus"></i> Добавить
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="gmtool:gameInfo:edit">
                    <i class="fa fa-edit"></i> Редактировать
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="gmtool:gameInfo:remove">
                    <i class="fa fa-remove"></i> Удалить
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="gmtool:gameInfo:export">
                    <i class="fa fa-download"></i> Экспорт
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('gmtool:gameInfo:edit')}]];
        var removeFlag = [[${@permission.hasPermi('gmtool:gameInfo:remove')}]];
        var prefix = ctx + "gmtool/gameInfo";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "Параметры игры",
                columns: [{
                    checkbox: false
                },
                {
                    field: 'gameId',
                    title: 'ID игры',
                    // visible: false
                },
                {
                    field: 'rechargeSecretkey',
                    title: 'Ключ для сторонних пополнений'
                },
                // {
                //     field: 'autoFirstServerId',
                //     title: 'Начальный ID сервера для автоматического открытия'
                // },
                {
                    field: 'autoUserCount',
                    title: 'Условие по количеству персонажей для автоматического открытия сервера'
                },
                {
                    field: 'autoServerId',
                    title: 'ID прогресса автоматического открытия сервера'
                },
                // {
                //     field: 'time',
                //     title: 'Время изменения'
                // },
                {
                    title: 'Действия',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.gameId + '\')"><i class="fa fa-edit"></i>Редактировать</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.gameId + '\')"><i class="fa fa-remove"></i>Удалить</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>