<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('Управление белым списком')" />
    <th:block th:include="include :: footer" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <!--Поиск информации о персонажах-->
<!--            <div class="col-sm-12 search-collapse">-->
<!--                <div th:replace="common/query_game_role.html"></div>-->
<!--            </div>-->


            <div class="col-sm-12 search-collapse">

                <div th:replace="common/select_login_user.html"></div>
                <!-- Здесь настраивается сопоставление адресов групповых запросов к серверу -->
                <input type="hidden" id="requestUrl" value="loginServer">
                <input type="hidden" id="ignoreMerge" value="0">
                <input type="hidden" id="serverTypeList" value="2">

                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Настройка белого списка</h5>
                    </div>
                    <div class="ibox-content">
                        <form id="whiteForm" class="form-horizontal m-t" method="post">
                            <div class="form-group">
                                <label class="col-sm-2 control-label is-required" for="con">Условие белого списка:</label>
                                <div class="col-sm-3">
                                    <input class="form-control" id="con" type="text" name="con" required/>
                                </div>
                                </br>
                                <p>Условием белого списка является ID аккаунта платформы</p>
                                <!--<p>Блокируемые данные аккаунта: IP, ID аккаунта платформы, MAC-адрес, IMEI и уникальный код устройства (например: {9527cd86-9f3d-4449-a605-a57bb7fd5e87})</p>-->
                            </div>

                            <div class="form-group" style="margin-left: 4px">
                                <label class="col-sm-2 control-label"></label>
                                <button type="button" class="btn btn-success" onclick="addWhite()">
                                    Добавить в белый список
                                </button>

<!--                                <label class="col-sm-2 control-label"></label>-->
<!--                                <button type="button" class="btn btn-success" onclick="setWhite(1)">-->
<!--                                    Удалить из белого списка-->
<!--                                </button>-->
                            </div>

                            <div id="msg" class="container-fluid"></div>
                        </form>
                    </div>
                </div>

<!--                <div class="col-sm-12 select-table table-striped" id="tableDiv">-->
<!--                    <table id="bootstrap-table"></table>-->
<!--                </div>-->
            </div>


            <div class="btn-group-sm" id="toolbar" role="group">
<!--                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="gmtool:white:add">-->
<!--                    <i class="fa fa-plus"></i> Добавить-->
<!--                </a>-->
<!--                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="gmtool:white:edit">-->
<!--                    <i class="fa fa-edit"></i> Редактировать-->
<!--                </a>-->
<!--                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="gmtool:white:remove">-->
<!--                    <i class="fa fa-remove"></i> Удалить-->
<!--                </a>-->
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="gmtool:white:export">
                    <i class="fa fa-download"></i> Экспорт
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        // var editFlag = [[${@permission.hasPermi('gmtool:white:edit')}]];
        // var removeFlag = [[${@permission.hasPermi('gmtool:white:remove')}]];
        var prefix = ctx + "gmtool/white";

        $(function() {
            var options = {
                url: prefix + "/list",
                // createUrl: prefix + "/add",
                // updateUrl: prefix + "/edit/{id}",
                // removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "Белый список",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '',
                    visible: false
                },
                {
                    field: 'con',
                    title: 'Условие белого списка'
                },
                {
                    field: 'state',
                    title: 'Статус: 0 — активен, 1 — неактивен'
                },
                {
                    title: 'Действия',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        if(row.state == 0){
                            actions.push('<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="changeWhite(' + row.id + ')">Деактивировать</a> ');
                        }else{
                            actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="changeWhite(' + row.id + ')">Активировать</a> ');
                        }
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

        // Добавить в белый список
        function addWhite(state){
            $.modal.confirm("Подтвердить выполнение операции?", function () {
                $.ajax({
                    url: prefix + "/addWhite",
                    method: 'POST',
                    dataType: 'json',
                    data: {
                        "con": $("#con").val()
                        // "state": state
                    },
                    beforeSend: function () {
                        $.modal.loading("Обработка, подождите...");
                        $.modal.disable();
                    },
                    success: function (data) {
                        $.modal.alertWarning(data.msg);
                        $.modal.closeLoading();
                        $.modal.enable();
                        $.table.refresh();
                    }
                });
            });
        }

        // Изменить статус белого списка (активировать/деактивировать)
        function changeWhite(id){
            $.modal.confirm("Подтвердить выполнение операции?", function () {
                $.ajax({
                    url: prefix + "/changeWhite",
                    method: 'POST',
                    dataType: 'json',
                    data: {
                        "id": id
                    },
                    beforeSend: function () {
                        $.modal.loading("Обработка, подождите...");
                        $.modal.disable();
                    },
                    success: function (data) {
                        $.modal.alertWarning(data.msg);
                        $.modal.closeLoading();
                        $.modal.enable();
                        $.table.refresh();
                    }
                });
            });
        }
    </script>
</body>
</html>