<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('Список колонок журналов')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>Название сервера:</label>
                                <input type="text" name="serverName"/>
                            </li>
                            <li>
                                <label>ID сервера:</label>
                                <input type="text" name="serverId"/>
                            </li>
                            <li>
                                <label>Платформа:</label>
                                <input type="text" name="groupName"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;Поиск</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;Сброс</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="gmtool:db:add">
                    <i class="fa fa-plus"></i> Добавить
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="gmtool:db:edit">
                    <i class="fa fa-edit"></i> Редактировать
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="gmtool:db:remove">
                    <i class="fa fa-remove"></i> Удалить
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="gmtool:db:export">
                    <i class="fa fa-download"></i> Экспорт
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('gmtool:db:edit')}]];
        var removeFlag = [[${@permission.hasPermi('gmtool:db:remove')}]];
        var serverTypeDatas = [[${@dict.getType('server_type')}]];
        var prefix = ctx + "gmtool/db";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "Колонки журналов",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: 'ID',
                    visible: false
                },
                {
                    field: 'serverName',
                    title: 'Название сервера'
                },
                {
                    field: 'serverId',
                    title: 'ID сервера'
                },
                {
                    field: 'groupName',
                    title: 'Платформа'
                },
                {
                    field: 'dbIp',
                    title: 'IP базы данных'
                },
                {
                    field: 'dbPort',
                    title: 'Порт базы данных'
                },
                {
                    field: 'dbname',
                    title: 'Название базы данных'
                },
                {
                    field: 'dbuser',
                    title: 'Пользователь базы данных'
                },
                {
                    field: 'dbpassword',
                    title: 'Пароль базы данных'
                },
                {
                    field: 'serverIdList',
                    title: 'Список объединённых серверов'
                },
                {
                    field: 'isHeFu',
                    title: 'Статус объединения'
                },
                {
                    field: 'hefuServerID',
                    title: 'ID целевого сервера'
                },
                {
                    field: 'hefuTime',
                    title: 'Время объединения серверов'
                },
                {
                    field: 'serverType',
                    title: 'Тип сервера',
                    formatter:function (value,row,index) {
                        if (value == 0){
                            return "Тестовый сервер";
                        }else if (value == 1){
                            return "Основной сервер";
                        }else if (value == 2){
                            return "Сервер входа";
                        }else if (value == 3){
                            return "Общий сервер";
                        }else if (value == 4){
                            return "Межсерверный";
                        }
                    }
                },
                {
                    field: 'serverOpenTime',
                    title: 'Время открытия сервера'
                },
                {
                    title: 'Действия',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>Редактировать</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>Удалить</a>');
                        actions.push('<a style="margin-left: 4px" class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="dbTest(\''+row.id+'\')"><i class="fa fa-bookmark"></i>Тест базы данных</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

        // Тест соединения (тест базы данных)
        function dbTest(id) {
            $.post(prefix + "/dbTest", {"id": id}, function (data) {
                if (data.code > 0) {
                    $.modal.alertError(data.msg);
                } else {
                    $.modal.alertSuccess(data.msg);
                }
            });
        }
    </script>
</body>
</html>