<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('Список серверов')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>ID сервера:</label>
                                <input type="text" name="serverId"/>
                            </li>
                            <li>
                                <label>Название сервера:</label>
                                <input type="text" name="serverName"/>
                            </li>
                            <li>
                                <label>Платформа:</label>
                                <input type="text" name="groupName"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;Поиск</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;Сброс</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="gmtool:server:add">
                    <i class="fa fa-plus"></i> Добавить
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="gmtool:server:edit">
                    <i class="fa fa-edit"></i> Изменить
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="gmtool:server:remove">
                    <i class="fa fa-remove"></i> Удалить
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="gmtool:server:export">
                    <i class="fa fa-download"></i> Экспорт
                </a>
                <a class="btn btn-warning multiple disabled" onclick="testAll()">
                    <i class="fa fa-bookmark"></i> Массовое тестирование серверов
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('gmtool:server:edit')}]];
        var removeFlag = [[${@permission.hasPermi('gmtool:server:remove')}]];
        var prefix = ctx + "gmtool/server";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "Список серверов",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: 'ID',
                    visible: false
                },
                {
                    field: 'serverId',
                    title: 'ID сервера'
                },
                {
                    field: 'serverName',
                    title: 'Название сервера'
                },
                {
                    field: 'groupName',
                    title: 'Платформа'
                },
                {
                    field: 'serverIP',
                    title: 'IP сервера'
                },
                {
                    field: 'serverPort',
                    title: 'Порт сервера'
                },
                {
                    field: 'dblogIp',
                    title: 'IP базы данных логов'
                },
                {
                    field: 'dblogPort',
                    title: 'Порт базы данных логов'
                },
                {
                    field: 'dblogName',
                    title: 'Название базы данных логов'
                },
                {
                    field: 'dblogUser',
                    title: 'Пользователь базы данных логов'
                },
                {
                    field: 'dblogPwd',
                    title: 'Пароль базы данных логов'
                },
                {
                    field: 'isHeFu',
                    title: 'Объединён'
                },
                {
                    field: 'hefuTime',
                    title: 'Время объединения серверов'
                },
                {
                    field: 'hefuServerID',
                    title: 'ID целевого сервера'
                },
                {
                    field: 'serverIdList',
                    title: 'Список объединения'
                },
                {
                    field: 'serverType',
                    title: 'Тип сервера',
                    formatter:function (value,row,index) {
                        if (value == 0){
                            return "Тестовый сервер";
                        }else if (value == 1){
                            return "Основной сервер";
                        }else if (value == 2){
                            return "Сервер входа";
                        }else if (value == 3){
                            return "Общий сервер";
                        }else if (value == 4){
                            return "Межсерверный";
                        }
                    }
                },
                {
                    field: 'serverOpenTime',
                    title: 'Время открытия сервера'
                },
                {
                    field: 'openState',
                    title: 'Статус открытия',
                    formatter:function (value) {
                        if (value == 0){
                            return value+" [Резервный]"
                        } else {
                            return value+" [Открыт]"
                        }
                    }
                },
                {
                    field: 'isDeleted',
                    title: 'Активен',
                    formatter:function (value) {
                        if (value == 0){
                            return "Активен"
                        }else {
                            return "Неактивен"
                        }
                    }
                },
                {
                    field: 'isDeleted',
                    title: 'Управление',
                    formatter:function (value, row, index) {
                        if (value == 0){
                            return "<a class='btn btn-danger btn-xs' href='javascript:void(0)' onclick='changeIsDeleted("+row.id+","+value+")'>Отключить</a>"
                        }else {
                            return "<a class='btn btn-success btn-xs' href='javascript:void(0)' onclick='changeIsDeleted("+row.id+","+value+")'>Включить</a>"
                        }
                    }
                },
                {
                    title: 'Действия',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        // actions.push('<a style="margin-right: 5px" class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>Редактировать</a> ');
                        // actions.push('<a style="margin-right: 5px" class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>Удалить</a>');
                        // actions.push('<a style="margin-right: 5px" class="btn btn-info btn-xs" href="javascript:void(0)" onclick="combineclear(\''+row.id+'\')"><i class="fa fa-refresh"></i>Очистить данные объединения</a>');
                        actions.push('<a class="btn btn-warning btn-xs" href="javascript:void(0)" onclick="test(\''+row.id+'\')"><i class="fa fa-bookmark"></i>Тест сервера</a>');
                        actions.push('<a style="margin-top: 5px" class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="dbTest(\''+row.id+'\')"><i class="fa fa-bookmark"></i>Тест базы данных</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

        // Очистка данных объединения серверов
        function combineclear(id) {
            $.modal.confirm("Подтвердить очистку данных объединения для текущего сервера?", function() {
                $.post(prefix + "/cleanCombine", {"id": id}, function (data) {
                    if (data.code > 0) {
                        $.modal.alertError(data.msg);
                    } else {
                        $.modal.alertSuccess(data.msg);
                    }
                });
            });
        }
        // Тест соединения (тест сервера)
        function test(id) {
            $.post(prefix + "/test", {"ids": id}, function (data) {
                $.modal.alertWarning(data.msg);
            });
        }
        // Тест соединения (тест базы данных)
        function dbTest(id) {
            $.post(prefix + "/dbTest", {"id": id}, function (data) {
                if (data.code > 0) {
                    $.modal.alertError(data.msg);
                } else {
                    $.modal.alertSuccess(data.msg);
                }
            });
        }
        // Изменение статуса активности сервера
        function changeIsDeleted(id,isDeleted) {
            if (isDeleted == 0){
                isDeleted = 1;
            } else {
                isDeleted = 0;
            }

            $.ajax({
                url : prefix + "/changeIsDeleted",
                type :'POST',
                dataType : 'json',
                data:{
                    "id":id,
                    "isDeleted":isDeleted
                },
                async : true,
                success : function(data){
                    if (data.code > 0){
                        $.modal.alertError(data.msg);
                    }else {
                        $.modal.alertSuccess(data.msg);
                    }
                    $.table.refresh();
                }
            });
        }
        // Массовое тестирование соединения (тест серверов)
        function testAll() {
            var idsArr = $.table.selectColumns("id");
            $.ajax({
                url:prefix + "/test",
                data: {
                    "ids": idsArr.toString()
                },
                type :'POST',
                beforeSend: function () {
                    $.modal.loading("Обработка, подождите...");
                    $.modal.disable();
                },
                success: function (data) {
                    $.modal.alertWarning(data.msg);
                    $.modal.closeLoading();
                    $.modal.enable();
                }
            });
        }
    </script>
</body>
</html>