<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('Содержимое истории конфигурации пополнений')" />
    <style type="text/css">
        .table {table-layout:fixed;}
    </style>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse" hidden>
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <input type="hidden" id="index" name="index">
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="col-sm-12 select-table table-striped" style="word-break:break-all; word-wrap:break-all;">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var prefix = ctx + "gmtool/rechargeItem";
    var index = [[${index}]];
    $("#index").val(index);
    $(function() {
        var options = {
            url: prefix + "/queryRechargeItemContent",
            pageSize: 20,
            pageNumber: 1,
            pageList: [20, 30, 50],
            showSearch: false,
            modalName: "Настройки пополнения",
            columns: [
                {
                    title: '№',
                    field: '',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return showNumber("bootstrap-table",index);
                    }
                },
                {
                    field: 'goodsId',
                    title: 'ID пополнения'
                },
                {
                    field: 'goodsSystemCfgId',
                    title: 'Внутренний ID конфигурации'
                },
                {
                    field: 'goodsName',
                    title: 'Название товара'
                },
                {
                    field: 'goodsPayChannel',
                    title: 'Название канала'
                },
                {
                    field: 'goodsPayType',
                    title: 'Платёжный канал'
                },
                {
                    field: 'goodsType',
                    title: 'Тип пополнения'
                },
                {
                    field: 'goodsSubtype',
                    title: 'Подтип пополнения'
                },
                {
                    field: 'goodsLimit',
                    title: 'Количество пополнений'
                },
                {
                    field: 'goodsIcon',
                    title: 'ID отображаемой иконки'
                },
                {
                    field: 'goodsurl',
                    title: 'URL изображения товара'
                },
                {
                    field: 'goodsPrice',
                    title: 'Реальная валюта для пополнения',
                    formatter:formatterValue
                },
                {
                    field: 'goodsPricePoint',
                    title: 'Точка биллинга'
                },
                {
                    field: 'goodsShowPrice',
                    title: 'Валюта отображаемая в интерфейсе (например: THB)'
                },
                {
                    field: 'goodsReward',
                    title: 'Награда за пополнение'
                },
                {
                    field: 'goodsMultiple',
                    title: 'Множитель награды'
                },
                {
                    field: 'goodsExtraReward',
                    title: 'Дополнительная награда'
                },
                {
                    field: 'goodsExtraRewardLimit',
                    title: 'Количество дополнительных наград'
                },
                {
                    field: 'isTotalRecharge',
                    title: 'Учитывать в накопительных акциях'
                },
                {
                    field: 'totalVipPower',
                    title: 'Увеличивать VIP-опыт'
                }
               ]
        };
        $.table.init(options);
    });
</script>
</body>
</html>