<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('Список конфигураций пополнений')" />
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: bootstrap-table-fixed-columns-js" />
    <style type="text/css">
        .table {table-layout:fixed;}
    </style>
</head>
<body class="gray-bg">
     <div class="container-div">
         <div class="row">
             <div class="col-sm-12">
                 <div class="tabs-container">
                     <!--<input type="button" value="Очистить данные обычных и сторонних пополнений" class="btn btn-primary" onclick="clearData()">-->
                     <ul class="nav nav-tabs" id="nav-tabs">
                         <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">Обычные пополнения</a>
                         </li>
                         <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">Сторонние пополнения</a>
                         </li>
                     </ul>
                     <div class="tab-content">
                         <div id="tab-1" class="tab-pane active">
                             <div class="panel-body">
                                 <div class="col-sm-12 select-table table-striped" style="word-break:break-all; word-wrap:break-all;">
                                     <table id="rechargeItemData"></table>
                                 </div>
                                 <div style="margin-left: 85%;display: inline;margin-top: 10px">
                                     <a href="#rechargeItemLoadModel" role="button" class="btn btn-primary" data-toggle="modal">Импорт из Excel</a>
                                     <form name="rechargeItem" id="rechargeItem" method="post" action="rechargeItem/exportRechargeExcel" style="display: inline-block">
                                         <input name="type" type="hidden" value="0">
                                         <input type="button" value="Экспорт в Excel" class="btn btn-primary" onclick="exportExcel(this)">
                                     </form>
                                 </div>
                             </div>
                         </div>
                         <div id="tab-2" class="tab-pane">
                             <div class="panel-body">
                                 <div class="col-sm-12 select-table table-striped" style="word-break:break-all; word-wrap:break-all;">
                                     <table id="rechargeItemData3"></table>
                                 </div>
                                 <div style="margin-left: 85%;display: inline">
                                     <a href="#otherRechargeItemLoadModel" role="button" class="btn btn-primary" data-toggle="modal">Импорт из Excel</a>
                                     <form name="rechargeItem3" id="rechargeItem3" method="post" action="rechargeItem/exportRechargeExcel" style="display: inline-block">
                                         <input name="type" type="hidden" value="3">
                                         <input type="button" value="Экспорт в Excel" class="btn btn-primary" onclick="exportExcel(this)">
                                     </form>
                                 </div>
                             </div>
                         </div>
                         <div class="container-fluid"><span style="color: #00ee00">MD5:</span><span id="MD5"></span></div>
                         <div class="container-fluid"><span style="color: #00ee00"></span><span id="msg"></span></div>
                     </div>
                 </div>
             </div>
             <div class="col-sm-12 select-table table-striped">
                 <table id="rechargeItemLog"></table>
             </div>
         </div>
    </div>

     <div id="rechargeItemLoadModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="modal-dialog">
             <div class="modal-content">
                 <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                     <h3>Обычные пополнения</h3>
                 </div>
                 <div class="modal-body">
                     <input id="rechargeItems" type="file" name="rechargeItemFile"/>
                     <label>Загрузить rechargeItem.xlsx</label>
                 </div>
                 <div class="modal-footer">
                     <input type="button" value="Закрыть" class="btn" data-dismiss="modal" aria-hidden="true"/>
                     <input type="button" value="Загрузить" onclick="loadRechargeItem()" class="btn btn-primary"/>
                 </div>
             </div><!-- /.modal-content -->
         </div><!-- /.modal-dialog -->
     </div>

     <div id="otherRechargeItemLoadModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="modal-dialog">
             <div class="modal-content">
                 <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                     <h3>Сторонние пополнения</h3>
                 </div>
                 <div class="modal-body">
                     <input id="otherRechargeItems" type="file" name="otherRechargeItemFile"/>
                     <label>Загрузить rechargeItem.xlsx</label>
                 </div>
                 <div class="modal-footer">
                     <input type="button" value="Закрыть" class="btn" data-dismiss="modal" aria-hidden="true"/>
                     <input type="button" value="Загрузить" onclick="loadOtherRechargeItem()" class="btn btn-primary"/>
                 </div>
             </div><!-- /.modal-content -->
         </div><!-- /.modal-dialog -->
     </div>
    <script th:inline="javascript">
        var prefix = ctx + "gmtool/rechargeItem";
        var tableName="rechargeItem";// Первая вкладка
        $(function () {
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                // Название активной вкладки
                var title = $(e.target).text();
                if ("Сторонние пополнения" == title) {
                    tableName="otherRechargeItem";
                }else {
                    tableName = "rechargeItem";
                }
                console.log(tableName);
            });
        });
        $(function() {
            var id = ["rechargeItemData","rechargeItemData3"];
            var url = [prefix + "/queryRechargeItem",prefix + "/queryRechargeItem3"];
            var updateUrl = [prefix + "/edit?goodsId={id}&tableName=rechargeItem",prefix + "/edit?goodsId={id}&tableName=otherRechargeItem"];
            for (var i=0;i<id.length;i++){
                initTable(id[i],url[i],updateUrl[i]);
            }
            function initTable(id,url,updateUrl) {
                var options = {
                    id:id,
                    url: url,
                    updateUrl: updateUrl,
                    showSearch: false,
                    // clickToSelect:true,
                    singleSelect:true,
                    // fixedColumns: true,
                    // fixedNumber: 4,
                    modalName: "Настройки пополнения",
                    onLoadSuccess: onLoadSuccess,
                    columns: [{
                        checkbox: true
                    },
                        {
                            title: '№',
                            field: '',
                            align: 'center',
                            formatter: function (value, row, index) {
                                return showNumber(id,index);
                            }
                        },
                        {
                            field: 'goodsId',
                            title: 'ID пополнения'
                        },
                        {
                            field: 'goodsSystemCfgId',
                            title: 'Внутренний ID конфигурации'
                        },
                        {
                            field: 'goodsName',
                            title: 'Название товара (для BI-аналитики)'
                        },
                        {
                            field: 'goodsPayChannel',
                            title: 'Платёжный канал'
                        },
                        {
                            field: 'goodsPayType',
                            title: 'Тип платежа (сторонний)'
                        },
                        {
                            field: 'goodsType',
                            title: 'Тип пополнения'
                        },
                        {
                            field: 'goodsSubtype',
                            title: 'Подтип пополнения'
                        },
                        {
                            field: 'goodsLimit',
                            title: 'Количество пополнений (текущий раунд)'
                        },
                        {
                            field: 'goodsIcon',
                            title: 'ID отображаемой иконки'
                        },
                        {
                            field: 'goodsurl',
                            title: 'URL изображения товара'
                        },
                        {
                            field: 'goodsPrice',
                            title: 'Реальная валюта для пополнения',
                            formatter:formatterValue
                        },
                        {
                            field: 'goodsPricePoint',
                            title: 'Точка биллинга'
                        },
                        {
                            field: 'goodsShowPrice',
                            title: 'Валюта по умолчанию'
                        },
                        {
                            field: 'goodsReward',
                            title: 'Награда за пополнение'
                        },
                        {
                            field: 'goodsMultiple',
                            title: 'Множитель награды'
                        },
                        {
                            field: 'goodsExtraReward',
                            title: 'Дополнительная награда'
                        },
                        {
                            field: 'goodsExtraRewardLimit',
                            title: 'Количество дополнительных наград'
                        },
                        {
                            field: 'isTotalRecharge',
                            title: 'Учитывать в накопительных акциях'
                        },
                        {
                            field: 'totalVipPower',
                            title: 'Увеличивать VIP-опыт'
                        },
                        {
                            title: 'Действия',
                            align: 'center',
                            formatter: function(value, row, index) {
                                var actions = [];
                                actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.goodsId + '\')"><i class="fa fa-edit"></i>Редактировать</a> ');
                                return actions.join('');
                            }
                        }]
                };
                $.table.init(options);
                function onLoadSuccess(data){
                    // console.log("data:"+JSON.stringify(data));
                    $("#MD5").text(data.paramMap.md5);
                }
            }

        });

        $(function() {
            var options = {
                id:"rechargeItemLog",
                url: prefix + "/queryRechargeItemLog",
                pageSize: 20,
                pageNumber: 1,
                pageList: [20, 30, 50],
                showSearch: false,
                clickToSelect:true,
                singleSelect:true,
                // fixedColumns: true,
                // fixedNumber: 4,
                modalName: "История изменений конфигурации пополнений",
                columns: [{
                    checkbox: true
                },
                    {
                        title: '№',
                        field: '',
                        align: 'center',
                        formatter: function (value, row, index) {
                            return showNumber("rechargeItemLog",index);
                        }
                    },
                    {
                        field: 'id',
                        title: 'ID',
                        visible: false
                    },
                    {
                        field: 'userName',
                        title: 'Изменил'
                    },
                    {
                        field: 'time',
                        title: 'Время изменения'
                    },
                    {
                        field: 'tableName',
                        title: 'Имя таблицы'
                    },
                    {
                        title: 'Детали записи',
                        align: 'center',
                        formatter: function(value, row, index) {
                            return '<a href="#" class="btn btn-success btn-xs" onclick="showRechargeItemLog('+index+',this)">Просмотр</a>';
                        }
                    },
                    {
                        title: 'Экспорт в Excel',
                        align: 'center',
                        formatter: function(value, row, index) {
                            return '<form name="exportRechargeItemLogForm" id="exportRechargeItemLogForm" method="post" action="rechargeItem/exportRechargeItemLog">' +
                                '<input id="hId" name="hId" type="hidden" value="'+row.id+'">'+
                                '<input id="tableName" name="tableName" type="hidden" value="'+row.tableName+'">'+
                                '<a href="#" class="btn btn-primary btn-xs" onclick="exportRechargeItemLog('+index+',this)">Экспорт в Excel</a>' +
                                '</form>';
                        }
                    }]
            };
            $.table.init(options);
        });

        /**
         *  Импорт обычных пополнений
         */
        function loadRechargeItem() {
            var data = new FormData();
            data.append('rechargeItemFile', $("#rechargeItems").prop('files')[0]);
            // $("#loadingmodal").modal({backdrop:'static',keyboard:false});
            $.ajax({
                url: prefix + "/loadRechargeItem",
                method: 'POST',
                data: data,
                processData: false,
                contentType: false,
                beforeSend: function () {
                    $.modal.loading("Обработка, подождите...");
                    $.modal.disable();
                },
                success: function (data) {
                    if (data.ok){
                        // $("#loadingmodal").modal('hide');
                        reload();
                        $.modal.alertSuccess(data.msg);
                    } else {
                        reload();
                        $.modal.alertError(data.msg);
                    }
                    $.modal.closeLoading();
                    $.modal.enable();
                }
            });
        }
        function reload() {
            $("#rechargeItemLoadModel").modal('hide');
            $("#rechargeItemData").bootstrapTable('refresh');
            $("#rechargeItemData3").bootstrapTable('refresh');
            $("#rechargeItemLog").bootstrapTable('refresh');
        }

        /**
         *  Импорт сторонних пополнений
         */
        function loadOtherRechargeItem() {
            var data = new FormData();
            data.append('otherRechargeItemFile', $("#otherRechargeItems").prop('files')[0]);
            // $("#loadingmodal").modal({backdrop:'static',keyboard:false});
            $.ajax({
                url: prefix + "/loadOtherRechargeItem",
                method: 'POST',
                data: data,
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data.ok){
                        // $("#loadingmodal").modal('hide');
                        reload3();
                        $.modal.alertSuccess(data.msg);
                    } else {
                        reload3();
                        $.modal.alertError(data.msg);
                    }
                    $.modal.closeLoading();
                    $.modal.enable();
                }
            });
        }
        function reload3() {
            $("#otherRechargeItemLoadModel").modal('hide');
            $("#rechargeItemData").bootstrapTable('refresh');
            $("#rechargeItemData3").bootstrapTable('refresh');
            $("#rechargeItemLog").bootstrapTable('refresh');
        }

        /**
         *  Экспорт обычных/сторонних пополнений
         */
        function exportExcel(obj) {
            var type=$(obj).parent().find("input").eq(0).val();
            console.log("type:"+type);
            var data = new FormData();
            data.append('type', type);
            if (type == 0){
                $("form[name='rechargeItem']").submit();// Отправка запроса на сервер для экспорта данных в Excel
            }else {
                $("form[name='rechargeItem3']").submit();
            }
        }

        // Просмотр исторических записей
        function showRechargeItemLog(index,obj) {
            selectRow(index,obj);// Сначала выбираем строку
            layer.open({
                type: 2,
                shade: [0.05, '#393D49'],
                area: ['80%' ,'100%'],
                offset:[0+'px', 150+'px'] ,
                // offset:"rb",
                fix: false,
                btnAlign: 'l',
                // Не фиксировать
                maxmin: true,
                title: "История",
                content: prefix+'/queryRechargeItemLogPage?index='+index,
                btn: ['OK'],
                // Закрытие при клике вне области
                shadeClose: true,
                success: function(layero,index){
                },
                yes: function(index, layero) { // Функция кнопки подтверждения
                    layer.close(index)
                },
                cancel: function(index) {
                    return true;
                }
            });
        }

        // Экспорт истории в Excel
        function exportRechargeItemLog(index,obj) {
            selectRow(index,$(obj).parent());// Сначала выбираем строку
            $("form[name='exportRechargeItemLogForm']").eq(index).submit();// Определяем, какая таблица
        }

        // Очистка данных обычных и сторонних пополнений
        function clearData() {
            $.modal.confirm("Подтвердить очистку?", function () {
                $.ajax({
                    url: prefix + "/clearRechargeItem",
                    type: 'POST',
                    dataType : "json",
                    success: function (data) {
                        console.log(data);
                        if (data.ok){
                            $('#rechargeItemData').bootstrapTable('refresh');
                            $('#rechargeItemData3').bootstrapTable('refresh');
                            $("#rechargeItemLog").bootstrapTable('refresh');
                            $.modal.alertSuccess("Данные обычных и сторонних пополнений успешно удалены");
                        }else {
                            $.modal.alertError("Ошибка удаления данных обычных и сторонних пополнений");
                        }
                    }
                });
            });
        }
    </script>
</body>
</html>