<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('Управление игровыми событиями')" />
    <th:block th:include="include :: footer" />
</head>

<body class="gray-bg">

<div class="container-div">
    <div class="row">

        <div class="col-sm-12 search-collapse">

            <form id="formId1">

                <div class="col-sm-12 search-collapse">

                    <div class="select-list">

                        <ul>

                            <li>

                                <div th:replace="common/select_server_single.html"></div>

                                <!-- Настройка адреса группы серверов для отправки запроса -->
                                <input type="hidden" id="requestUrl" value="gameServer">
                                <input type="hidden" id="ignoreMerge" value="1">

                            </li>


                            <li>

                                <label>Тип события:</label>

                                <select id="type"
                                        name="type"
                                        onchange=""
                                        class="span2">

                                    <option value="-1" selected>Все</option>
                                    <option value="1">Активное событие (1)</option>
                                    <option value="2">Ежедневное пополнение (2)</option>
                                    <option value="3">Ежедневный вход (3)</option>
                                    <option value="4">Набор с ограниченной покупкой (4)</option>
                                    <option value="5">Сокровищница Небесного императора (5)</option>
                                    <option value="6">Накопительное пополнение (6)</option>
                                    <option value="7">Накопительные расходы (7)</option>
                                    <option value="8">Обмен собранных предметов (8)</option>
                                    <option value="9">Групповая покупка (9)</option>
                                    <option value="10">Счастливый кот (10)</option>
                                    <option value="11">Праздник боссов (11)</option>
                                    <option value="12">Праздничные задания (12)</option>
                                    <option value="13">Сбор праздничных символов (13)</option>
                                    <option value="14">Праздничные скидки (14)</option>
                                    <option value="15">Последовательное накопительное пополнение (15)</option>
                                    <option value="16">Магазин с ограничением по времени (16)</option>
                                    <option value="17">Праздничный набор (17)</option>
                                    <option value="18">Рейтинг по очкам (18)</option>
                                    <option value="19">Праздничные желания (19)</option>
                                    <option value="20">Поделиться в Facebook (20)</option>
                                    <option value="21">Последовательное накопительное пополнение 2 (21)</option>
                                    <option value="22">Праздничные поздравления (22)</option>
                                    <option value="23">Бросок кубика (23)</option>
                                    <option value="24">Демонстрация внешнего вида (24)</option>
                                    <option value="25">Экран входа (25)</option>
                                    <option value="26">Чаша сокровищ (26)</option>
                                    <option value="27">Счастливое яйцо (27)</option>
                                    <option value="28">Счастливый нефрит (28)</option>
                                    <option value="29">Поиск сокровищ Фанцзэ (29)</option>

                                </select>

                            </li>


                            <li>

                                <div class="form-group">

                                    <label class="col-sm-2 control-label is-required"
                                           for="subType">
                                        Подтип праздника:
                                    </label>

                                    <div class="col-sm-3">

                                        <select class="form-control"
                                                id="subType"
                                                name="subType">
                                        </select>

                                    </div>

                                </div>

                            </li>


                            <li>

                                <div class="form-group">

                                    <label class="col-sm-2 control-label is-required"
                                           for="isPre">
                                        Тип запроса:
                                    </label>

                                    <div class="col-sm-3">

                                        <select class="form-control"
                                                id="isPre"
                                                name="isPre">

                                            <option value="0">
                                                Активные события
                                            </option>

                                            <option value="1">
                                                События в очереди ожидания
                                            </option>

                                        </select>

                                    </div>

                                </div>

                            </li>


                            <li>

                                <a class="btn btn-primary btn-rounded btn-sm"
                                   onclick="$.table.search()">

                                    <i class="fa fa-search"></i>
                                    &nbsp;Просмотр

                                </a>

                                <a class="btn btn-warning btn-rounded btn-sm"
                                   onclick="reloadAllActivity()">

                                    <i class="fa fa-refresh"></i>
                                    Перезагрузить все игровые события

                                </a>

<!--
                                <button type="button"
                                        class="btn btn-w-m btn-primary"
                                        onclick="queryServerInfo()">
                                    Просмотр
                                </button>
-->

                            </li>

                        </ul>

                    </div>

                </div>

            </form>

        </div>


<!--
        <div class="btn-group-sm" id="toolbar" role="group">

            <a class="btn btn-success" onclick="saveFunctionSwitch()">
                <i class="fa fa-plus"></i>
                Применить изменения
            </a>

            <a class="btn btn-primary single disabled"
               onclick="$.operate.edit()"
               shiro:hasPermission="gmtool:function:edit">

                <i class="fa fa-edit"></i>
                Изменить

            </a>

            <a class="btn btn-danger multiple disabled"
               onclick="$.operate.removeAll()"
               shiro:hasPermission="gmtool:function:remove">

                <i class="fa fa-remove"></i>
                Удалить

            </a>

            <a class="btn btn-warning"
               onclick="$.table.exportExcel()"
               shiro:hasPermission="gmtool:function:export">

                <i class="fa fa-download"></i>
                Экспорт

            </a>

        </div>
-->


        <div class="col-sm-12 select-table table-striped">

            <form id="formId2">

                <table id="bootstrap-table"></table>

            </form>

        </div>

    </div>
</div>


<script th:inline="javascript">

    var editFlag = [[${@permission.hasPermi('gmtool:function:edit')}]];

    var prefix = ctx + "gmtool/activity";
    var dealPrefix = ctx + "gmtool/activityDeal";


    $(function () {

        loadActivityFestivalType(); // Тип праздника


        var op = {

            url: dealPrefix + "/searchActivity",

            modalName: "Игровые события",

            pagination: false,

            firstLoad: false,

            // pageSize: 9999,

            columns: [

                {
                    checkbox: false
                },

                {
                    field: 'id',
                    title: 'ID события'
                },

                {
                    field: 'name',
                    title: 'Название события'
                },

                {
                    field: 'description',
                    title: 'Примечание к событию'
                },

                {
                    field: 'type',
                    title: 'Тип события'
                },

                {
                    field: 'subType',
                    title: 'Тип праздника'
                },

                {
                    field: 'minLv',
                    title: 'Минимальный уровень'
                },

                {
                    field: 'maxLv',
                    title: 'Максимальный уровень'
                },

                {
                    field: 'tag',
                    title: 'Метка события'
                },

                {
                    field: 'sort',
                    title: 'Порядок метки'
                },

                {
                    field: 'autoSend',
                    title: 'Автопубликация при открытии'
                },

                {
                    field: 'isOpenServer',
                    title: 'Событие нового сервера'
                },

                {
                    field: 'timeType',
                    title: 'Тип времени',
                    formatter: getTimeType
                },

                {
                    field: 'beginTime',
                    title: 'Время начала',
                    formatter: getBeginTime
                },

                {
                    field: 'endTime',
                    title: 'Время окончания',
                    formatter: getEndTime
                },

                {
                    field: 'custom',
                    title: 'Данные',
                    formatter: formatterValue
                },

                // {
                //     field: 'state',
                //     title: 'Статус события',
                //     formatter: getState
                // },

                // {
                //     field: 'toSidList',
                //     title: 'Список публикаций',
                //     formatter: formatterValue
                // },

                // {
                //     field: 'okSidList',
                //     title: 'Список успешных публикаций',
                //     formatter: formatterValue
                // },

                {
                    field: 'opAct',
                    title: 'Действия',
                    align: 'center',

                    formatter: function(value, row, index) {

                        var actions = [];

                        if ($("#isPre").val() == 0) {

                            actions.push(
                                '<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="reloadActivity(\'' +
                                row.id +
                                '\')">Перезагрузить активное событие</a><br />'
                            );

                            actions.push(
                                '<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="removeData(\'' +
                                (row.type * 1000 + row.subType) +
                                '\')">Удалить активное событие</a>'
                            );

                        } else {

                            actions.push(
                                '<a class="btn btn-warning btn-xs" href="javascript:void(0)" onclick="removePreData(\'' +
                                (row.type * 1000 + row.subType) +
                                '\',\'' +
                                row.id +
                                '\')">Удалить событие из очереди ожидания</a>'
                            );

                        }

                        return actions.join('');
                    }
                }

            ],


            onLoadSuccess: function(data) {

                // console.log(JSON.stringify(data));
                // console.log(data);

            },


            onPostBody: function(data) {

                // console.log(JSON.stringify(data));
                // console.log(data);

            }

        };


        $.table.init(op);

    });


    function removeData(actType) {

        $.modal.confirm("Удалить активное событие?", function () {

            $.ajax({

                type: "POST",

                url: dealPrefix + "/removeActivity",

                data: {

                    "serverId": $("#select_server").val(),

                    "actType": actType

                },

                // data:$("#formId2").serialize(),

                dataType: "json",


                success: function (data) {

                    if (!data.ok) {

                        $.modal.alertError(data.msg);

                    } else {

                        $.modal.alertSuccess("Операция выполнена");

                    }

                    $.table.refresh();

                }

            });

        });

    }


    function removePreData(actType, actId) {

        $.modal.confirm("Удалить событие из очереди ожидания?", function () {

            $.ajax({

                type: "POST",

                url: dealPrefix + "/removePreActivity",

                data: {

                    "serverId": $("#select_server").val(),

                    "actType": actType,

                    "actId": actId

                },

                // data:$("#formId2").serialize(),

                dataType: "json",


                success: function (data) {

                    if (!data.ok) {

                        $.modal.alertError(data.msg);

                    } else {

                        $.modal.alertSuccess("Операция выполнена");

                    }

                    $.table.refresh();

                }

            });

        });

    }


    function reloadActivity(actId) {

        $.modal.confirm(
            "Перезагрузить событие? Внимание: сначала текущее активное событие будет удалено с сервера, затем загружено заново. Для некоторых событий при удалении может быть выполнена выдача итоговых наград.",
            function () {

                $.ajax({

                    type: "POST",

                    url: dealPrefix + "/reloadActivity",

                    data: {

                        "serverId": $("#select_server").val(),

                        "actId": actId

                    },

                    // data:$("#formId2").serialize(),

                    dataType: "json",


                    success: function (data) {

                        if (!data.ok) {

                            $.modal.alertError(data.msg);

                        } else {

                            $.modal.alertSuccess("Операция выполнена");

                        }

                        $.table.refresh();

                    }

                });

            }
        );

    }


    function reloadAllActivity() {

        $.modal.confirm(
            "Перезагрузить все события? Внимание: сначала все активные события будут удалены с сервера, затем загружены заново. Для некоторых событий при удалении может быть выполнена выдача итоговых наград.",
            function () {

                $.ajax({

                    type: "POST",

                    url: dealPrefix + "/reloadAllActivity",

                    data: {

                        "serverId": $("#select_server").val()

                    },

                    // data:$("#formId2").serialize(),

                    dataType: "json",


                    success: function (data) {

                        if (!data.ok) {

                            $.modal.alertError(data.msg);

                        } else {

                            $.modal.alertSuccess("Операция выполнена");

                        }

                        $.table.refresh();

                    }

                });

            }
        );

    }


    // Просмотр информации о функциях сервера
    function queryServerInfo() {

        // $.post(ctx + "gmtool/activityDeal/searchActivity",
        //     $("#formId1").serialize(),
        //     function (data) {
        //
        //         console.log(JSON.stringify(data));
        //
        //         if (data.code == 0) {
        //
        //
        //
        //         } else {
        //
        //             $.modal.alertError(data.msg);
        //
        //         }
        //
        //     }
        // );

    }


    function getTimeType(value, row, index) {

        switch (value) {

            case 0:
                return "Фиксированное время";

            case 1:
                return "Количество дней с открытия сервера";

        }

        return value;

    }


    function getBeginTime(value, row, index) {

        switch (row.timeType) {

            case 0:
                return row.beginTime;

            case 1:
                return row.openServerOffsetBegin;

        }

        return "Ошибка";

    }


    function getEndTime(value, row, index) {

        switch (row.timeType) {

            case 0:
                return row.endTime;

            case 1:
                return row.openServerRecordOffset;

        }

        return "Ошибка";

    }


    function getState(value, row, index) {

        switch (value) {

            case 0:
            case 1:
            case 2:
                return "Ожидает публикации";

            case 3:
                return "Опубликовано";

            case 4:
                return "Изменено после публикации";

        }

        return "Ошибка";

    }

</script>

</body>
</html>