<form id="banChatForm" class="form-horizontal m-t" method="post">
    <div class="form-group">
        <label class="col-sm-3 control-label is-required" for="crimeType">Тип нарушения:</label>
        <div class="col-sm-8">
            <select class="form-control" id="crimeType" >
                <option value="1">Нелегальная деятельность (фермерство, спам и реклама и т.д.)</option>
                <option value="2">Запрещённая информация (порнография, наркотики, азартные игры и т.д.)</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label is-required" for="banType">Тип блокировки:</label>
        <div class="col-sm-8">
            <select class="form-control" id="banType" >
                <option value="1">Блокировка фермеров</option>
                <option value="2">Блокировка с заменой текста</option>
                <option value="3">Блокировка по ключевым словам</option>
                <option value="4">Обычная блокировка</option>
                <option value="5">Скрытая блокировка</option>
                <option value="6">Изоляционная блокировка</option>
            </select>
        </div>
    </div>

    <div class="form-group" id="userIdGroup">
        <label class="col-sm-3 control-label is-required" for="userIds">ID пользователя:</label>
        <div class="col-sm-8">
            <input class="form-control" id="userIds" type="text" name="userIds" required/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label is-required" for="endTime">Время блокировки (сек):</label>
        <div class="col-sm-8">
            <input class="form-control" id="endTime" type="text" name="endTime" placeholder="3600" required/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label is-required" for="reason">Причина операции:</label>
        <div class="col-sm-8">
            <textarea id="reason" name="reason" class="form-control"></textarea>
        </div>
    </div>


    <div id="msg" class="container-fluid"></div>
</form>


<script th:inline="javascript">
var prefix = ctx + "gmtool/banChat";

// $(function () {
//     $("#tableDiv").hide();
// });

// Блокировка чата для пользователя
function banChat(successCallbak) {
    if (!$("#banChatForm").validate().form()) {
        $.modal.msgError("Ошибка валидации");
        return;
    }
    var selectServerStr = $("#selectServerIdHide").val();
    if (isEmpty(selectServerStr)){
        $("#selectServerId").css("borderColor","red");
        $.modal.alertError("Выберите сервер!");
        return;
    }
    $("#selectServerId").css("borderColor", "white");
    sendBanChat(selectServerStr,successCallbak);
}

function sendBanChat(selectServerStr,successCallbak) {
    $.ajax({
        url: prefix + "/ban",
        method: "post",
        data: {
            // groupName: $("#select_group").val(),
            serverIdStr: selectServerStr,
            crimeType: $("#crimeType").val(),
            banType: $("#banType").val(),
            userIds: $("#userIds").val(),
            endTime: $("#endTime").val(),
            reason: $("#reason").val()
        },
        success: function(data) {
            if (data.ok) {
                if(successCallbak!=null){
                    successCallbak(data);
                }

            }else {

                $.modal.alertError(data.msg);
            }
        }
    });
}

</script>