<!-- Общие условия поиска для операционных событий -->
<form style="display: none" id="formId">
    <input type="text" name="searchType" id="searchType" style="display: none">
</form>

<div class="btn-group-sm" id="toolbar" role="group">
    <!-- Здесь настраивается сопоставление адресов групповых запросов к серверу -->
    <input type="hidden" id="requestUrl" value="gameServer">
    <input type="hidden" id="ignoreMerge" value="1">
    <input type="button" id="batchTest" value="Массовая публикация" onclick="publishEvent(3)" class="btn btn-primary">
    <!--<input type="button" id="batchValid" value="Массовая проверка" onclick="verifyEvent()" class="btn btn-primary">-->
    <!--<input type="button" id="batchPublish" value="Массовая публикация" onclick="publishEvent(3)" class="btn btn-primary">-->
    <input type="button" id="batchDelete" value="Массовое удаление" onclick="deleteActivity()" class="btn btn-danger">
    <!--<input type="button" id="oneKeyDelete" value="Одним кликом удалить просроченные события" onclick="oneKeyDelete()" class="btn btn-primary">-->
    <a href="javascript:;" class="file">Импорт
        <input type="file" name="" id="" onchange="importf(this)">
    </a>
</div>
<div class="col-sm-12 select-table table-striped">
    <table id="bootstrap-table"></table>
</div>

<script th:inline="javascript">
    function initActivityTable(pageType) {
        var formId = "";
        var options = {
            url: prefix + "/list",
            formId:formId,
            showSearch: false,
            // clickToSelect: true,
            modalName: "Игровые события",
            columns: [
                {
                    checkbox: true
                },
                {
                    field: 'id',
                    title: 'ID события'
                },
                {
                    field: 'name',
                    title: 'Название события'
                },
                {
                    field: 'description',
                    title: 'Примечание к событию'
                },
                {
                    field: 'type',
                    title: 'Тип события'
                },
                {
                    field: 'subType',
                    title: 'Тип праздника'
                },
                {
                    field: 'minLv',
                    title: 'Минимальный уровень'
                },
                {
                    field: 'maxLv',
                    title: 'Максимальный уровень'
                },
                {
                    field: 'tag',
                    title: 'Метка события'
                },
                {
                    field: 'sort',
                    title: 'Порядок метки'
                },
                {
                    field: 'autoSend',
                    title: 'Автопубликация при открытии'
                },
                {
                    field: 'isOpenServer',
                    title: 'Событие нового сервера'
                },
                {
                    field: 'timeType',
                    title: 'Тип времени'
                },
                {
                    field: 'beginTime',
                    title: 'Время начала',
                    formatter:getBeginTime
                },
                {
                    field: 'endTime',
                    title: 'Время окончания',
                    formatter:getEndTime
                },
                {
                    field: 'custom',
                    title: 'Данные',
                    formatter:formatterValue
                },
                {
                    field: 'state',
                    title: 'Статус события',
                    formatter:getState
                },
                {
                    field: 'toSidList',
                    title: 'Список публикаций',
                    formatter:formatterValue
                },
                {
                    field: 'okSidList',
                    title: 'Список успешных',
                    formatter:formatterValue
                }]
        };

        if (pageType == 0){
            options["formId"] = "actListFormId";
            options["columns"].push({
                title: 'Действия',
                align: 'center',
                formatter: function(value, row, index) {
                    var actions = [];
                    actions.push("<form style='display: inline' name='actForm"+index+"' method='post' action='exportActivityData'><input name='actId' type='hidden' value='"+row.id+"'><a class='btn btn-warning btn-xs' href='javascript:void(0)' id='export' onclick='exportActivityData("+index+",this)'><i class='fa fa-bookmark'>Экспорт в Excel</a></form>");
                    return actions.join('');
                }
            });
        } else {
            options["formId"] = "formId";
            options["columns"].push({
                title: 'Действия',
                align: 'center',
                formatter: function(value, row, index) {
                    var actions = [];
                    if (row.configData == undefined || row.configData == null){
                        actions.push('<a disabled="disable" class="btn btn-success btn-xs" href="javascript:void(0)"><i class="fa fa-edit"></i>Редактировать</a> ');
                    }else {
                        actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="editActData(\'' + row.id + '\')"><i class="fa fa-edit"></i>Редактировать</a> ');
                    }
                    actions.push("<form style='display: inline' name='actForm"+index+"' method='post' action='exportActivityData'><input name='actId' type='hidden' value='"+row.id+"'><a class='btn btn-warning btn-xs' href='javascript:void(0)' id='export' onclick='exportActivityData("+index+",this)'><i class='fa fa-bookmark'>Экспорт в Excel</a></form>");
                    return actions.join('');
                }
            });
        }
        $.table.init(options);
    }


    function getBeginTime(value, row, index) {
        switch (row.timeType) {
            case 0:
                return row.beginTime;
            case 1:
                return row.openServerOffsetBegin;
        }
        return "ошибка";
    }
    function getEndTime(value, row, index) {
        switch (row.timeType) {
            case 0:
                return row.endTime;
            case 1:
                return row.openServerRecordOffset;
        }
        return "ошибка";
    }
    function getState(value, row, index) {
        switch (value) {
            case 0:
            case 1:
            case 2:
                return "Ожидает публикации";
            case 3:
                return "Опубликовано";
            case 4:
                return "Изменено после публикации"
        }
        return "ошибка";
    }
</script>