<script>
    function t_v_change() {
        var timeType = $("#timeType").val();
        if (timeType === '1') {
            $("#beginTimeDiv").hide();
            $("#endTimeDiv").hide();
            $("#openServerOffsetBeginDiv").show();
            $("#openServerOffsetDiv").show();

            // Время записи
            $("#startRecordTimeDiv").hide();
            $("#endRecordTimeDiv").hide();
            $("#openServerRecordOffsetBeginDiv").show();
            $("#openServerRecordOffsetDiv").show();
        }else {
            $("#beginTimeDiv").show();
            $("#endTimeDiv").show();
            $("#openServerOffsetBeginDiv").hide();
            $("#openServerOffsetDiv").hide();

            // Время записи
            $("#startRecordTimeDiv").show();
            $("#endRecordTimeDiv").show();
            $("#openServerRecordOffsetBeginDiv").hide();
            $("#openServerRecordOffsetDiv").hide();
        }
    }
    // Изменение стиля курсора и цвета рамки при наведении
    function showMouse(obj) {
        obj.style.cursor="pointer";
        obj.style.borderColor="#82D900";
    }
    // Возврат цвета рамки при уходе мыши
    function hiddenMouse(obj) {
        obj.style.borderColor="#DCDCDC";
    }

</script>

<script>
    // (Родительский контейнер шаблона события)
    function showAddTemplateUI(add_btn) {
        if (!$('#activity_form').validate().form()) {
            $.modal.msgError("Ошибка валидации");
            return;
        }
        // console.log(add_btn);
        $("#addTemplateModal").modal('show')
    }
</script>

<div class="col-lg-12 col-sm-12 col-md-12">
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <legend>Выбор шаблона</legend>
        <fieldset>
            <div class="input-group">
                <!--<label>Выберите шаблон:</label>-->
                <select id="template" class="selectClass" onchange="copyTemplate(this.value)" onmouseover="showMouse(this)" onmouseout="hiddenMouse(this)">
                    <!--<option>Пожалуйста, выберите шаблон</option>-->
                </select>
                <br/>
                <input type="button" class="btn btn-info" name="addTemplate" id="addTemplate" value="Сохранить шаблон" style="margin-top: 3px" onclick="showAddTemplateUI(this)"/>
                <input type="button" class="btn btn-info" name="delTemplate" id="delTemplate" value="Удалить шаблон" style="margin-top: 3px;margin-left: 8px" onclick="deleteTemplate()"/>
            </div>
        </fieldset>
    </div>
</div>

<div class="col-lg-12 col-sm-12 col-md-12">
    <div class="col-lg-1"></div>
    <div id="publicCondition" class="col-lg-11">
        <legend>Базовая информация о событии - Общая информация</legend>
        <fieldset>
            <!-- Параметры типа события -->
            <input id="id" type="hidden" name="id" value="0">
            <input id="type" type="hidden" name="type">

            <div class="item form-group col-md-4 col-sm-4 col-xs-12">
                <label for="name" class="control-label col-md-3 col-sm-3 col-xs-12">Название события:</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Пример: Событие 1" value=""
                           onmouseover="showMouse(this)" onmouseout="hiddenMouse(this)" required/>
                </div>
            </div>
            <div class="item form-group col-md-4 col-sm-4 col-xs-12">
                <label for="description" class="control-label col-md-3 col-sm-3 col-xs-12">Примечание к событию:</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" id="description" name="description" placeholder="Описание" value=""
                           onmouseover="showMouse(this)" onmouseout="hiddenMouse(this)" required/>
                </div>
            </div>
            <div class="item form-group col-md-4 col-sm-4 col-xs-12 ">
                <label for="minLv" class="control-label col-md-3 col-sm-3 col-xs-12">Минимальный уровень:</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" id="minLv" name="minLv" placeholder="Пример: 1"
                           onkeyup="value=value.replace(/\D/g,'')" onmouseover="showMouse(this)" onmouseout="hiddenMouse(this)" required/>
                </div>
            </div>
            <div class="item form-group col-md-4 col-sm-4 col-xs-12">
                <label for="maxLv" class="control-label col-md-3 col-sm-3 col-xs-12">Максимальный уровень:</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" id="maxLv" name="maxLv" placeholder="Пример: 800"
                           onkeyup="value=value.replace(/\D/g,'')" onmouseover="showMouse(this)" onmouseout="hiddenMouse(this)" required/>
                </div>
            </div>
            <div class="item form-group col-md-4 col-sm-4 col-xs-12">
                <label for="subType" class="control-label col-md-3 col-sm-3 col-xs-12">Тип праздника:</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <select id="subType" name="subType" onchange="" class="form-control" onmouseover="showMouse(this)" onmouseout="hiddenMouse(this)">

                    </select>
                </div>
            </div>
            <div class="item form-group col-md-4 col-sm-4 col-xs-12">
                <label for="tag" class="control-label col-md-3 col-sm-3 col-xs-12">Метка события:</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <select id="tag" name="tag" onchange="" class="form-control" onmouseover="showMouse(this)" onmouseout="hiddenMouse(this)">

                    </select>
                </div>
            </div>
            <div class="item form-group col-md-4 col-sm-4 col-xs-12 ">
                <label for="sort" class="control-label col-md-3 col-sm-3 col-xs-12">Порядок в метке:</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" id="sort" name="sort" placeholder="Пример: 1 (начиная с 1)"
                           onkeyup="value=value.replace(/\D/g,'')" onmouseover="showMouse(this)" onmouseout="hiddenMouse(this)" required/>
                </div>
            </div>
            <div class="item form-group col-md-4 col-sm-4 col-xs-12">
                <label for="timeType" class="control-label col-md-3 col-sm-3 col-xs-12">Тип времени:</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <select id="timeType" name="timeType" onchange="t_v_change()" class="form-control" onmouseover="showMouse(this)" onmouseout="hiddenMouse(this)">
                        <option value="0">Фиксированное время (0)</option>
                        <option value="1">Время открытия сервера (1)</option>
                    </select>
                </div>
            </div>

            <div id="beginTimeDiv" class="item form-group col-md-4 col-sm-4 col-xs-12" >
                <label for="beginTime" class="control-label col-md-3 col-sm-3 col-xs-12">Время начала:</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" class="form-control datetimepicker validate[required] span10" id="beginTime"
                           name="beginTime" placeholder="2020-09-07 15:30" value="" onmouseover="showMouse(this)" onmouseout="hiddenMouse(this)" readonly required/>

                </div>
            </div>

            <div id="endTimeDiv" class="item form-group col-md-4 col-sm-4 col-xs-12">
                <label for="endTime" class="control-label col-md-3 col-sm-3 col-xs-12">Время окончания:</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" class="form-control datetimepicker validate[required] span10" id="endTime"
                           name="endTime" placeholder="2020-09-07 16:30" value="" onmouseover="showMouse(this)" onmouseout="hiddenMouse(this)" readonly required/>
                </div>
            </div>

            <div id="startRecordTimeDiv" class="item form-group col-md-4 col-sm-4 col-xs-12" >
                <label for="startRecordTime" class="control-label col-md-3 col-sm-3 col-xs-12">Время начала записи:</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" class="form-control datetimepicker span10" id="startRecordTime"
                           name="startRecordTime" placeholder="2020-09-07 15:30" value="" onmouseover="showMouse(this)" onmouseout="hiddenMouse(this)" readonly required/>
                </div>
            </div>

            <div id="endRecordTimeDiv" class="item form-group col-md-4 col-sm-4 col-xs-12" >
                <label for="endRecordTime" class="control-label col-md-3 col-sm-3 col-xs-12">Время окончания записи:</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" class="form-control datetimepicker span10" id="endRecordTime"
                           name="endRecordTime" placeholder="2020-09-07 15:30" value="" onmouseover="showMouse(this)" onmouseout="hiddenMouse(this)" readonly required/>
                </div>
            </div>

            <div id="openServerOffsetBeginDiv" class="item form-group col-md-4 col-sm-4 col-xs-12"  style="display: none" >
                <label for="openServerOffsetBegin" class="control-label col-md-3 col-sm-3 col-xs-12">Действует с дня открытия сервера:</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" id="openServerOffsetBegin" name="openServerOffsetBegin" placeholder="Пример: 1 (с 1-го дня открытия)"
                           onkeyup="value=value.replace(/\D/g,'')" value="" onmouseover="showMouse(this)" onmouseout="hiddenMouse(this)" required/>
                </div>
            </div>

            <div id="openServerOffsetDiv" class="item form-group col-md-4 col-sm-4 col-xs-12"  style="display: none" >
                <label for="openServerOffset" class="control-label col-md-3 col-sm-3 col-xs-12">Длительность события (дней):</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" id="openServerOffset" name="openServerOffset" placeholder="Пример: 1 (длительность в днях)"
                           onkeyup="value=value.replace(/\D/g,'')" value="" onmouseover="showMouse(this)" onmouseout="hiddenMouse(this)" required/>
                </div>
            </div>

            <div id="openServerRecordOffsetBeginDiv" class="item form-group col-md-4 col-sm-4 col-xs-12"  style="display: none" >
                <label for="openServerRecordOffsetBegin" class="control-label col-md-3 col-sm-3 col-xs-12">Запись с дня открытия сервера:</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" id="openServerRecordOffsetBegin" name="openServerRecordOffsetBegin" placeholder="Пример: 1 (с 1-го дня открытия)"
                           onkeyup="value=value.replace(/\D/g,'')" value="" onmouseover="showMouse(this)" onmouseout="hiddenMouse(this)" required/>
                </div>
            </div>

            <div id="openServerRecordOffsetDiv" class="item form-group col-md-4 col-sm-4 col-xs-12"  style="display: none" >
                <label for="openServerRecordOffset" class="control-label col-md-3 col-sm-3 col-xs-12">Длительность записи (дней):</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" id="openServerRecordOffset" name="openServerRecordOffset" placeholder="Пример: 1 (длительность записи в днях)"
                           onkeyup="value=value.replace(/\D/g,'')" value="" onmouseover="showMouse(this)" onmouseout="hiddenMouse(this)" required/>
                </div>
            </div>

            <div class="item form-group col-md-4 col-sm-4 col-xs-12">
                <label for="autoSend" class="control-label col-md-3 col-sm-3 col-xs-12">Автопубликация при открытии:</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <select id="autoSend" name="autoSend" class="form-control" onmouseover="showMouse(this)" onmouseout="hiddenMouse(this)">
                        <option value="0">Нет</option>
                        <option value="1">Да</option>
                    </select>
                </div>
            </div>

            <div class="item form-group col-md-4 col-sm-4 col-xs-12">
                <label for="isOpenServer" class="control-label col-md-3 col-sm-3 col-xs-12">Событие нового сервера:</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <select id="isOpenServer" name="isOpenServer" class="form-control" onmouseover="showMouse(this)" onmouseout="hiddenMouse(this)">
                        <option value="0">Нет</option>
                        <option value="1">Да</option>
                    </select>
                    <span style="color: red">* Если с момента открытия сервера прошло <= 7 дней, необходимо выбрать "Да", иначе событие не будет активно</span>
                </div>
            </div>

        </fieldset>
    </div>
</div>

<div id="addTemplateModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Добавить шаблон</h3>
            </div>
            <div class="modal-body">
                <div class="row-fluid">
                    <div class="input-group">
                        <label for="templateName">Название шаблона:</label><input type="text" class="selectClass" id="templateName"/>
                        <label style="margin-left: 3px" for="description">Описание шаблона:</label><input type="text" class="selectClass" id="templateDec"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" value="Закрыть" class="btn" data-dismiss="modal" aria-hidden="true"/>
                <input type="button" value="Добавить" onclick="submitTemplate()" class="btn btn-primary"/>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>