<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('Загрузка данных бэкенда')" />
    <th:block th:include="include :: footer" />
    <script>
        var prefix = ctx + "gmtool/backenddataload";

        function reload(name){
            $.ajax({
                url : prefix+"/"+name,
                method: 'POST',
                dataType : "json",
                success : function(data) {
                    if (data.ok) {
                        $.modal.alertSuccess("Загрузка завершена");
                    }else{
                        $.modal.alertError("Ошибка загрузки");
                    }
                }
            });
        }

        function loadItem() {
            var data = new FormData();
            data.append('itemFile', $("#items").prop('files')[0]);
            $.ajax({
                url: prefix + "/loadItem",
                method: 'POST',
                data: data,
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data.ok){
                        $("#itemLoadModel").modal('hide');
                        $.modal.alertSuccess(data.msg);
                    }else {
                        $.modal.alertError(data.msg);
                    }
                }
            });
        }

        function loadFunction() {
            var data = new FormData();
            data.append('functionFile', $("#functionFile").prop('files')[0]);
            $.ajax({
                url: prefix + "/loadFunction",
                method: 'POST',
                data: data,
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data.ok){
                        $("#functionLoadModel").modal('hide');
                        $.modal.alertSuccess(data.msg);
                    }else {
                        $.modal.alertError(data.msg);
                    }
                }
            });
        }

        function loadActivityBossType() {
            var data = new FormData();
            data.append('activityBossTypeFile', $("#activityBossTypeFile").prop('files')[0]);
            $.ajax({
                url: prefix + "/loadActivityBossType",
                method: 'POST',
                data: data,
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data.ok){
                        $("#activityBossTypeLoadModel").modal('hide');
                        $.modal.alertSuccess(data.msg);
                    }else {
                        $.modal.alertError(data.msg);
                    }
                }
            });
        }

        function loadActivityFestivalType() {
            var data = new FormData();
            data.append('activityFestivalTypeFile', $("#activityFestivalTypeFile").prop('files')[0]);
            $.ajax({
                url: prefix + "/loadActivityFestivalType",
                method: 'POST',
                data: data,
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data.ok){
                        $("#activityFestivalTypeLoadModel").modal('hide');
                        $.modal.alertSuccess(data.msg);
                    }else {
                        $.modal.alertError(data.msg);
                    }
                }
            });
        }

        function loadActivityFestivalRelation() {
            var data = new FormData();
            data.append('activityFestivalRelationFile', $("#activityFestivalRelationFile").prop('files')[0]);
            $.ajax({
                url: prefix + "/loadActivityFestivalRelation",
                method: 'POST',
                data: data,
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data.ok){
                        $("#activityFestivalRelationLoadModel").modal('hide');
                        $.modal.alertSuccess(data.msg);
                    }else {
                        $.modal.alertError(data.msg);
                    }
                }
            });
        }

        function loadItemChangeReason() {
            var data = new FormData();
            data.append('changeReasonFile', $("#changeReasonFile").prop('files')[0]);
            $.ajax({
                url: prefix + "/loadChangeReason",
                method: 'POST',
                data: data,
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data.ok){
                        $("#changeReasonLoadModel").modal('hide');
                        $.modal.alertSuccess(data.msg);
                    }else {
                        $.modal.alertError(data.msg);
                    }
                }
            });
        }


    </script>
</head>
<body class="gray-bg">
<div class="container-fluid">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Функциональный модуль</th>
            <th>Данные бэкенда</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td rowspan="9" style="vertical-align: middle;"><p class="text-center">Другие данные</p></td>
            <td>Загрузка данных объявлений</td>
            <td><input type="button" value="Перезагрузить" class="btn btn-primary" onclick="reload('reloadAnnouce');"></td>
        </tr>
        <tr>
            <td>Загрузка данных чёрного списка</td>
            <td><input type="button" value="Перезагрузить" class="btn btn-primary" onclick="reload('reloadBlackList');"></td>
        </tr>
        <tr>
            <td>Загрузка данных предметов и экипировки</td>
            <td><a href="#itemLoadModel" role="button" class="btn btn-primary" data-toggle="modal">Перезагрузить</a></td>
        </tr>
        <tr>
            <td>Загрузка списка открытых функций</td>
            <td><a href="#functionLoadModel" role="button" class="btn btn-primary" data-toggle="modal">Перезагрузить</a></td>
        </tr>
        <tr>
            <td>Загрузка кодов причин</td>
            <td><a href="#changeReasonLoadModel" role="button" class="btn btn-primary" data-toggle="modal">Перезагрузить</a></td>
        </tr>
        <tr>
            <td>Загрузка опросов с наградами</td>
            <td><a href="#questionnaireLoadModel" role="button" class="btn btn-primary" data-toggle="modal">Перезагрузить</a></td>
        </tr>
        <tr>
            <td>Загрузка типов BOSS для операционных событий</td>
            <td><a href="#activityBossTypeLoadModel" role="button" class="btn btn-primary" data-toggle="modal">Перезагрузить</a></td>
        </tr>
        <tr>
            <td>Загрузка типов праздников для операционных событий</td>
            <td><a href="#activityFestivalTypeLoadModel" role="button" class="btn btn-primary" data-toggle="modal">Перезагрузить</a></td>
        </tr>
        <tr>
            <td>Загрузка связей праздников для операционных событий</td>
            <td><a href="#activityFestivalRelationLoadModel" role="button" class="btn btn-primary" data-toggle="modal">Перезагрузить</a></td>
        </tr>
        </tbody>
    </table>

    <div id="itemLoadModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3>Таблица предметов и экипировки</h3>
                </div>
                <div class="modal-body">
                    <input id="items" type="file" name="itemFile"/>
                    <label>Внимание: сначала загрузите item.xlsx, затем equip.xlsx</label>
                </div>
                <div class="modal-footer">
                    <input type="button" value="Закрыть" class="btn" data-dismiss="modal" aria-hidden="true"/>
                    <input type="button" value="Загрузить" onclick="loadItem()" class="btn btn-primary"/>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div id="functionLoadModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3>Таблица открытия функций</h3>
                </div>
                <div class="modal-body">
                    <input id="functionFile" type="file" name="functionFile"/>
                    <label>Загрузить FunctionStart.xlsx</label>
                </div>
                <div class="modal-footer">
                    <input type="button" value="Закрыть" class="btn" data-dismiss="modal" aria-hidden="true"/>
                    <input type="button" value="Загрузить" onclick="loadFunction()" class="btn btn-primary"/>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div id="changeReasonLoadModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3>Таблица кодов причин</h3>
                </div>
                <div class="modal-body">
                    <input id="changeReasonFile" type="file" name="changeReasonFile"/>
                    <label>Загрузить ItemChangeReason.xlsx</label>
                </div>
                <div class="modal-footer">
                    <input type="button" value="Закрыть" class="btn" data-dismiss="modal" aria-hidden="true"/>
                    <input type="button" value="Загрузить" onclick="loadItemChangeReason()" class="btn btn-primary"/>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div id="questionnaireLoadModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3>Таблица опросов с наградами</h3>
                </div>
                <div class="modal-body">
                    <input id="questionnaireFile" type="file" name="questionnaireFile"/>
                </div>
                <div class="modal-footer">
                    <input type="button" value="Закрыть" class="btn" data-dismiss="modal" aria-hidden="true"/>
                    <input type="button" value="Загрузить" onclick="loadQuestionnaire()" class="btn btn-primary"/>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div id="activityBossTypeLoadModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3>Таблица типов BOSS для операционных событий</h3>
                </div>
                <div class="modal-body">
                    <input id="activityBossTypeFile" type="file" name="activityBossTypeFile"/>
                    <label>Загрузить activity_boss_type.xlsx</label>
                </div>
                <div class="modal-footer">
                    <input type="button" value="Закрыть" class="btn" data-dismiss="modal" aria-hidden="true"/>
                    <input type="button" value="Загрузить" onclick="loadActivityBossType()" class="btn btn-primary"/>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div id="activityFestivalTypeLoadModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3>Таблица типов праздников для операционных событий</h3>
                </div>
                <div class="modal-body">
                    <input id="activityFestivalTypeFile" type="file" name="activityFestivalTypeFile"/>
                    <label>Загрузить activity_festival.xlsx</label>
                </div>
                <div class="modal-footer">
                    <input type="button" value="Закрыть" class="btn" data-dismiss="modal" aria-hidden="true"/>
                    <input type="button" value="Загрузить" onclick="loadActivityFestivalType()" class="btn btn-primary"/>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div id="activityFestivalRelationLoadModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3>Таблица связей праздников для операционных событий</h3>
                </div>
                <div class="modal-body">
                    <input id="activityFestivalRelationFile" type="file" name="activityFestivalRelationFile"/>
                    <label>Загрузить activity_yunying.xlsx</label>
                </div>
                <div class="modal-footer">
                    <input type="button" value="Закрыть" class="btn" data-dismiss="modal" aria-hidden="true"/>
                    <input type="button" value="Загрузить" onclick="loadActivityFestivalRelation()" class="btn btn-primary"/>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>
</body>
</html>