<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('游戏角色信息列表')" />
    <th:block th:include="include :: footer" />
</head>
<body class="gray-bg">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <div th:replace="common/query_game_role.html"></div>
            </div>

        </div>

    </div>

</body>
</html>