<!DOCTYPE html>
<html lang="ru">
<head>
    <th:block th:include="include :: header('Базовая форма')" />
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-7">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Базовая форма <small>Пример простой формы входа</small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Вариант 1</a>
                                </li>
                                <li><a href="#">Вариант 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-6 b-r">
                                <h3 class="m-t-none m-b">Вход</h3>
                                <p>Добро пожаловать на сайт (⊙o⊙)</p>
                                <form role="form">
                                    <div class="form-group">
                                        <label>Имя пользователя</label>
                                        <input type="email" placeholder="Введите ваш E-mail" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Пароль</label>
                                        <input type="password" placeholder="Введите пароль" class="form-control">
                                    </div>
                                    <div>
                                        <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>Войти</strong>
                                        </button>
                                        <label>
                                            <input type="checkbox">Запомнить меня</label>
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-6">
                                <h4>Ещё нет аккаунта?</h4>
                                <p>Вы можете зарегистрировать новый аккаунт</p>
                                <p class="text-center">
                                    <a href="#"><i class="fa fa-sign-in big-icon"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Горизонтальная форма</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Вариант 1</a>
                                </li>
                                <li><a href="#">Вариант 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form class="form-horizontal">
                            <p>Добро пожаловать на сайт (⊙o⊙)</p>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Имя пользователя:</label>

                                <div class="col-sm-8">
                                    <input type="email" placeholder="Имя пользователя" class="form-control"> <span class="help-block m-b-none">Введите E-mail, указанный при регистрации</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Пароль:</label>

                                <div class="col-sm-8">
                                    <input type="password" placeholder="Пароль" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-8">
                                    <button class="btn btn-sm btn-white" type="submit">Войти</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Встроенная форма</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Вариант 1</a>
                                </li>
                                <li><a href="#">Вариант 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form role="form" class="form-inline">
                            <div class="form-group">
                                <label for="exampleInputEmail2" class="sr-only">Имя пользователя</label>
                                <input type="email" placeholder="Введите имя пользователя" id="exampleInputEmail2" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword2" class="sr-only">Пароль</label>
                                <input type="password" placeholder="Введите пароль" id="exampleInputPassword2" class="form-control">
                            </div>
                            <div class="checkbox m-l m-r-xs">
                                <label>
                                    <input type="checkbox"><i></i> Запомнить меня</label>
                            </div>
                            <button class="btn btn-white" type="submit">Войти</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Модальная форма <small>Пример входа в модальном окне</small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Вариант 1</a>
                                </li>
                                <li><a href="#">Вариант 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="text-center">
                            <a data-toggle="modal" class="btn btn-primary" href="#modal-form">Открыть окно входа</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Все элементы формы <small>Включая кастомные чекбоксы и радиокнопки</small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Вариант 1</a>
                                </li>
                                <li><a href="#">Вариант 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form method="get" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Обычное поле</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">С подсказкой</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control"> <span class="help-block m-b-none">Вспомогательный текст, может занимать несколько строк, отображается как блочный элемент</span>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Пароль</label>

                                <div class="col-sm-10">
                                    <input type="password" class="form-control" name="password">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Плейсхолдер</label>

                                <div class="col-sm-10">
                                    <input type="text" placeholder="Текст-подсказка" class="form-control">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Отключено</label>

                                <div class="col-sm-10">
                                    <input type="text" disabled="" placeholder="Отключено" class="form-control">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Статическое поле</label>

                                <div class="col-sm-10">
                                    <p class="form-control-static">ruoyi.vip</p>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Чекбоксы и радиокнопки
                                    <br/>
                                    <small class="text-navy">Стандартные элементы Bootstrap</small>
                                </label>

                                <div class="col-sm-10">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">Вариант 1</label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios">Вариант 1</label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" value="option2" id="optionsRadios2" name="optionsRadios">Вариант 2</label>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Встроенные чекбоксы</label>

                                <div class="col-sm-10">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="option1" id="inlineCheckbox1">А</label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="option2" id="inlineCheckbox2">Б</label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="option3" id="inlineCheckbox3">В</label>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Чекбоксы и радиокнопки
                                    <br/><small class="text-navy">Кастомный стиль</small>
                                </label>

                                <div class="col-sm-10">
                                    <div class="checkbox check-box">
                                        <label>
                                            <input type="checkbox" value=""> <i></i> Вариант 1</label>
                                    </div>
                                    <div class="checkbox check-box">
                                        <label>
                                            <input type="checkbox" value="" checked=""> <i></i> Вариант 2 (выбран)</label>
                                    </div>
                                    <div class="checkbox check-box">
                                        <label>
                                            <input type="checkbox" value="" disabled="" checked=""> <i></i> Вариант 3 (выбран и отключён)</label>
                                    </div>
                                    <div class="checkbox check-box">
                                        <label>
                                            <input type="checkbox" value="" disabled=""> <i></i> Вариант 4 (отключён)</label>
                                    </div>
                                    <div class="radio check-box">
                                        <label>
                                            <input type="radio" value="option1" name="a"> <i></i> Вариант 1</label>
                                    </div>
                                    <div class="radio check-box">
                                        <label>
                                            <input type="radio" checked="" value="option2" name="a"> <i></i> Вариант 2 (выбран)</label>
                                    </div>
                                    <div class="radio check-box">
                                        <label>
                                            <input type="radio" disabled="" checked="" value="option2"> <i></i> Вариант 3 (выбран и отключён)</label>
                                    </div>
                                    <div class="radio check-box">
                                        <label>
                                            <input type="radio" disabled="" name="a"> <i></i> Вариант 4 (отключён)</label>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Встроенные чекбоксы</label>

                                <div class="col-sm-10">
                                    <label class="checkbox-inline check-box">
                                        <input type="checkbox" value="option1">А</label>
                                    <label class="checkbox-inline check-box">
                                        <input type="checkbox" value="option2">Б</label>
                                    <label class="checkbox-inline check-box">
                                        <input type="checkbox" value="option3">В</label>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Выпадающий список</label>

                                <div class="col-sm-10">
                                    <select class="form-control m-b" name="account">
                                        <option>Вариант 1</option>
                                        <option>Вариант 2</option>
                                        <option>Вариант 3</option>
                                        <option>Вариант 4</option>
                                    </select>

                                    <div class="col-sm-4 m-l-n">
                                        <select class="form-control" multiple="">
                                            <option>Вариант 1</option>
                                            <option>Вариант 2</option>
                                            <option>Вариант 3</option>
                                            <option>Вариант 4</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group has-success">
                                <label class="col-sm-2 control-label">Валидация пройдена</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group has-warning">
                                <label class="col-sm-2 control-label">Не заполнено</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group has-error">
                                <label class="col-sm-2 control-label">Ошибка валидации</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Размеры полей</label>

                                <div class="col-sm-10">
                                    <input type="text" placeholder=".input-lg" class="form-control input-lg m-b">
                                    <input type="text" placeholder="Стандартное поле" class="form-control m-b">
                                    <input type="text" placeholder=".input-sm" class="form-control input-sm">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Ширина колонок</label>

                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <input type="text" placeholder=".col-md-2" class="form-control">
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" placeholder=".col-md-3" class="form-control">
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" placeholder=".col-md-4" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Группы полей</label>

                                <div class="col-sm-10">
                                    <div class="input-group m-b"><span class="input-group-addon">@</span>
                                        <input type="text" placeholder="Имя пользователя" class="form-control">
                                    </div>
                                    <div class="input-group m-b">
                                        <input type="text" class="form-control"> <span class="input-group-addon">.00</span>
                                    </div>
                                    <div class="input-group m-b"><span class="input-group-addon">₽</span>
                                        <input type="text" class="form-control"> <span class="input-group-addon">.00</span>
                                    </div>
                                    <div class="input-group m-b"><span class="input-group-addon"> <input type="checkbox"> </span>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="input-group"><span class="input-group-addon"> <input type="radio"> </span>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Кнопки в группах</label>

                                <div class="col-sm-10">
                                    <div class="input-group m-b"><span class="input-group-btn">
                                            <button type="button" class="btn btn-primary">Поиск</button> </span>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="input-group">
                                        <input type="text" class="form-control"> <span class="input-group-btn"> <button type="button" class="btn btn-primary">Найти
                                        </button> </span>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">С выпадающим меню</label>

                                <div class="col-sm-10">
                                    <div class="input-group m-b">
                                        <div class="input-group-btn">
                                            <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">Действие <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Вариант 1</a>
                                                </li>
                                                <li><a href="#">Вариант 2</a>
                                                </li>
                                                <li><a href="#">Вариант 3</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li><a href="#">Вариант 4</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="input-group">
                                        <input type="text" class="form-control">

                                        <div class="input-group-btn">
                                            <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">Действие <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu pull-right">
                                                <li><a href="#">Вариант 1</a>
                                                </li>
                                                <li><a href="#">Вариант 2</a>
                                                </li>
                                                <li><a href="#">Вариант 3</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li><a href="#">Вариант 4</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Разделённые кнопки</label>

                                <div class="col-sm-10">
                                    <div class="input-group m-b">
                                        <div class="input-group-btn">
                                            <button tabindex="-1" class="btn btn-white" type="button">Действие</button>
                                            <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button"><span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Вариант 1</a>
                                                </li>
                                                <li><a href="#">Вариант 2</a>
                                                </li>
                                                <li><a href="#">Вариант 3</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li><a href="#">Вариант 4</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="input-group">
                                        <input type="text" class="form-control">

                                        <div class="input-group-btn">
                                            <button tabindex="-1" class="btn btn-white" type="button">Действие</button>
                                            <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button"><span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu pull-right">
                                                <li><a href="#">Вариант 1</a>
                                                </li>
                                                <li><a href="#">Вариант 2</a>
                                                </li>
                                                <li><a href="#">Вариант 3</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li><a href="#">Вариант 4</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit">Сохранить</button>
                                    <button class="btn btn-white" type="submit">Отмена</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-form" class="modal fade" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6 b-r">
                            <h3 class="m-t-none m-b">Вход</h3>

                            <p>Добро пожаловать на сайт (⊙o⊙)</p>

                            <form role="form">
                                <div class="form-group">
                                    <label>Имя пользователя:</label>
                                    <input type="email" placeholder="Введите имя пользователя" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Пароль:</label>
                                    <input type="password" placeholder="Введите пароль" class="form-control">
                                </div>
                                <div>
                                    <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>Войти</strong>
                                    </button>
                                    <label>
                                        <input type="checkbox" class="i-checks">Запомнить меня</label>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-6">
                            <h4>Ещё нет аккаунта?</h4>
                            <p>Вы можете зарегистрироваться</p>
                            <p class="text-center">
                                <a href="#"><i class="fa fa-sign-in big-icon"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
</body>
</html>