<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('Журнал смены имени')" />
    <th:block th:include="include :: footer" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div th:replace="common/log_head.html"></div>
                    <div class="row select-list" style="padding-left: 15px; margin-bottom: 10px;">
                        <ul>
                            <li>
                                <label>ID персонажа:</label>
                                <input type="text" name="playerId"/>
                            </li>

                            <div th:replace="common/log_limit.html"></div>
                            <div th:replace="common/stat_search_head.html"></div>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="gamelog:changerolenamelog:export">
                    <i class="fa fa-download"></i> Экспорт
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('gamelog:changerolenamelog:edit')}]];
        var removeFlag = [[${@permission.hasPermi('gamelog:changerolenamelog:remove')}]];
        var prefix = ctx + "gamelog/changerolenamelog";

        $(function() {
            var options = {
                url: prefix + "/list",
                exportUrl: prefix + "/export",
                modalName: "Журнал смены имени",
                pagination: false,
                firstLoad:false,
                height:$(document).height() - 160,
                columns: [
                {
                    field: 'id',
                    title: '',
                    visible: false
                },
                {
                    field: 'time',
                    title: 'Время',
                    formatter: formatterDate
                },
                {
                    field: 'playerId',
                    title: 'ID персонажа'
                },
                {
                    field: 'userId',
                    title: 'ID аккаунта'
                },
                {
                    field: 'sid',
                    title: 'Игровой сервер'
                },
                {
                    field: 'oldName',
                    title: 'Имя до смены'
                },
                {
                    field: 'newName',
                    title: 'Имя после смены'
                },
                {
                    field: 'modelId',
                    title: 'ID предмета'
                },
                {
                    field: 'platformName',
                    title: 'Название платформы'
                },
                ]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>