<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('Многомерный анализ удержания и LTV')" />
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: echarts-js" />
    <th:block th:include="include :: bootstrap-table-export-js" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div th:replace="common/stat_group_server_head.html"></div>
                <div class="row select-list" style="padding-left: 15px; margin-bottom: 10px;">
                    <ul>
                        <div th:replace="common/stat_date_head.html"></div>
                        <div th:replace="common/stat_black_list_head.html"></div>
                        <div th:replace="common/stat_search_head.html"></div>
                    </ul>
                </div>
            </form>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" style="table-layout:fixed;word-break:break-all"></table>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 search-collapse" id="lineChart1">
            <div>
                <div>
                    <div class="echarts" id="echarts-line-chart"></div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 search-collapse" id="lineChart2">
            <div>
                <div>
                    <div class="echarts" id="echarts-line-chart2"></div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 search-collapse" id="lineChart3">
            <div>
                <div>
                    <div class="echarts" id="echarts-line-chart3"></div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 search-collapse" id="lineChart4">
            <div>
                <div>
                    <div class="echarts" id="echarts-line-chart4"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<script th:inline="javascript">
    var prefix = ctx + "stat/stat_remain_ltv";

    $(function () {
        $("#lineChart1").hide();
        $("#lineChart2").hide();
        $("#lineChart3").hide();
        $("#lineChart4").hide();
    });

    /**
     * Таблица многомерного анализа удержания и LTV
     * @param name
     */
    var list = [];
    $(function() {
        var options = {
            pageSize: 10000000,
            pageList: [],
            //singleSelect: false,
            url: prefix + "/list?",
            modalName: "Многомерный анализ удержания и LTV",
            fixedColumns: true,
            fixedNumber: 1,
            striped: true,
            firstLoad:false,
            pagination: false,
            showExport:true,
            onLoadSuccess: onLoadSuccess,
            columns: [
                {
                    field: 'numType',
                    title: 'Тип данных',
                    width:370
                }]
        };
        for(var j = 1;j<31;j++ ){
            list.push(j)
        }
        list.push(45);
        list.push(60);
        list.push(120);
        for(var i =0;i<list.length;i++){
            options.columns.push({
                field: 'keep'+list[i],
                title: 'День '+list[i],
                width:85
            });
        }
        $.table.init(options);
        function onLoadSuccess(data){
            // console.log("data:"+JSON.stringify(data));
            if (data.total > 0){
                setLineChart(data);
            }
        }
    });

    // Получение данных для отображения на графиках
    function getShowData(originalData,showDataArr) {
        for (var i=0;i<list.length;i++){
            var dayNum = list[i];// Количество дней
            if (originalData["keep"+dayNum] == undefined || originalData["keep"+dayNum]==null){
                showDataArr.push(null);
            }else {
                var lineData = originalData["keep"+dayNum].split("%")[0];
                showDataArr.push(lineData);
            }
        }
    }

    function setLineChart(data) {
        $("#lineChart1").show();
        $("#lineChart2").show();
        $("#lineChart3").show();
        $("#lineChart4").show();
        var avgRemainTrend = data.rows[6];
        var avgRemainTrendArr = [];
        var avgPayRemainTrend = data.rows[8];
        var avgPayRemainTrendArr = [];
        getShowData(avgRemainTrend,avgRemainTrendArr);
        getShowData(avgPayRemainTrend,avgPayRemainTrendArr);
        var lineChart = echarts.init(document.getElementById("echarts-line-chart"));
        var lineoption = {
            title : {
                text: 'Тренд снижения среднего удержания и среднего удержания платящих игроков'
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['Среднее удержание (сегодня/вчера)','Среднее удержание платящих (сегодня/вчера)']
            },
            grid:{
                x:65,
                x2:40,
                y2:24
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : list
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    axisLabel : {
                        formatter: '{value} %'
                    }
                }
            ],
            series : [
                {
                    name:'Среднее удержание (сегодня/вчера)',
                    type:'line',
                    data:avgRemainTrendArr
                },
                {
                    name:'Среднее удержание платящих (сегодня/вчера)',
                    type:'line',
                    data:avgPayRemainTrendArr
                }
            ]
        };
        lineChart.setOption(lineoption);
        $(window).resize(lineChart.resize);


        var currentIncreaseLtv = data.rows[3];
        var acurrentIncreaseLtvArr = [];
        var currentIncreaseLtv2 = data.rows[4];
        var currentIncreaseLtv2Arr = [];
        getShowData(currentIncreaseLtv,acurrentIncreaseLtvArr);
        getShowData(currentIncreaseLtv2,currentIncreaseLtv2Arr);
        var lineChart2 = echarts.init(document.getElementById("echarts-line-chart2"));
        var lineoption2 = {
            title : {
                text: 'Сравнение LTV новых игроков: первый день vs текущий рост vs рост за предыдущий день'
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['Текущий LTV новых игроков vs первый день ((сегодня-вчера)/первый день)','Рост LTV vs рост за предыдущий день ((сегодня-вчера)/(вчера-позавчера))']
            },
            grid:{
                x:65,
                x2:40,
                y2:24
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : list
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    axisLabel : {
                        formatter: '{value} %'
                    }
                }
            ],
            series : [
                {
                    name:'Текущий LTV новых игроков vs первый день ((сегодня-вчера)/первый день)',
                    type:'line',
                    data:acurrentIncreaseLtvArr
                },
                {
                    name:'Рост LTV vs рост за предыдущий день ((сегодня-вчера)/(вчера-позавчера))',
                    type:'line',
                    data:currentIncreaseLtv2Arr
                }
            ]
        };
        lineChart2.setOption(lineoption2);
        $(window).resize(lineChart2.resize);


        var avgRemain = data.rows[5];
        var avgRemainArr = [];
        var avgPayRemain = data.rows[7];
        var avgPayRemainArr = [];
        getShowData(avgRemain,avgRemainArr);
        getShowData(avgPayRemain,avgPayRemainArr);
        var lineChart3 = echarts.init(document.getElementById("echarts-line-chart3"));
        var lineoption3 = {
            title : {
                text: 'Сравнение среднего удержания и среднего удержания платящих'
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['Среднее удержание','Среднее удержание платящих']
            },
            grid:{
                x:65,
                x2:40,
                y2:24
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : list
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    axisLabel : {
                        formatter: '{value} %'
                    }
                }
            ],
            series : [
                {
                    name:'Среднее удержание',
                    type:'line',
                    data:avgRemainArr
                },
                {
                    name:'Среднее удержание платящих',
                    type:'line',
                    data:avgPayRemainArr
                }
            ]
        };
        lineChart3.setOption(lineoption3);
        $(window).resize(lineChart3.resize);


        var avgLtvIncreaseRate = data.rows[2];
        var avgLtvIncreaseRateArr = [];
        getShowData(avgLtvIncreaseRate,avgLtvIncreaseRateArr);
        var lineChart4 = echarts.init(document.getElementById("echarts-line-chart4"));
        var lineoption4 = {
            title : {
                text: 'Средний коэффициент роста LTV'
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['Средний коэффициент роста LTV']
            },
            grid:{
                x:65,
                x2:40,
                y2:24
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : list
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    axisLabel : {
                        formatter: '{value} %'
                    }
                }
            ],
            series : [
                {
                    name:'Средний коэффициент роста LTV',
                    type:'line',
                    data:avgLtvIncreaseRateArr
                }
            ]
        };
        lineChart4.setOption(lineoption4);
        $(window).resize(lineChart4.resize);
    }
</script>
</body>
</html>