<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('累冲统计')" />
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: bootstrap-table-export-js" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div th:replace="common/stat_group_server_head.html"></div>
                <div class="row select-list" style="padding-left: 15px; margin-bottom: 10px;">
                    <ul>
                        <div th:replace="common/stat_date_head.html"></div>
                        <div th:replace="common/stat_black_list_head.html"></div>
                        <div th:replace="common/stat_search_head.html"></div>
                    </ul>
                </div>

            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">

        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>

<script th:inline="javascript">

    var prefix = ctx + "stat/stat_recharge_accumulate";
    $(function() {
        var options = {
            url: prefix + "/stat_recharge_accumulate",
            modalName: "充值金额分布统计",
            firstLoad:false,
            pagination: false,
            showExport:true,
            columns: [{
                field: 'accumulateAmount',
                title: '累充金额',
            }
            ,{
                field: 'roleNum',
                title: '人数',
            },{
                    field: 'roleNumRate',
                    title: '人数占总充值人数比',
                },{
                field: 'rechargeAmount',
                title: '充值金额',
             }]
        };
        $.table.init(options);
    });

</script>
</body>
</html>