<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('Статистика удержания')" />
    <th:block th:include="include :: footer" />

    <th:block th:include="include :: bootstrap-table-export-js" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div th:replace="common/stat_group_server_head.html"></div>
                    <div class="row select-list" style="padding-left: 15px; margin-bottom: 10px;">
                        <ul>
                            <div th:replace="common/stat_date_head.html"></div>
                            <div th:replace="common/stat_black_list_head.html"></div>
                            <div th:replace="common/stat_search_head.html"></div>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="btn-group-sm" id="toolbar" role="group">
                <div class="btn-group">
                    <button name="group_tab" class="btn btn-primary" id="new_user_remain" type="button">Удержание новых пользователей</button>
                    <button name="group_tab" class="btn btn-white" id="new_user_pay_remain" type="button">Удержание платящих пользователей</button>
                    <button name="group_tab" class="btn btn-white" id="old_user_remain" type="button">Удержание старых пользователей</button>
                    <button name="group_tab" class="btn btn-white" id="new_role_remain" type="button">Удержание новых персонажей</button>
                </div>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>


    <script th:inline="javascript">
        var prefix = ctx + "stat/stat_remain";
        var helptip = "<span style='color:Black'> " +
            "<b>Описание функционала (нажмите Esc для закрытия)</b></br>" +
            "- Статистика удержания для разных типов игроков на 1-30, 45, 60, 120 дней.</br>" +
            "- Отображается по датам, данные агрегируются по серверу без привязки к дате</br>" +
            "<b>Пояснение к метрикам</b></br>" +
            "- Day 2 Retention: количество игроков, вошедших на следующий день после первого входа / общее количество игроков за день</br>" +
            "- Day 3 Retention: количество игроков, вошедших на 3-й день / общее количество игроков за день</br>" +
            "- Day 7 Retention: количество игроков, вошедших на 7-й день / общее количество игроков за день</br>" +
            "- Day 30 Retention: количество игроков, вошедших на 30-й день / общее количество игроков за день</br>" +
            "- Новые пользователи: новые аккаунты за день</br>" +
            "- Платящие пользователи: пользователи, совершавшие платежи</br>" +
            "- Старые пользователи: аккаунты, которые входили до текущего дня и вошли в текущий день</br>" +
            "- Новые персонажи: новые созданные персонажи за день" +
            "</span>";

        $(function() {
            $("button[name='group_tab']").bind("click",function(e){
                $("button[name='group_tab']").removeClass();
                $("button[name='group_tab']").addClass("btn btn-white");
                $("#"+e.target.id+"").removeClass();
                $("#"+e.target.id+"").addClass("btn btn-primary");
                $.table.destroy('bootstrap-table');
                initRemainTable(e.target.id);
            });
            // По умолчанию инициализируем первую вкладку
            initRemainTable("new_user_remain");
        });

        /**
         * Таблица удержания
         * @param name
         */
        function initRemainTable(remainType) {
            var caclNewCountNameMap = {};
            caclNewCountNameMap["new_user_remain"] = "Новые пользователи";
            caclNewCountNameMap["new_user_pay_remain"] = "Платящие пользователи";
            caclNewCountNameMap["old_user_remain"] = "Старые пользователи";
            caclNewCountNameMap["new_role_remain"] = "Новые персонажи";
            var options = {
                pageSize: 10000000,
                pageList: [],
                //singleSelect: false,
                url: prefix + "/list?remainType="+remainType,
                modalName: remainType,
                fixedColumns: true,
                fixedNumber: 1,
                striped: true,
                firstLoad:false,
                pagination: false,
                showExport:true,
                columns: [
                    {
                        field: 'caclStartTime',
                        title: 'Дата',
                        formatter: function(value, row, index) {
                            return  value.replace('-','/').replace('-','/');
                        }

                    },{
                        field: 'diffDay',
                        title: 'День',
                    }
                    ,{
                        field: 'currDayKeep',
                        title: 'Удержание за текущий день',
                    },
                    {
                        field: 'caclNewCount',
                        title: caclNewCountNameMap[remainType],
                    },
                    {
                        field: 'keep2',
                        title: 'День 2'
                    }]
            };
            var list = []
            for(var j = 3;j<31;j++ ){
                list.push(j)
            }
            list.push(45);
            list.push(60);
            list.push(120);
            for(var i =0;i<list.length;i++){
                options.columns.push({
                    field: 'keep'+list[i],
                    title: 'День '+list[i]
                });
            }
            $.table.init(options);
        }
    </script>
</body>
</html>