<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gm.project.gmtool.mail.mapper.MailDataMapper">
    
    <resultMap type="MailData" id="MailDataResult">
        <result property="id"    column="id"    />
        <result property="groupName"    column="groupName"    />
        <result property="serverId"    column="serverId"    />
        <result property="roleIds"    column="roleIds"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="items"    column="items"    />
        <result property="reason"    column="reason"    />
        <result property="createDate"    column="createDate"    />
        <result property="createUser"    column="createUser"    />
        <result property="adminUser"    column="adminUser"    />
        <result property="adminDate"    column="adminDate"    />
        <result property="adminState"    column="adminState"    />
        <result property="sendState"    column="sendState"    />
        <result property="sendErrorMess"    column="sendErrorMess"    />
        <result property="isDelete"    column="isDelete"    />
        <result property="sended"    column="sended"    />
    </resultMap>

    <sql id="selectMailDataVo">
        select id, groupName, serverId, roleIds, title, content, items, reason, createDate, createUser, adminUser, adminDate, adminState, sendState, sendErrorMess, isDelete, sended from t_mail
    </sql>

    <select id="selectMailDataList" parameterType="MailData" resultMap="MailDataResult">
        <include refid="selectMailDataVo"/>
        <where>  
            <if test="groupName != null  and groupName != ''"> and groupName like concat('%', #{groupName}, '%')</if>
            <if test="serverId != null "> and serverId = #{serverId}</if>
            <if test="roleIds != null  and roleIds != ''"> and roleIds = #{roleIds}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="items != null  and items != ''"> and items = #{items}</if>
            <if test="reason != null  and reason != ''"> and reason = #{reason}</if>
            <if test="createDate != null  and createDate != ''"> and createDate = #{createDate}</if>
            <if test="createUser != null  and createUser != ''"> and createUser = #{createUser}</if>
            <if test="adminUser != null  and adminUser != ''"> and adminUser = #{adminUser}</if>
            <if test="adminDate != null  and adminDate != ''"> and adminDate = #{adminDate}</if>
            <if test="adminState != null "> and adminState = #{adminState}</if>
            <if test="sendState != null "> and sendState = #{sendState}</if>
            <if test="sendErrorMess != null  and sendErrorMess != ''"> and sendErrorMess = #{sendErrorMess}</if>
            <if test="isDelete != null "> and isDelete = #{isDelete}</if>
            <if test="sended != null "> and sended = #{sended}</if>
        </where>
        order by id desc
    </select>
    
    <select id="selectMailDataById" parameterType="Long" resultMap="MailDataResult">
        <include refid="selectMailDataVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMailData" parameterType="MailData" useGeneratedKeys="true" keyProperty="id">
        insert into t_mail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="groupName != null">groupName,</if>
            <if test="serverId != null">serverId,</if>
            <if test="roleIds != null and roleIds != ''">roleIds,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="items != null">items,</if>
            <if test="reason != null and reason != ''">reason,</if>
            <if test="createDate != null">createDate,</if>
            <if test="createUser != null">createUser,</if>
            <if test="adminUser != null">adminUser,</if>
            <if test="adminDate != null">adminDate,</if>
            <if test="adminState != null">adminState,</if>
            <if test="sendState != null">sendState,</if>
            <if test="sendErrorMess != null">sendErrorMess,</if>
            <if test="isDelete != null">isDelete,</if>
            <if test="sended != null">sended,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="groupName != null">#{groupName},</if>
            <if test="serverId != null">#{serverId},</if>
            <if test="roleIds != null and roleIds != ''">#{roleIds},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="items != null">#{items},</if>
            <if test="reason != null and reason != ''">#{reason},</if>
            <if test="createDate != null">#{createDate},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="adminUser != null">#{adminUser},</if>
            <if test="adminDate != null">#{adminDate},</if>
            <if test="adminState != null">#{adminState},</if>
            <if test="sendState != null">#{sendState},</if>
            <if test="sendErrorMess != null">#{sendErrorMess},</if>
            <if test="isDelete != null">#{isDelete},</if>
            <if test="sended != null">#{sended},</if>
         </trim>
    </insert>

    <update id="updateMailData" parameterType="MailData">
        update t_mail
        <trim prefix="SET" suffixOverrides=",">
            <if test="groupName != null">groupName = #{groupName},</if>
            <if test="serverId != null">serverId = #{serverId},</if>
            <if test="roleIds != null and roleIds != ''">roleIds = #{roleIds},</if>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="items != null">items = #{items},</if>
            <if test="reason != null and reason != ''">reason = #{reason},</if>
            <if test="createDate != null">createDate = #{createDate},</if>
            <if test="createUser != null">createUser = #{createUser},</if>
            <if test="adminUser != null">adminUser = #{adminUser},</if>
            <if test="adminDate != null">adminDate = #{adminDate},</if>
            <if test="adminState != null">adminState = #{adminState},</if>
            <if test="sendState != null">sendState = #{sendState},</if>
            <if test="sendErrorMess != null">sendErrorMess = #{sendErrorMess},</if>
            <if test="isDelete != null">isDelete = #{isDelete},</if>
            <if test="sended != null">sended = #{sended},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMailDataById" parameterType="Long">
        delete from t_mail where id = #{id}
    </delete>

    <delete id="deleteMailDataByIds" parameterType="String">
        delete from t_mail where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="selectWaitDealMail" resultMap="MailDataResult">
        select * from t_mail where isDelete = 0 and adminState = 1
    </select>
    <select id="selectMineMail" parameterType="java.util.Map" resultMap="MailDataResult">
        select * from t_mail where isDelete = 0 and adminState &gt; 2 and createUser = #{createUser} and createDate &lt;= #{createDate} order by id desc
    </select>
    <select id="selectHistoryMail" parameterType="java.util.Map" resultMap="MailDataResult">
        select * from t_mail where isDelete = 0 and adminState &gt;= 2 order by id desc
    </select>

    <select id="selectMailByState" resultMap="MailDataResult">
        select * from t_mail where isDelete = 0 and adminState &lt; 3
    </select>
</mapper>