<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('公告管理列表')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>公告名：</label>
                            <input type="text" name="noticeName"/>
                        </li>
                        <li>
                            <label>公告类型：</label>
                            <select name="noticeType" th:with="type=${@dict.getType('notice_type')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <label>开始时间：</label>
                            <input type="text" class="form-control" readonly placeholder="请选择开始时间" name="startTime"/>
                        </li>
                        <li>
                            <label>结束时间：</label>
                            <input type="text" class="form-control" readonly placeholder="请选择结束时间" name="endTime"/>
                        </li>
                        <li>
                            <label>状态：</label>
                            <select name="status" th:with="type=${@dict.getType('notice_status')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="serverListConfig:notice:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="serverListConfig:notice:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="serverListConfig:notice:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <!--<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="serverListConfig:notice:export">-->
                <!--<i class="fa fa-download"></i> 导出-->
            <!--</a>-->
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: datetimepicker-js" />
<script th:src="@{/ruoyi/js/global.js}"></script>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('serverListConfig:notice:edit')}]];
    var removeFlag = [[${@permission.hasPermi('serverListConfig:notice:remove')}]];
    var noticeTypeDatas = [[${@dict.getType('notice_type')}]];
    var autoDatas = [[${@dict.getType('notice_auto')}]];
    var statusDatas = [[${@dict.getType('notice_status')}]];
    var prefix = ctx + "serverListConfig/notice";

    $(function () {
        loadChannels();
    });
    $(function() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "公告管理",
            columns: [{
                checkbox: true
                },
                {
                    field: 'noticeId',
                    title: '公告ID',
                    visible: false
                },
                {
                    field: 'noticeName',
                    title: '公告名'
                },
                {
                    field: 'noticeType',
                    title: '公告类型',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(noticeTypeDatas, value);
                    }
                },
                {
                    field: 'noticeContent',
                    title: '公告内容'
                },
                {
                    field: 'channel',
                    title: '渠道',
                    formatter:function (value, row, index) {
                        var html="";
                        if (value != "" && value != undefined && value != null){
                            var channelIdsArr=value.split(",");
                            for (var i=0;i<channelIdsArr.length;i++){
                                if (channelInfo.get(channelIdsArr[i]) != undefined){
                                    html+=channelInfo.get(channelIdsArr[i])+"("+channelIdsArr[i]+") ";
                                } else {
                                    continue;
                                }
                            }
                        }
                        return '<input type=\'button\' name=\'dataBtn\' value=\'∨\' onclick=\'showDetail(this)\'><label style=\'display:none\'>'+html+'</label>';
                    }
                },
                {
                    field: 'remark',
                    title: '备注'
                },
                {
                    field: 'auto',
                    title: '是否自动弹出',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(autoDatas, value);
                    }
                },
                {
                    field: 'startTime',
                    title: '开始时间'
                },
                {
                    field: 'endTime',
                    title: '结束时间'
                },
                {
                    field: 'status',
                    title: '状态',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(statusDatas, value);
                    }
                },
                {
                    field: 'createBy',
                    title: '创建人'
                },
                {
                    field: 'createTime',
                    title: '创建时间'
                },
                {
                    field: 'updateBy',
                    title: '更新人'
                },
                {
                    field: 'updateTime',
                    title: '更新时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.noticeId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.noticeId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

    $("input[name='startTime']").datetimepicker({
        CustomFormat: "yyyy-mm-dd hh:mm:ss",
        // minView: "month",
        autoclose: true
    });

    $("input[name='endTime']").datetimepicker({
        CustomFormat: "yyyy-mm-dd hh:mm:ss",
        // minView: "month",
        autoclose: true
    });
</script>
</body>
</html>