<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改合服')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-hefu-edit" th:object="${hefu}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">源服务器：</label>
                <div class="col-sm-8">
                    <input name="fromServer" th:field="*{fromServer}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">目标服务器：</label>
                <div class="col-sm-8">
                    <input name="toServer" th:field="*{toServer}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">cn:国内，tw:台湾，kor:韩国，yn:越南，thai:泰国，ros:新马,en:英语：</label>
                <div class="col-sm-8">
                    <input name="language" th:field="*{language}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">当前进度：</label>
                <div class="col-sm-8">
                    <input name="step" th:field="*{step}" class="form-control" type="text" required>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "gmtool/hefu";
        $("#form-hefu-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-hefu-edit').serialize());
            }
        }
    </script>
</body>
</html>