<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('聊天黑名单')" />
    <th:block th:include="include :: footer" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <div th:replace="common/select_server_single.html"></div>
                            <!--此处作为服务器请求分组地址映射设置地方-->
                            <input type="hidden" id="requestUrl" value="gameServer">
                            <input type="hidden" id="ignoreMerge" value="1">

                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;查询</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()">
                <i class="fa fa-plus"></i> 添加
            </a>
<!--            <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="gmtool:banChat:edit">-->
<!--                <i class="fa fa-edit"></i> 修改-->
<!--            </a>-->
<!--            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="gmtool:banChat:removeBlackList">-->
<!--                <i class="fa fa-remove"></i> 删除-->
<!--            </a>-->
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="gmtool:banChat:exportBlackList">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<script th:inline="javascript">
    // var editFlag = [[${@permission.hasPermi('gmtool:banChat:editBlackList')}]];
    // var removeFlag = [[${@permission.hasPermi('gmtool:banChat:removeBlackList')}]];
    var prefix = ctx + "gmtool/banChat";

    $(function() {
        var op = {
            url: prefix + "/searchBlackList",
            createUrl: prefix + "/addBlackList",
            // removeUrl: prefix + "/removeBlackList?serverId="+$("#select_server").val()+"&id={id}",
            exportUrl: prefix + "/exportBlackList",
            modalName: "黑名单列表",
            pagination: false,
            firstLoad: false,
            columns: [{
                checkbox: false
            },
            {
                field: 'id',
                title: 'id'
            },
            {
                field: 'userId',
                title: '用户ID'
            },
            {
                title: '操作',
                align: 'center',
                formatter: function(value, row, index) {
                    var actions = [];
                    actions.push('<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="removeData(\'' + row.id + '\')">删除</a>');
                    // actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                    return actions.join('');
                }
            }
            ],
            onLoadSuccess: function(data) {
            },
            onPostBody: function(data) {
            }
        };

        $.table.init(op);
    });

    function removeData(id) {
        $.ajax({
            type: "POST",
            url: prefix + "/removeBlackList",
            data: {
                "serverId" : $("#select_server").val(),
                "id" : id
            },
            // data:$("#formId2").serialize(),
            dataType: "json",
            success: function(data){
                if (!data.ok) {
                    $.modal.alertError(data.msg);
                }else {
                    $.modal.alertSuccess("操作成功");
                }
                $.table.refresh();
            }
        });
    }

</script>
</body>
</html>