<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('Список разблокировки чата')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="gmtool:banChat:export">
                    <i class="fa fa-download"></i> Экспорт
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        // var editFlag = [[${@permission.hasPermi('gmtool:banChat:edit')}]];
        // var removeFlag = [[${@permission.hasPermi('gmtool:banChat:remove')}]];
        var prefix = ctx + "gmtool/banChat";

        $(function() {
            var options = {
                url: prefix + "/list",
                // createUrl: prefix + "/add",
                // updateUrl: prefix + "/edit/{id}",
                // removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "Разблокировка чата",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '',
                    visible: false
                },
                {
                    field: 'userId',
                    title: 'Аккаунт для блокировки чата'
                },
                {
                    field: 'crimeType',
                    title: 'Тип нарушения: 1 — нелегальная деятельность, 2 — запрещённая информация'
                },
                {
                    field: 'banType',
                    title: 'Тип блокировки чата: 1 — блокировка фермеров, 2 — замена текста, 3 — блокировка по ключевым словам, 4 — обычная блокировка, 5 — скрытая блокировка, 6 — изоляционная блокировка'
                },
                {
                    field: 'endTime',
                    title: 'Окончание блокировки'
                },
                {
                    field: 'reason',
                    title: 'Причина'
                },
                {
                    field: 'serverIds',
                    title: 'Отправлено на игровые серверы'
                },
                {
                    field: 'state',
                    title: 'Статус: 0 — заблокирован, 1 — разблокирован'
                },
                {
                    title: 'Действия',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="unBanChat(' + row.id + ')">Разблокировать чат</a> ');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

        // Разблокировка чата
        function unBanChat(id){
            $.modal.confirm("Подтвердить разблокировку?", function () {
                $.ajax({
                    url: prefix + "/unBan",
                    method: 'POST',
                    dataType: 'json',
                    data: {
                        "id": id
                    },
                    beforeSend: function () {
                        $.modal.loading("Обработка, подождите...");
                        $.modal.disable();
                    },
                    success: function (data) {
                        $.modal.alertWarning(data.msg);
                        $.modal.closeLoading();
                        $.modal.enable();
                        $.table.refresh();
                    }
                });
            });
        }
    </script>
</body>
</html>