<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('Обзор платежей')" />
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: bootstrap-table-export-js" />
</head>
<body class="gray-bg">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div th:replace="common/stat_group_server_head.html"></div>
                    <div class="row select-list" style="padding-left: 15px; margin-bottom: 10px;">
                        <ul>
                            <div th:replace="common/stat_date_head.html"></div>
                            <div th:replace="common/stat_black_list_head.html"></div>
                            <div th:replace="common/stat_search_head.html"></div>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="gamelog:backgmcmdlog:export">
                    <i class="fa fa-download"></i> Экспорт
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
<script th:inline="javascript">
    var prefix = ctx + "stat/stat_recharge_overview";
    $(function() {
        var options = {
            url: prefix + "/stat_recharge_overview",
            modalName: "Обзор платежей",
            pagination: false,
            firstLoad:false,
            showExport:true,
            columns: [{
                field: 'date',
                title: 'Дата',
            }
            ,{
                field: 'totalPayment',
                title: 'Общая сумма платежей',
            },{
                    field: 'DAU',
                    title: 'DAU',
                },{
                    field: 'newUsers',
                    title: 'Новые аккаунты за день',
                },{
                    field: 'rechargeUsers',
                    title: 'Платящие аккаунты за день',
                },{
                    field: 'newRechargeUsers',
                    title: 'Новые платящие аккаунты',
                },{
                    field: 'oldRechargeUsers',
                    title: 'Платящие аккаунты (старые игроки)',
                },{
                    field: 'newRechargeRate',
                    title: 'Доля платящих среди новых',
                },{
                    field: 'oldRechargeRate',
                    title: 'Доля платящих среди старых',
                },{
                    field: 'rechargeRate',
                    title: 'Общая доля платящих',
                },{
                    field: 'ARPU',
                    title: 'ARPU',
                },{
                    field: 'ARPPU',
                    title: 'ARPPU',
                }]
        };
        $.table.init(options);
    });

</script>
</body>
</html>