<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('Список писем')" />
    <th:block th:include="include :: footer" />
    <style type="text/css">
        .table {table-layout:fixed;}
    </style>
</head>
<body class="gray-bg">
<div class="container-fluid">

    <div class="container-fluid" style="margin-top: 10px">
        <a id="mail1" class="label label-info" onclick="toggleTable(waitDealDiv)">Ожидают обработки</a>
        <div class="btn-group-sm" id="toolbar1" role="group">
            <a class="btn btn-warning" onclick="oneKeySend()">Отправить всё</a>
        </div>
        <form id="waitDealForm" style="display: none">
            <div class="select-list">
                <ul>
                    <li>
                        <input type="hidden" name="type" value="1">
                    </li>
                </ul>
            </div>
        </form>
        <div id="waitDealDiv" class="col-sm-12 select-table table-striped"
             style="word-break:break-all; word-wrap:break-all;">
            <table id="waitDeal"></table>
        </div>
    </div>

    <div class="container-fluid" style="margin-top: 10px">
        <a id="mail2" class="label label-info" onclick="toggleTable(mineDiv)">Мои письма</a>
        <form id="mineForm" style="display: none">
            <div class="select-list">
                <ul>
                    <li>
                        <input type="hidden" name="type" value="2">
                    </li>
                </ul>
            </div>
        </form>
        <div id="mineDiv" class="col-sm-12 select-table table-striped"
             style="word-break:break-all; word-wrap:break-all;">
            <table id="mine"></table>
        </div>
    </div>

    <div class="container-fluid" style="margin-top: 10px">
        <a id="mail3" class="label label-info" onclick="toggleTable(historyDiv)">История</a>
        <form id="historyForm" style="display: none">
            <div class="select-list">
                <ul>
                    <li>
                        <input type="hidden" name="type" value="3">
                    </li>
                </ul>
            </div>
        </form>
        <div id="historyDiv" class="col-sm-12 select-table table-striped"
             style="word-break:break-all; word-wrap:break-all;">
            <table id="history"></table>
        </div>
    </div>
</div>
    <script th:inline="javascript">
        var prefix = ctx + "gmtool/mail";
        var items = new Map();
        $(function () {
            loadAllItem2();
            initAllMailList();
        });
        function initAllMailList() {
            initWaitDeal();
            initMine();
            initHistory();
        }

        function loadAllMailList() {
            $.table.search("waitDealForm","waitDeal");
            $.table.search("mineForm","mine");
            $.table.search("historyForm","history");
        }

        function initWaitDeal() {
            var options = {
                id:"waitDeal",
                formId:"waitDealForm",
                toolbar: "toolbar1",
                url: prefix + "/list",
                showSearch: false,
                showRefresh: false,
                showToggle: false,
                showColumns: false,
                modalName: "Список писем",
                columns: [
                    {
                        field: 'id',
                        title: '№'
                    },
                    {
                        field: 'serverId',
                        title: 'Сервер'
                    },
                    {
                        field: 'roleIds',
                        title: 'ID персонажа',
                        formatter:formatterValue
                    },
                    {
                        field: 'title',
                        title: 'Тема письма'
                    },
                    {
                        field: 'content',
                        title: 'Текст письма',
                        formatter:formatterValue
                    },
                    {
                        field: 'reason',
                        title: 'Причина отправки'
                    },
                    {
                        field: 'items',
                        title: 'Вложение'
                    },
                    {
                        field: 'items',
                        title: 'Текст письма с вложением',
                        formatter:formatItems
                    },
                    {
                        field: 'createUser',
                        title: 'Создатель'
                    },
                    {
                        field: 'createDate',
                        title: 'Время создания'
                    },
                    {
                        field: 'adminState',
                        title: 'Статус письма',
                        formatter:formatterState
                    },
                    {
                        title: 'Действия',
                        align: 'center',
                        width:250,
                        formatter: function(value, row, index) {
                            var actions = [];
                            actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="operateMail(' + row.id + ',1)">Одобрить отправку</a> ');
                            actions.push('<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="operateMail(' + row.id + ',2)">Отклонить</a> ');
                            return actions.join('');
                        }
                    }]
            };
            $.table.init(options);
            // console.log(table.options.formId)
        }

        function initMine() {
            var options = {
                id:"mine",
                formId:"mineForm",
                url: prefix + "/list",
                showSearch: false,
                showRefresh: false,
                showToggle: false,
                showColumns: false,
                modalName: "Список писем",
                columns: [
                    {
                        field: 'id',
                        title: '№'
                    },
                    {
                        field: 'serverId',
                        title: 'Сервер'
                    },
                    {
                        field: 'roleIds',
                        title: 'ID персонажа',
                        formatter:formatterValue
                    },
                    {
                        field: 'title',
                        title: 'Тема письма'
                    },
                    {
                        field: 'content',
                        title: 'Текст письма',
                        formatter:formatterValue
                    },
                    {
                        field: 'reason',
                        title: 'Причина отправки'
                    },
                    {
                        field: 'items',
                        title: 'Вложение'
                    },
                    {
                        field: 'items',
                        title: 'Текст письма с вложением',
                        formatter:formatItems
                    },
                    {
                        field: 'createUser',
                        title: 'Создатель'
                    },
                    {
                        field: 'createDate',
                        title: 'Время создания'
                    },
                    {
                        field: 'adminUser',
                        title: 'Подтвердил'
                    },
                    {
                        field: 'adminDate',
                        title: 'Время подтверждения'
                    },
                    {
                        field: 'sendErrorMess',
                        title: 'Примечание'
                    },
                    {
                        field: 'adminState',
                        title: 'Статус письма',
                        formatter:formatterState
                    },
                    {
                        title: 'Действия',
                        align: 'center',
                        width:250,
                        formatter: function(value, row, index) {
                            var actions = [];
                            actions.push('<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="operateMail(' + row.id + ',3)">Удалить</a> ');
                            return actions.join('');
                        }
                    }]
            };
            $.table.init(options);
            // console.log(table.options.formId)
        }

        function initHistory() {
            var options = {
                id:"history",
                formId:"historyForm",
                url: prefix + "/list",
                showSearch: false,
                showRefresh: false,
                showToggle: false,
                showColumns: false,
                modalName: "Список писем",
                columns: [
                    {
                        field: 'id',
                        title: '№'
                    },
                    {
                        field: 'serverId',
                        title: 'Сервер'
                    },
                    {
                        field: 'roleIds',
                        title: 'ID персонажа',
                        formatter:formatterValue
                    },
                    {
                        field: 'title',
                        title: 'Тема письма'
                    },
                    {
                        field: 'content',
                        title: 'Текст письма',
                        formatter:formatterValue
                    },
                    {
                        field: 'reason',
                        title: 'Причина отправки'
                    },
                    {
                        field: 'items',
                        title: 'Вложение'
                    },
                    {
                        field: 'items',
                        title: 'Текст письма с вложением',
                        formatter:formatItems
                    },
                    {
                        field: 'createUser',
                        title: 'Создатель'
                    },
                    {
                        field: 'createDate',
                        title: 'Время создания'
                    },
                    {
                        field: 'adminUser',
                        title: 'Подтвердил'
                    },
                    {
                        field: 'adminDate',
                        title: 'Время подтверждения'
                    },
                    {
                        field: 'sendErrorMess',
                        title: 'Примечание'
                    },
                    {
                        field: 'adminState',
                        title: 'Статус письма',
                        formatter:formatterState
                    }]
            };
            $.table.init(options);
            // console.log(table.options.formId)
        }

        // Отправить всё
        function oneKeySend() {
            $.ajax({
                url: prefix + "/onekeySend",
                method: 'POST',
                beforeSend: function () {
                    $.modal.loading("Обработка, подождите...");
                    $.modal.disable();
                },
                success: function (data) {
                    if (data.ok){
                        // $("#loadingmodal").modal('hide');
                        loadAllMailList();
                    } else {
                        loadAllMailList();
                        $.modal.alertError(data.msg);
                    }
                    $.modal.closeLoading();
                    $.modal.enable();
                }
            });
        }

        // Операции с письмами: 1 — одобрить отправку, 2 — отклонить, 3 — удалить
        function operateMail(id, type){
            console.log("id:"+id);
            $.ajax({
                url: prefix + "/adminMail",
                method: 'POST',
                dataType : 'json',
                data:{
                    "id":id,
                    "type":type
                },
                beforeSend: function () {
                    $.modal.loading("Обработка, подождите...");
                    $.modal.disable();
                },
                success: function (data) {
                    if (data.ok){
                        // $("#loadingmodal").modal('hide');
                        loadAllMailList();
                    } else {
                        loadAllMailList();
                        $.modal.alertError(data.msg);
                    }
                    $.modal.closeLoading();
                    $.modal.enable();
                }
            });
        }

    </script>
</body>
</html>