<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('Статистика персонажей по всем серверам')"/>
    <th:block th:include="include :: footer"/>

</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">


            <form id="formId">

                <div class="row select-list" style="padding-left: 15px; margin-bottom: 10px;">
                    <ul>
                        <div th:replace="common/stat_single_server_head.html"></div>
                    </ul>
                </div>
                <div class="row select-list" style="padding-left: 15px; margin-bottom: 10px;">
                    <ul>
                        <li>
                            <label style="width: auto">Тип сортировки:</label>
                            <select id="sortType" name="sortType">
                                <option value="rechargeGold" selected="selected">Пополнено слитков</option>
                                <option value="gold">Остаток слитков</option>
                            </select>
                        </li>
                        <div th:replace="common/stat_search_head.html"></div>
                    </ul>
                </div>

            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-warning" onclick="$.table.exportExcel()"
               shiro:hasPermission="stat:stat_level_distribute:export">
                <i class="fa fa-download"></i> Экспорт
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>

<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('stat:stat_level_distribute:edit')}]];
    var removeFlag = [[${@permission.hasPermi('stat:stat_level_distribute:remove')}]];
    var prefix = ctx + "stat/stat_role";

    $(function () {
        var options = {
            url: prefix + "/stat_role",
            modalName: "Статистика персонажей по всем серверам",
            firstLoad: false,

            columns: [{
                checkbox: true
            },
                {
                    field: 'platformName',
                    title: 'Канал'
                },
                {
                    field: 'createsid',
                    title: 'ID сервера создания'
                },
                {
                    field: 'funcellUUid',
                    title: 'Имя аккаунта'
                },
                {
                    field: 'userId',
                    title: 'ID пользователя'
                },
                {
                    field: 'roleId',
                    title: 'ID персонажа'
                },
                {
                    field: 'roleName',
                    title: 'Имя персонажа'
                },
                {
                    field: 'level',
                    title: 'Уровень персонажа',
                    formatter: formatterRoleLevel
                },
                {
                    field: 'onlineTime',
                    title: 'Время онлайн (сек.)'
                },
                {
                    field: 'rechargeGold',
                    title: 'Пополнено слитков'
                },
                {
                    field: 'gold',
                    title: 'Остаток слитков'
                },
                {
                    field: 'createTimeStr',
                    title: 'Время создания персонажа'
                },
                {
                    field: 'isDelete',
                    title: 'Удалён'
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>