<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('Журнал переноса персонажей')" />
    <th:block th:include="include :: footer" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <div th:replace="common/query_game_role.html"></div>
            </div>
            <div class="col-sm-12 search-collapse">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Перенос персонажа</h5>
                    </div>
                    <div class="ibox-content">
                        <form id="transferForm" class="form-horizontal m-t" method="post">
                            <div id="roleDiv" class="form-group">
                                <label class="col-sm-2 control-label is-required" for="roleId">ID персонажа:</label>
                                <div class="col-sm-3">
                                    <input class="form-control" id="roleId" type="text" name="roleId" required/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label is-required" for="userId">ID целевого аккаунта:</label>
                                <div class="col-sm-3">
                                    <input class="form-control" id="userId" type="text" name="userId" required/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="reason" class="col-sm-2 control-label is-required">Причина операции:</label>
                                <div class="col-sm-4">
                                    <input id="reason" type="text" name="reason" class="form-control" required/>
                                </div>
                            </div>
                            <div class="form-group" style="margin-left: 4px">
                                <label class="col-sm-2 control-label"></label>
                                <button type="button" class="btn btn-success" onclick="transfer()">
                                    Отправить
                                </button>
                                <button type="button" class="btn btn-primary" onclick="showList()">
                                    Просмотр записей
                                </button>
                            </div>

                            <div id="msg" class="container-fluid"></div>
                        </form>
                    </div>
                </div>

                <div class="col-sm-12 select-table table-striped" id="tableDiv">
                    <table id="bootstrap-table"></table>
                </div>
            </div>
        </div>

     </div>
    <script th:inline="javascript">
        var prefix = ctx + "gmtool/roleTransfer";

        $(function () {
           $("#tableDiv").hide();
        });

        $(function() {
            var options = {
                id:"bootstrap-table",
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                showSearch:false,
                modalName: "Журнал переноса персонажей",
                columns: [
                {
                    field: 'roleId',
                    title: 'ID персонажа'
                },
                {
                    field: 'srcUserId',
                    title: 'ID исходного аккаунта'
                },
                {
                    field: 'targetUserId',
                    title: 'ID целевого аккаунта'
                },
                {
                    field: 'serverId',
                    title: 'ID сервера'
                },
                {
                    field: 'reason',
                    title: 'Причина операции'
                },
                {
                    field: 'time',
                    title: 'Время выполнения'
                }]
            };
            $.table.init(options);
        });

        // Операция переноса персонажа
        function transfer() {
            var select_server = $("#select_server").val();
            if (!$('#transferForm').validate().form()) {
                $.modal.msgError("Ошибка валидации");
                return;
            }

            $.ajax({
                url: prefix + "/transfer",
                method: "post",
                data: {
                    serverId: $("#select_server").val(),
                    roleId: $("#roleId").val(),
                    userId: $("#userId").val(),
                    reason: $("#reason").val()
                },
                success: function(data) {
                    if (data.ok) {
                        $("#transferForm")[0].reset();
                        $.modal.alertSuccess(data.msg);
                        $("#select_server").val(select_server);
                        $.table.refresh("roleTable");
                        showList();
                    }else {
                        $.modal.alertError(data.msg);
                    }
                }
            });
        }

        // Просмотр записей переноса персонажей
        function showList() {
            $("#tableDiv").show();
            $.table.refresh("bootstrap-table");
        }
    </script>
</body>
</html>